<?php
    /** @var NetConsult_Polarpumpen_Block_Location_Tab $block */
    $block = $this;
?>
<div class="grid12-6">
    <div class="inner-grid">
        <?php echo $block->getChildHtml('local_tab_information') ?>
        <?php echo $block->getChildHtml('general_tab_information') ?>
    </div>
</div>
<div class="grid12-6">
    <div class="inner-grid">
        <?php echo $block->getChildHtml('local_right_section') ?>
    </div>
</div>