<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Stockstatus
 */
?>
<script type="text/javascript">
amstockstatus_ranges_cnt = 0;
function amstockstatus_addRange(from, to, status, rule)
{
    if ('undefined' == typeof(from))
    {
        from = '';
    }
    if ('undefined' == typeof(to))
    {
        to = '';
    }
    if ('undefined' == typeof(status))
    {
        status = '';
    }
    if ('undefined' == typeof(rule))
    {
        rule = '';
    }
    tbd = $('ranges_table_body');
    row = document.createElement('tr');
    row.setAttribute('id', 'amstockstatus_range_row_' + amstockstatus_ranges_cnt);
    tbd.appendChild(row);
    
    cell = document.createElement('td');
    cell.innerHTML = '<input class="input-text" type="text" size="11" name="amstockstatus_range[' + amstockstatus_ranges_cnt +  '][from]" value="' + from + '" />';
    row.appendChild(cell);
    
    cell = document.createElement('td');
    cell.innerHTML = '<input class="input-text" type="text" size="11" name="amstockstatus_range[' + amstockstatus_ranges_cnt +  '][to]" value="' + to + '" />';
    row.appendChild(cell);
    
    cell = document.createElement('td');
    cell.innerHTML = '<select name="amstockstatus_range[' + amstockstatus_ranges_cnt +  '][status]">' 
    <?php
    foreach ($this->getOptionsCollection() as $option):
    ?>
     + '<option value="<?php echo $option->getData('option_id'); ?>" ' 
                + ((status == <?php echo str_replace("'", '&apos;', $option->getData('option_id')); ?>) ? 'selected="selected"' : '') 
                                                            + '><?php echo  str_replace("'", '&apos;', $option->getData('value')); ?></option>'
    <?php
    endforeach;
    ?>
     + '</select>';
    row.appendChild(cell); 
      
    <?php if( Mage::getStoreConfig('amstockstatus/general/use_range_rules')): ?>
        cell = document.createElement('td');
        cell.innerHTML = '<select style="min-width:110px;" name="amstockstatus_range[' + amstockstatus_ranges_cnt +  '][rule]">' 
         + '<option value=""></option>'
        <?php
        foreach ($this->getRuleCollection() as $option):
        ?>
         + '<option value="<?php echo $option->getData('option_id'); ?>" ' 
                    + ((rule == <?php echo str_replace("'", '&apos;', $option->getData('option_id')); ?>) ? 'selected="selected"' : '') 
                                                                + '><?php echo  str_replace("'", '&apos;', $option->getData('value')); ?></option>'
        <?php
        endforeach;
        ?>
         + '</select>';
        row.appendChild(cell);
    <?php endif; ?>
    
    
    cell = document.createElement('td');
    cell.innerHTML = '[ <a href="#" onclick="$(\'ranges_table_body\').removeChild($(\'amstockstatus_range_row_' + amstockstatus_ranges_cnt + '\'));"><?php echo $this->__('delete'); ?></a> ]';
    row.appendChild(cell);
    
    amstockstatus_ranges_cnt++;
}

<?php 
$rangesCollection = $this->getRanges();
if ($rangesCollection->getSize() > 0)
{
    ?>
    function amstockstatus_populateRanges()
    {
        <?php foreach ($rangesCollection as $range): ?>
            <?php $rule = Mage::getStoreConfig('amstockstatus/general/use_range_rules') && $range->getData('rule') != ""?  ', '.$range->getData('rule'):""; ?>
            amstockstatus_addRange(<?php echo $range->getData('qty_from'); ?>, <?php echo $range->getData('qty_to'); ?>, <?php echo $range->getData('status_id');?><?php echo $rule;?>);
        <?php endforeach; ?>
    }
    
    Event.observe(window, 'load', amstockstatus_populateRanges);
    <?php
}
?>
</script>


<div class="entity-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('amstockstatus')->__('Stock Status for Quantity Range') ?></h4>
    </div>
    <div class="box">
            <div class="hor-scroll">
                <table cellpadding="5" cellspacing="8" id="ranges_table">
                    <thead>
                        <th><?php echo $this->__('Quantity From'); ?></th>
                        <th><?php echo $this->__('Quantity To'); ?></th>
                        <th><?php echo $this->__('Custom Stock Status'); ?></th>
                        <?php if( Mage::getStoreConfig('amstockstatus/general/use_range_rules')): ?>
                            <th><?php echo $this->__('Stock Status  Rule'); ?></th>
                        <?php endif; ?>
                        <th></th>
                    </thead>
                    <tbody id="ranges_table_body">
                        
                    </tbody>
                </table>
                <br />
                &nbsp;&nbsp;<a href="#" onclick="javascript: amstockstatus_addRange(); return false;"><?php echo $this->__('Add New Range Status'); ?></a>
            </div>
    </div>
</div>