/**
 * MagenMarket.com
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * Edit or modify this file with yourown risk.
 *
 * @category    Extensions
 * @package     Ma2_WidgetProductList
 * @copyright   Copyright (c) 2013 MagenMarket. (http://www.magenmarket.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
**/
/* $Id: ma2_widgetproductlist.css 19 2013-11-16 03:34:59Z linhnt $ */


/* = COMMON ==================*/

.ma2-widgetproductlist {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  display: block; /**/
}

.ma2-widgetproductlist .widget-inner{}
.ma2-widgetproductlist .widget-title{}
.ma2-widgetproductlist .product-items{}
.ma2-widgetproductlist .product-items-inner{}
.ma2-widgetproductlist .product-item{}


/*- Grid view ---*/
.ma2-widgetproductlist.grid-view .product-item{
  float: left;

}

/*New class for expired products centered*/
.ma2-widgetproductlist.grid-view .expiredProduct{
  
  margin-left:auto;
  margin-right:auto;
}

.rtl .ma2-widgetproductlist.grid-view .product-item{
  float: right;
}

/*- List view ---*/
.ma2-widgetproductlist.list-view .product-item{
  float: none;
  clear: both;
  border-bottom: 1px solid #EEE;
}
.ma2-widgetproductlist.list-view .product-item.last{
  /* border-bottom: 0 none; */
}
.ma2-widgetproductlist.list-view .product-info {overflow: hidden;}
.ma2-widgetproductlist.list-view .product-item .product-image{
  float: left;
}
.rtl .ma2-widgetproductlist.list-view .product-item .product-image{
  float: right;
}
.clear{clear:both;}


/* = DEMO STYLES ==================*/
/*
  Styles for demo only => For each theme, should style in theme's css file.
*/

.ma2-widgetproductlist .product-item-inner {padding: 10px;}

/* = STYLE FOR DIFFERENT WIDGET TYPE ==================*/
/*
  Styles for new, featured, best-selling, etc. => For each theme, should style in theme's css file.
*/



