
/* Angular */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Product Configurator */

.pc .form-add {
    padding: 10px;
    display: block;
}

.pc .form-add .input {
    width: 170px;
    float: left;
}

.pc .form-add .input input {
    display: block;
    width: 150px;
    padding: 5px 5px;
}

.pc .form-add .submit {
    width: 30px;
    float: left;
    height: 10px;
}

/* Buttons */

.pc .smallbutton,
.pc .tinybutton {
    width: 18px;
    height: 18px;
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 100%;
    cursor: pointer;
    background: #d7e6e6;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
}

.pc .smallbutton:after,
.pc .tinybutton:after {
    content: '+'
}

.pc .tinybutton {
    padding: 0;
    font-size: 14px;
}

.pc .smallbutton:hover,
.pc .tinybutton:hover {
    background: #c7d5d5;
}

.pc .row-delete {
    position: absolute;
    right: -14px;
    top: 50%;
    margin-top: -14px;
}

.pc .tinybutton.row-delete {
    right: -10px;
    margin-top: -10px;
}

.pc .button-remove {
    color: #fff;
    background: #ff5b53;
    line-height: 16px;
}

.pc .button-remove:hover {
    background: #c8544c;
}

.pc .button-remove:after {
    content: '–';
}

/* Name */

.pc .name {
    border: none;
    font-size: 16px;
    padding: 5px 0;
}

.pc .name:focus,
.pc .name:hover {
    background: #fafafa;
}

/* Matrix */

.pc .matrix .fieldset {
    margin: 0;
}

.pc .matrix {
    padding: 20px 38px 38px 0;
    position: relative;
    margin-bottom: 30px;
}

.pc .matrix th {
    text-align: center;
    font-size: 11px;
}

.pc .matrix input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #d6d6d6;
}

.pc .matrix .corner {
    width: 100px;
    position: relative;
}

.pc .matrix .corner span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    line-height: 1;
}

.pc .matrix .corner span + span {
    bottom: auto;
    left: auto;
    right: 0;
    top: 6px;
}

.pc .matrix th input {
    font-weight: bold;
}

.pc .add-row {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
}

.pc .remove-row {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 5px;
}

.pc .add-column {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -35px;
}

.pc .remove-column {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 5px;
}

/* Supplements */

.pc .supplements {
    float: left;
    width: 100%;
    min-width: 1280px;
}

.pc .supplements select {
    width: 130px !important;
}

.pc .supplement-add {
    width: 220px;
    margin: 0 auto;
    height: 27px;
}

.pc .supplement-choice {
    border: 1px solid #d6d6d6;
    background: #fafafa;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.pc .supplement-choice,
.pc .fieldset {
    position: relative;
}

.pc .form-list td.label,
.pc .form-list td.label label {
    width: 110px;
}

.pc .supplements label {
    padding: 3px 0;
}

.pc .supplements input {
    padding: 3px 5px;
}

.pc .supplement-property {
    height: 30px;
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
}

.pc .supplement-property > label {
    float: left;
    margin-right: 10px;
    text-align: right;
}

.pc .supplement-property.first {
    clear: left;
}

.pc .supplement-property.first > label {
    width: 120px;
}

.pc .supplement-property > div {
    float: left;
    margin-right: 10px;
}

.pc .supplement-pricelist {
    margin-bottom: 20px;
    clear: left;
}

.pc .supplement-pricelist > label {
    float: left;
    width: 120px;
    text-align: right;
}

.pc .supplement-pricelist > div {
    float: none;
    margin-left: 120px;
    width: auto;
    padding-left: 10px;
}

.pc .price-rule {
    padding: 2px 4px;
}

.pc .price-rule a {
    margin-left: 5px;
}

.pc .price-rule:nth-child(even) {
    background: rgba(0, 0, 0, .06);
}

.box-placeholder {
    border: 1px dashed #d6d6d6 !important;
    text-align: center;
    padding: 15px !important;
}

/* Save */

.save-wrapper {
    clear: left;
    padding-top: 50px;
    text-align: center;
}

.save-wrapper a {
    border: 1px solid #d08c39;
    padding: 8px 12px;
    background: #ffac47;
    color: #fff;
    font: bold 12px arial, helvetica, sans-serif;
    cursor: pointer;
    text-align: center !important;
    white-space: nowrap;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.save-wrapper a:hover {
    background: #f1a443
}
.save-message{
    margin-top: 20px;
}
