<div class="before-footer container">
    <div class="bear-large hide-below-768"></div>
    <div class="bear-small hide-below-768"></div>
    <div class="payment"><img alt="Betalsätt" src="<?php echo $this->getSkinUrl('images/payments_bar_small.png'); ?>"/></div>
    <div class="logo hide-below-640"></div>
</div>