<div class="block guide">
    <div class="content">
        <h2>Vilken pump passar hos mig?</h2>

        <form id="guide-block" method="get" action="/luft-luft-varmepump/guide">
            <label><strong>Uppvärmningsyta:</strong></label><br>
            <select name="td_v_kv">
                <option value="10">10 m&#x00B2;</option>
                <option value="20">20 m&#x00B2;</option>
                <option value="30">30 m&#x00B2;</option>
                <option value="40">40 m&#x00B2;</option>
                <option value="50">50 m&#x00B2;</option>
                <option value="60">60 m&#x00B2;</option>
                <option value="70">70 m&#x00B2;</option>
                <option value="80">80 m&#x00B2;</option>
                <option value="90">90 m&#x00B2;</option>
                <option value="100">100 m&#x00B2;</option>
                <option value="110">110 m&#x00B2;</option>
                <option value="120">120 m&#x00B2;</option>
                <option value="130">130 m&#x00B2;</option>
                <option value="140">140 m&#x00B2;</option>
                <option value="150" selected>150 m&#x00B2;</option>
                <option value="160">160 m&#x00B2;</option>
                <option value="170">170 m&#x00B2;</option>
                <option value="180">180 m&#x00B2;</option>
                <option value="190">190 m&#x00B2;</option>
                <option value="200">200 m&#x00B2;</option>
                <option value="210">210 m&#x00B2;</option>
                <option value="220">220 m&#x00B2;</option>
                <option value="230">230 m&#x00B2;</option>
                <option value="240">240 m&#x00B2;</option>
                <option value="250">250 m&#x00B2;</option>
            </select>
            <br><br>
            <label><strong>Planlösning:</strong></label>
            <br>
            <input type="radio" class="radio" name="td_v_kv-area" id="confined" value="0.1">Sluten&nbsp;&nbsp;&nbsp;<input class="radio" type="radio" name="td_v_kv-area" id="half-open" value="0.05">Ganska öppen&nbsp;&nbsp;&nbsp;<input class="radio" type="radio" name="td_v_kv-area" id="open" value="0.0">Öppen

            <input type="hidden" name="td_v_kv-location" value="0.0001"/>
            <input type="hidden" name="td_v_kv-isolation" value="0.1"/>
            <input type="hidden" name="td_v_kvmax"/>
            <br><br>
            <button class="button" type="submit"><span>HITTA RÄTT PUMP</span></button>
        </form>
    </div>
</div>