<?php
    /** @var NetConsult_Polarpumpen_Block_Location $block */
    $block = $this;

    $locationString = $block->getLocationName();
    if (!$locationString) {
        $locationString = "";
    }

    $pageImageAltText = $block->getPageImageAltText();
    if (!$pageImageAltText) {
        $pageImageAltText = "Polarpumpen i " . $locationString;
    }

    $pageImageTitleText = $block->getPageImageTitleText();
    if (!$pageImageTitleText) {
        $pageImageTitleText = "Polarpumpen i " . $locationString;
    }

?>
<div class="location-page">
    <section class="primary-information information inner-container margin-bottom">
        <article class="grid grid12-6 no-gutter">
            <div class="inner-grid">
                <h2>Hjälp med värmepump i <?php echo $locationString; ?>?</h2>
                <div class="paragraph" style="padding-right: 7%">
                    <?php echo $block->getPageInformation(); ?>
                </div>
                <h4 class="call">Ring oss! <?php echo $block->getTelephoneContact(); ?></h4>
                <p>
                    <strong>Vilken värmepump är du intresserad av?</strong>
                    <br/>
										<span class="column-table">
											<button class="text-button" id="luftluft_tab_information">Luft-luft</button> | <button class="text-button" id="luftvatten_tab_information">Luft-vatten</button> | <button class="text-button" id="franluft_tab_information">Frånluft</button> | <button class="text-button" id="bergvarme_tab_information">Bergvärme</button>
										</span>
                </p>
            </div>
        </article>
        <div class="grid grid12-6 no-gutter">
            <?php if ($block->getPageImageUrl()): ?>
                <img src="<?php echo $block->getPageImageUrl(); ?>" alt="<?php echo $pageImageAltText; ?>" title="<?php echo $pageImageTitleText; ?>">
            <?php endif; ?>
        </div>
    </section> <!-- information end -->
    <section class="container-shadow margin-bottom">
        <div class="location-page-selling-point">
            <div>
                <span class="title">Försäljning</span>
                <p>
                    Absolut!
                    <br>
                    <a href="/kontakt" style="font-size: 12px;">Kontakta oss här!</a>
                </p>
            </div>
            <div>
                <span class="title"><a href="/varmepumpar/installation" title="Gå till installation värmepumpar!" style="padding:0px; margin:0px; color: #525455;">Installation</a></span>
                <p>
                    Inga problem!
                    <br>
                    <a href="/varmepumpar/installation" style="font-size: 12px;">Se våra tjänster här!</a>
                </p>
            </div>
            <div>
                <span class="title">Support</span>

                <p>Självklart!
                    <br><a href="/kontakt" style="font-size: 12px;">Kontakta oss här!</a>

                </p>
            </div>
            <div> <span class="title"><a href="/varmepumpar/service" title="Gå till service värmepumpar!" style="padding:0px; margin:0px; color: #525455;">Service</a></span>

                <p>Så gärna!
                    <br><a href="/varmepumpar/service" style="font-size: 12px;">Se våra tjänster här!</a>

                </p>
            </div>
            <div> <span class="title">Försäkringsärenden</span>

                <p>Naturligtvis!
                    <br><a href="/varmepumpar/guide/forsakring" style="font-size: 12px;">Registrera ditt ärende här!</a>

                </p>
            </div>
            <p class="wide"><a href="mailto:info@polarpumpen.se">info@polarpumpen.se</a>  <span>|</span> <?php echo $block->getTelephoneContact(); ?></p>
        </div>
    </section>
    <section class="primary-information information inner-container about-section">
        <div class="grid grid12-6 no-gutter left">
            <div class="inner-grid">
                <h3>Om <?php echo $locationString; ?></h3>
                <div class="paragraph margin-bottom" style="padding-right: 7%;">
                    <?php echo $block->getAboutSectionText(); ?>
                </div>
                <?php if ($block->getAboutSectionMapUrl()): ?>
                    <iframe src="<?php echo $block->getAboutSectionMapUrl(); ?>" width="100%" height="260"></iframe>
                <?php endif; ?>
                <?php if ($block->getAboutSectionMapUrl()): ?>
                    <p class="disclaimer">
                        <b>Märkt på kartan:</b> <br/>
                        <?php echo $block->getAboutSectionMapRelatedRegions(); ?>
                    </p>
                <?php endif; ?>
            </div>
        </div>
        <div class="grid grid12-6 no-gutter right">
            <div class="inner-grid">
                <h4>Låt oss hjälpa dig!</h4>
                <p>
                    Fyll i kontaktformuläret, så återkommer vi snarat möjligt! Du kan också ringa oss direkt på <?php echo $block->getTelephoneContact(); ?>.
                </p>
                <div class="form-container">
                    <?php echo $block->getWebFormWidget(); ?>
                </div>
            </div>
        </div>
    </section>

    <section id="promote" class="inner-container grid-container-spaced">
        <?php echo $this->getChildHtml('promotion_bar'); ?>
    </section>

    <section class="inner-container secondary-information">
        <div class="inner-grid">
            <h3>Vilken typ av värmepump är du intresserad av?</h3>

            <div class="clearer column-tables data-table">
                <div class="column-table">
                    <header>Luft-Luft</header>
                    <article>
                        <div class="text">
                            <?php echo $block->getLuftLuftText() ? $block->getLuftLuftText() : '-'; ?>
                        </div>
                        <div class="text">Låg investering</div>
                        <div class="text">Bra besparing på uppvärmning</div>
                    </article>
                    <footer>
                        <button class="button secondary" id="luftluft_tab_information">Förslag på modeller</button>
                    </footer>
                </div>
                <div class="column-table">
                    <header>Luft-Vatten</header>
                    <article>
                        <div class="text">
                            <?php echo $block->getLuftVattenText() ? $block->getLuftVattenText() : '-'; ?>
                        </div>
                        <div class="text">Medel investering</div>
                        <div class="text">Bra besparing på uppvärmning</div>
                    </article>
                    <footer>
                        <button class="button secondary" id="luftvatten_tab_information">Förslag på modeller</button>
                    </footer>
                </div>
                <div class="column-table">
                    <header>Från-Luft</header>
                    <article>
                        <div class="text">
                            <?php echo $block->getFranLuftText() ? $block->getFranLuftText() : '-'; ?>
                        </div>
                        <div class="text">Medel-Hög investering</div>
                        <div class="text">Ok besparing på uppvärmning och varmvatten</div>
                    </article>
                    <footer>
                        <button class="button secondary" id="franluft_tab_information">Förslag på modeller</button>
                    </footer>
                </div>
                <div class="column-table">
                    <header>Bergvärme</header>
                    <article>
                        <div class="text"><?php echo $block->getBergVarmeText() ? $block->getBergVarmeText() : '-'; ?></div>
                        <div class="text">Höginvestering</div>
                        <div class="text">Bra besparing på uppvärmning och varmvatten</div>
                    </article>
                    <footer>
                        <button class="button secondary" id="bergvarme_tab_information">Förslag på modeller</button>
                    </footer>
                </div>
            </div>
        </div>
    </section>

    <div class="section clearer category-products-after">
        <?php echo $this->getChildHtml('meta'); ?>
    </div>

    <section class="secondary-information inner-container">
        <div class="inner-grid">
            <article class="inner-container">
                <div class="grid grid12-6 no-gutter">
                    <h3>Olika värmepumpar</h3>
                    <p>Nedan hittar du information om de olika sorternas värmepumpar du kan välja mellan. Vi redogör också för hur väl de passar i klimatzonen och vilka regler som gäller i regionen.</p>
                </div>
            </article>
            <div class="inner-container">
                <?php $polarpumpenSectionTabs = $block->getChildHtml('polarpumpen_section_tabs'); ?>
                <?php if ($polarpumpenSectionTabs): ?>
                    <?php echo $polarpumpenSectionTabs; ?>
                <?php endif; ?>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        //<![CDATA[
        // Calulate the maximum height of all "table-cells"
        ;(function($jq, _window, undefined) {
            $jq(document).ready(function() {
                var columnTables = $jq('.column-tables');
                var textElements = $jq('.text', columnTables);
                var heights = [], highest;
                var tresholds = [
                    321, 481, 641, 769
                ];

                var setHeight = function(textElements) {
                    $jq.each(textElements, function(i, elem) {
                        heights.push($jq(elem).innerHeight() - 10);
                    });
                    highest = Math.max.apply(Math, heights);

                    $jq.each(textElements, function(i, elem) {
                        $jq(elem).css('height', highest);
                    });
                };

                if (textElements.length) {
                    setHeight(textElements);
                    $jq(_window).on('themeResize', function() {
                        if ($jq(_window).width() < 769) {
                            $jq.each(textElements, function(i, elem) {
                                $jq(elem).css('height', "auto");
                            });
                            setHeight(textElements);
                        }
                    });
                }
            });
        })(jQuery, window);
        //]]>
    </script>
</div>
