<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */

$_guideApplied = false;
?>
<?php $_filters = $this->getActiveFilters() ?>
<?php $_removeTxt = Mage::helper('catalog')->__('Remove This Item') ?>
<?php $_attributeCodes = array('td_v_kvmin', 'td_v_kvmax'); ?>
<?php if (!empty($_filters)): ?>
    <p class="block-subtitle">Nuvarande filtrering</p>
    <div class="currently">
        <ol>
            <?php foreach ($_filters as $_filter): /* @var $_filter Amasty_Shopby_Model_Catalog_Layer_Filter_Item */ ?>
                <?php
                    $_filterModel = $_filter->getFilter(); /* @var $_filterModel Amasty_Shopby_Model_Catalog_Layer_Filter_Decimal */
                    $_attributeCode = $_filterModel->getRequestVar();
                    if (in_array($_attributeCode, $_attributeCodes)) {
                        if ($_guideApplied) {
                            continue;
                        }
                        ?>
                        <li>
                            <span class="label">Värmepumpsguide:</span>
                            Baserat på en uppvärmningsyta på <?php echo $this->escapeHtml(Mage::app()->getRequest()->getParam('td_v_kv')); ?> m<sup>2</sup> med hänsyn till planlösning och isolering.
                        </li>
                        <?php
                        $_guideApplied = true;
                        continue;
                    }
                ?>
                <li>
                    <span class="label"><?php echo Mage::helper('catalog')->__($_filter->getName()) ?>:</span>
                    <?php if ($_filter->hasData('children')): ?>
                        <?php foreach ($_filter->getData('children') as $child): ?>
                            <span class="multiselect-child">
                                <?php echo $child['label']  ?>
                                <a href="<?php echo $child['url'] ?>" class="btn-remove-inline">
                                    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/spacer.gif') ?>" width="13" height="12" alt="<?php echo $_removeTxt ?>" />
                                </a>
                            </span>
                        <?php endforeach ?>
                    <?php else: ?>
                        <a href="<?php echo $_filter->getRemoveUrl() ?>" class="btn-remove" title="<?php echo $_removeTxt ?>"><?php echo $_removeTxt ?></a>
                        <?php echo $_filter->getLabel() ?>
                    <?php endif ?>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
<?php endif; ?>
