<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>
<?php
/** @var Mage_Catalog_Helper_Output $_helper */
$_helper    = $this->helper('catalog/output');

/** @var Mage_Cms_Helper_Data $cmsHelper */
$cmsHelper = $this->helper('cms');

$_category  = $this->getCurrentCategory();
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<img src="'.$_imgUrl.'" class="category-image" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" />';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}

$name = $_helper->categoryAttribute($_category, $_category->getName(), 'name');
if ($_category->getTitleOverride()) {
    $name = $_category->getTitleOverride();
}

if ($name == '-') {
    $name = null;
}

?>

<?php if ($name !== null) : ?>
    <div class="page-title category-title <?php echo $_imgUrl ? '' : 'no-image'; ?>">
        <?php if($_imgUrl): ?>
            <?php echo $_imgHtml ?>
        <?php endif; ?>
        <h1><?php echo $name ?></h1>
    </div>
<?php endif; ?>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<?php if (strlen($this->getChildHtml('category.title.after'))) : ?>
<div class="section clearer category-title-after">
    <?php echo $this->getChildHtml('category.title.after'); ?>
</div>
<?php endif; ?>

<?php if (strlen($this->getChildHtml('category.intro.after'))) : ?>
<div class="clearer category-intro-after">
    <?php echo $this->getChildHtml('category.intro.after'); ?>
</div>
<?php endif; ?>

<?php
$_description = $cmsHelper->getPageTemplateProcessor()->filter($this->getCurrentCategory()->getDescription());
$_moreInformation = $cmsHelper->getBlockTemplateProcessor()->filter($_category->getMoreInformation());

$_rightCol = strlen($this->getChildHtml("category.top.right"));
$_preBody = strlen($this->getChildHtml("category.body.pre"));

?>
<?php if($_description): ?>
    <div class="section clearer category-top">
    <?php if($_description && $_rightCol): ?>
        <div class="grid12-8 category-description std">
            <div class="content">
                <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
            </div>
        </div>
        <div class="grid12-4 category-top-right">
            <div class="content">
                <?php echo $this->getChildHtml("category.top.right"); ?>
            </div>
        </div>
    <?php elseif($_description && !$_rightCol): ?>
        <div class="grid12-12 category-description std">
            <div class="content">
                <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
            </div>
        </div>
    <?php endif; ?>
    </div>
<?php endif; ?>

<?php if($_preBody): ?>
    <div class="section clearer category-body-pre">
        <?php echo $this->getChildHtml('category.body.pre'); ?>
    </div>
<?php endif; ?>

<?php if($this->isContentMode()): ?>
    <?php if ($_moreInformation): ?>
        <div class="section clearer category-body">
            <?php echo $_helper->categoryAttribute($_category, $_moreInformation, 'more_information') ?>
        </div>
    <?php endif; ?>
    <?php if ($this->getCmsBlockHtml()): ?>
        <div class="section clearer category-body">
            <?php echo $this->getCmsBlockHtml(); ?>
        </div>
    <?php endif; ?>
<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getProductListHtml() ?>
    <div class="section clearer category-products-after">
        <?php echo $this->getChildHtml('category.products.after'); ?>
    </div>
    <?php if ($_moreInformation): ?>
        <div class="section clearer category-body">
            <?php echo $_helper->categoryAttribute($_category, $_moreInformation, 'more_information') ?>
        </div>
    <?php endif; ?>

    <?php if ($this->getCmsBlockHtml()): ?>
        <div class="section clearer category-body">
            <?php echo $this->getCmsBlockHtml(); ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
    <div class="section clearer category-products-after">
        <?php echo $this->getChildHtml('category.products.after'); ?>
    </div>
<?php endif; ?>

<?php if ($this->getChildHtml('category.section.tabs')): ?>
    <div class="inner-container tab-container">
        <div class="inner-grid">
            <?php echo $this->getChildHtml('category.section.tabs'); ?>
        </div>
        <!-- Section tabs -->
    </div>
<?php endif; ?>
<?php echo $_category->getResource()->getAttribute('custom_code')->getFrontend()->getValue($_category); ?>
