<?php
/** @var NetConsult_Polarpumpen_Block_Widget_Bundle $this */

$formKey = Mage::getSingleton('core/session')->getFormKey();
$product = $this->getProduct(); /* @var $product Mage_Catalog_Model_Product */

$optionCollection = $product->getTypeInstance()->getOptionsCollection();
$selectionCollection = $product->getTypeInstance()->getSelectionsCollection($product->getTypeInstance()->getOptionsIds());
$options = $optionCollection->appendSelections($selectionCollection);

?>
<form action="<?php echo Mage::getUrl('checkout/cart/add'); ?>" method="post" class="bundle-form">
    <input type="hidden" name="form_key" value="<?php echo $formKey; ?>" />
    <input type="hidden" name="product" value="<?php echo $product->getId(); ?>">

    <input type="hidden" name="qty" value="1">

    <?php
        foreach( $options as $option ) {
            /* @var $option Mage_Bundle_Model_Option */

            $title = $option->getDefaultTitle();
            if (count($option->getSelections()) > 1) {
                echo '<select name="bundle_option[' . $option->getId() . ']">';
                /** @var Mage_Bundle_Model_Selection $selection */
                foreach ($option->getSelections() as $selection) {
                    echo '<option value="' . $selection->getSelectionId() . '">'. join(' ', array($selection->getName(), $this->getSelectionPriceFormatted($selection))) . '</option>';
                }
                echo '</select>';
                echo '<input type="hidden" name="bundle_option_qty[' . $option->getId() . ']" value="1">';
            } else {
                $selection = reset($option->getSelections());
                echo '<input type="hidden" name="bundle_option[' . $option->getId() . ']" value="' . $selection->getSelectionId() . '">';
                echo '<input type="hidden" name="bundle_option_qty[' . $option->getId() . ']" value="1">';
            }

        }

    ?>

    <button class="button" type="submit"><span><span>BESTÄLL IDAG!</span></span></button>

</form>