<?php
/**
 * Magento
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<ul class="add-to-links">
<?php if ($this->helper('wishlist')->isAllow()) : ?>

	<li>
        <a class="link-wishlist feature feature-icon-hover first" href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" title="<?php echo $this->__('Add to Wishlist') ?>">
			<span class="ic ic-heart ib icon-color-productview"></span>
			<span class="label"><?php echo $this->__('Add to Wishlist') ?></span>
		</a>
	</li>

<?php endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
	$productUrl = $_product->getProductUrl();
	$isLuftLuft = strpos($productUrl, 'luft-luft-varmepump');
	if(!$isLuftLuft) {
		$isLuftLuft = strpos($productUrl, 'luft-luftvarmepump');
	}
	if(strstr($productUrl, 'tillbehor') || strstr($_product->getSku(), 'Sinstk') || strstr($productUrl, 'service') || strstr($productUrl, 'felsokning')) {
		$isLuftLuft = false;
	}
?>
<?php if($_compareUrl && $isLuftLuft) : ?>

	<li>
        <a class="link-compare feature feature-icon-hover first" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare') ?>">
			<span class="ic ic-compare ib icon-color-productview"></span>
			<span class="label"><?php echo $this->__('Add to Compare') ?></span>
		</a>
	</li>

<?php endif; ?>
<?php /* if ($this->canEmailToFriend()): ?>

	<li>
    	<a class="link-share feature feature-icon-hover first" href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" title="<?php echo $this->__('Email to a Friend') ?>">
			<span class="ic ic-share ib icon-color-productview"></span>
			<span class="label"><?php echo $this->__('Email to a Friend') ?></span>
		</a>
	</li>

<?php endif; */?>
</ul>