<?php $productAttributeGroups = $this->getAttributeList(); ?>

<div class="std grid12-9">
    <h2>Data: <?php echo $this->getProduct()->getName(); ?></h2>
    <?php if (count($productAttributeGroups)): ?>
        <?php foreach($productAttributeGroups as $index => $attributeGroup): ?>
            <table class="data-table">
                <thead>
                    <th><?php echo $attributeGroup['label']; ?></th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                    <?php foreach ($attributeGroup['attributes'] as $attributeIndex => $attributeValue): $index++; ?>
                        <tr class="row <?php echo ($attributeIndex % 2 === 0) ? 'even' : 'odd'; ?>">
                            <?php if (in_array($attributeValue['label'], array('Arbete', 'Material', 'Rot-avdrag', 'Mer info'))) : ?>
                                <td colspan="3"><?php echo $attributeValue['value'] ? $attributeValue['value'] : ''; ?></td>
                            <?php else : ?>
                                <td><?php echo $attributeValue['label'] ? $attributeValue['label'] : ''; ?>
                                    <?php $attributeMetaData = $this->getProduct()->getResource()->getAttribute($attributeValue['code']); ?>
                                    <?php $attributeTooltipText = $attributeMetaData->getTooltipText(); ?>
                                    <?php if(!empty($attributeTooltipText)): ?>
                                        <abbr class="tooltip">
                                            <img src="<?php echo $this->getSkinUrl('images/tooltipQuestionmark.png'); ?>" />
                                            <span>
                                                <?php echo $attributeTooltipText;  ?>
                                                <br />
                                                <?php $attributeTooltipUrl = $attributeMetaData->getTooltipUrl(); ?>
                                                <?php if(!empty($attributeTooltipUrl)): ?>
                                                    <a href="<?php echo $attributeTooltipUrl; ?>" target="_blank">Läs mer</a>
                                                <?php endif; ?>
                                            </span>
                                        </abbr>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $attributeValue['unit']  ? $attributeValue['unit']  : ''; ?></td>
                                <td>
                                    <?php if (in_array($attributeValue['value'], array('A', 'A+', 'A++', 'A+++', 'B', 'C', 'D'))) : ?>
                                        <?php $energimarkning = $attributeValue['value'];
                                            $filter = new Mage_Widget_Model_Template_Filter();
                                            $ecaption = $this->getProduct()->getEnergimarkningLightboxCapt();	
                                            switch($attributeValue['value']) {
                                                case 'A+++':
                                                    $eclass = 'energimarkning-appp';
                                                    break;
                                                case 'A++':
                                                    $eclass = 'energimarkning-app';
                                                    break;
                                                case 'A+':
                                                    $eclass = 'energimarkning-ap';
                                                    break;
                                                case 'A':
                                                    $eclass = 'energimarkning-a';
                                                    break;
                                                case 'B':
                                                    $eclass = 'energimarkning-b';
                                                    break;
                                                case 'C':
                                                    $eclass = 'energimarkning-c';
                                                    break;
                                                case 'D':
                                                    $eclass = 'energimarkning-d';
                                                    break;
                                            }
                                            if($eurl = $this->getProduct()->getEnergimarkningLightboxImg()):
                                                echo "<div class=\"$eclass\"><a href=\"$eurl\" title=\"$ecaption\" class=\"fancybox\">$energimarkning</a></div>";
                                            else:
                                                echo "<div class=\"$eclass\"><span title=\"$ecaption\">$energimarkning</span></div>";
                                            endif;
                                        ?>
                                        <?php elseif(is_array($attributeValue['value'])):?>
                                            <ul>
                                                <?php foreach($attributeValue['value'] as $attributeValueIndex => $attributeValueValue):
                                                    echo '<li>'.$attributeValueValue.'</li>';
                                                endforeach; ?>
                                            </ul>
                                        <?php else: ?>
                                        <?php echo $attributeValue['value'] ? $attributeValue['value'] : ''; ?>
                                    <?php endif; ?>
                                </td>
                            <?php endif; ?>
                        </tr> 
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endforeach; ?>

    <?php else: ?>
        <?php echo sprintf("%s saknar tekniskt specifikation", $this->getProduct()->getName()); ?>
    <?php endif; ?>
</div>