<div class="std grid12-9">
    <h2>Produktrecensioner för <?php echo $this->getProduct()->getName(); ?></h2>

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js" async></script>
    <!-- End Trustbox script -->
    
    <!-- TrustBox widget -->
    <div class="trustpilot-widget" data-locale="sv-SE" data-template-id="5763bccae0a06d08e809ecbb" data-businessunit-id="490e6022000064000503dc64" data-style-height="400px" data-style-width="100%" data-theme="light" data-sku="<?php echo $this->getProduct()->getSku(); ?>" data-name="<?php echo $this->getProduct()->getName(); ?>">
        <a href="https://se.trustpilot.com/review/www.polarpumpen.se" target="_blank">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->
    
</div>

<?php
/*
 * <div class="trustpilot-widget" data-locale="sv-SE" data-template-id="544a426205dc0a09088833c6" data-businessunit-id="490e6022000064000503dc64" data-style-height="300px" data-style-width="100%" data-theme="light" data-sku="<?php echo $this->getProduct()->getSku(); ?>">
        <a href="https://se.trustpilot.com/review/www.polarpumpen.se" target="_blank">Trustpilot</a>
    </div>
    
    <script src="https://productreviewswidgets.trustpilot.com/Scripts/trustpilot-seo-widget.min.js"></script>
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://productreviewswidgets.trustpilot.com/Styles/trustpilot-seo-widget.min.css" media="all">	

    <script src="https://productreviewswidgets.trustpilot.com/?sku=<?php echo $this->getProduct()->getSku(); ?>&contentLanguage=sv&businessUnitId=490e6022000064000503dc64&apikey=FqODDa1UVl4sCf9iHz5QdaHjYA9AxWyK&productName=<?php echo $this->getProduct()->getName(); ?>&perPage=5&count=4&locale=sv&widgetHeight=400"></script>    

 * 
 */
?>
