

<div class="entry-edit">

    <div class="entry-edit-head">
        <h4><?php echo $this->__('Bundle Items and Custom Options relations') ?></h4>
    </div>
    
<?php if ($this->hasCustomOptions() || ($this->isBundle() && $this->hasBoptions())): ?>
  <fieldset>
    <ul class="super-attributes  optionbundle-container">
    <?php foreach ($this->getOptions() as $option): ?> 
      <li class="attribute" style="position: relative; ">
        <div id="ob_option_<?php echo $option['type'] ?>_<?php echo $option['id'] ?>_cell" class="left optionbundle-option-title">
            <strong><?php  echo $option['title'] ?></strong>
        </div>
        <div class="values-container right">
          <?php  echo Mage::helper('catalog')->__('Sort Order') ?>:
            <input type="text" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option'; ?>][<?php echo $option['id'] ?>][order]" class="input-text" value="<?php echo $option['sort_order'] ?>"/>
            <input type="hidden" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option'; ?>][<?php echo $option['id'] ?>][previous_order]" class="input-text" value="<?php echo $option['sort_order'] ?>"/>                        
          <?php if (count($option['values']) == 0): ?>                  
            <span onclick="optionBundle.highlightAction('<?php echo $option['type'] ?>',<?php echo $option['id'] ?>,null,'parent');" id="ob_option_<?php echo $option['type'] ?>_<?php echo $option['id'] ?>_highlight_parent_link" style="margin-left:415px;" class="optionbundle-highlight_link_<?php echo $option['has_parent'] ? 'visible' : 'hidden'; ?>"><?php echo $this->__('Parent') ?></span>         
          <?php endif; ?>
          <?php if (count($option['values']) > 0): ?>        
            <ul class="attribute-values">  
              <li class="attribute-value optionbundle-value">
                <div class="left optionbundle-options-value-container-title">
                   <strong><?php echo Mage::helper('catalog')->__('Title') ?></strong>
                </div>
                <div class="attribute-values-container-main">
                  <div class="attribute-values-container left optionbundle-value-container-price">
                    <strong><?php echo Mage::helper('catalog')->__('Price') ?></strong>
                  </div>              
                  <div class="attribute-values-container left optionbundle-value-container-children">
                    <strong><?php echo $this->__('Select Children') ?></strong>
                  </div>
                  <div class="attribute-values-container left optionbundle-value-container-highlight">
                    <strong><?php echo $this->__('Highlight') ?></strong>             
                  </div>
                  <div class="attribute-values-container right optionbundle-value-container-default">
                    <?php if (isset($option['selection_type'])): ?>  
                      <?php if ($option['selection_type'] == 'single'): ?>   
                        <input type="radio" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option';?>][<?php echo $option['id'] ?>][default]" <?php echo $option['default'] == '' ? 'checked="checked"' : ''; ?>  title="<?php echo $this->__('Selected By Default') ?>" value=""/>                                                                                                              
                      <?php else: ?>                               
                        <input onclick="optionBundle.checkAll(this,'<?php echo $option['type'] ?>',<?php echo $option['id'] ?>)" type="checkbox" name="optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option';?>_<?php echo $option['id'] ?>_sd" title="<?php echo $this->__('Selected By Default') ?>" value=""/> 
                      <?php endif; ?>
                      <?php if ($option['type'] == 'b'): ?>                             
                        <input type="hidden" name="product[optionbundle_boption][<?php echo $option['id'] ?>][previous_default]" class="input-text" value="<?php echo $option['default'] ?>"/>
                      <?php endif; ?>                        
                    <?php endif; ?>                                 
                  </div>                  
                </div>
              </li>       
            <?php foreach ($option['values'] as $value): ?>                                
              <li class="attribute-value optionbundle-value">
                <div id="ob_value_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_cell" class="left optionbundle-options-value-container-title">
                  <?php  echo $value['title'] ?> 
                </div>
                <div class="attribute-values-container-main">
                  <div class="attribute-values-container left optionbundle-value-container-price">
                    <?php  echo $value['price'] ?>&nbsp;
                  </div>              
                  <div class="attribute-values-container left optionbundle-value-container-children">             
                   <select id="ob_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_children_detailed_select"  style="display:none;" class="optionbundle-select"></select>                    
                   <select onchange="optionBundle.onChildrenSelectChange('<?php echo $option['type'] ?>',<?php echo $value['id'] ?>)" onblur="optionBundle.updateChildren('<?php echo $option['type'] ?>',<?php echo $value['id'] ?>,'short');" class="optionbundle-select" id="ob_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_children_short_select"  style="display:none;" multiple ><option value=""></option></select>                           
                    <span id="ob_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_show_link" class="optionbundle-children-showhide-link">
                      <span onclick="optionBundle.showSelect('<?php echo $option['type'] ?>',<?php echo $option['id'] ?>,<?php echo $value['id'] ?>,'detailed');" title="<?php echo $this->__('Click to select certain values') ?>"><?php  echo $this->__('By Values') ?></span>&nbsp;&nbsp;|&nbsp;
                      <span onclick="optionBundle.showSelect('<?php echo $option['type'] ?>',<?php echo $option['id'] ?>,<?php echo $value['id'] ?>,'short');" title="<?php echo $this->__('Click to select entire option with all its values') ?>"><?php  echo $this->__('By Options') ?></span>
                    </span>
                  </div>
                  <div class="attribute-values-container left optionbundle-value-container-highlight">                 
                    <span onclick="optionBundle.highlightAction('<?php echo $option['type'] ?>',<?php echo $option['id'] ?>,<?php echo $value['id'] ?>,'parent');" id="ob_value_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_highlight_parent_link"  class="optionbundle-highlight_link_<?php echo $value['has_parent'] ? 'visible' : 'hidden'; ?>"><?php echo $this->__('Parent') ?>&nbsp;</span>                                                          
                    <span onclick="optionBundle.highlightAction('<?php echo $option['type'] ?>',<?php echo $option['id'] ?>,<?php echo $value['id'] ?>,'children');" id="ob_value_<?php echo $option['type'] ?>_<?php echo $value['id'] ?>_highlight_children_link" class="optionbundle-highlight_link_<?php echo $value['has_children'] ? 'visible' : 'hidden'; ?>"><?php echo $this->__('Children') ?></span>                       
                  </div>                  
                  <div class="attribute-values-container right optionbundle-value-container-default">
                    <?php if (isset($option['selection_type'])): ?>  
                      <?php if ($option['selection_type'] == 'single'): ?>                  
                        <input type="radio" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option';?>][<?php echo $option['id'] ?>][default]" <?php echo $option['default'] == $value['id'] ? 'checked="checked"' : ''; ?>  title="<?php echo $this->__('Selected By Default') ?>" value="<?php echo $value['id'] ?>"/>       
                      <?php else: ?>                                             
                        <input type="checkbox" id="optionbundle_<?php echo $option['type'];?>_<?php echo $value['id'] ?>_sd" name="product[optionbundle_<?php echo $option['type'] == 'b' ? 'boption' : 'option';?>][<?php echo $option['id'] ?>][default][]" <?php echo in_array($value['id'], explode(',', $option['default'])) ? 'checked="checked"' : ''; ?>  title="<?php echo $this->__('Selected By Default') ?>" value="<?php echo $value['id'] ?>"/>                         
                      <?php endif; ?>
                    <?php endif; ?>                        
                  </div>                    
                </div>
              </li>
            <?php endforeach; ?> 
            </ul>
          <?php endif; ?>        
        </div>
      </li>
    <?php endforeach; ?>
    </ul>
  </fieldset>
  
  <input type="hidden" name="product[optionbundle_relation]" id="optionbundle_relation_field" class="optionbundle-relation-field" value="<?php echo $this->htmlEscape($this->getRelationsJson()) ?>" />
  <script type="text/javascript">
  //<![CDATA[
  
  OptionBundle.Config = {   
  
    childrenDetailedSelect : '<select onchange="optionBundle.onChildrenSelectChange(\'{{option_type}}\', {{value_id}})" onblur="optionBundle.updateChildren(\'{{option_type}}\', {{value_id}}, \'detailed\')" class="optionbundle-select" id="ob_{{option_type}}_{{value_id}}_children_detailed_select" multiple size="{{size}}"><option value=""></option>{{options}}</select>'
    
  };
  
  optionBundle = new OptionBundle.Main(<?php echo $this->getDataJson() ?>);
   
  //]]> 
  </script>
<?php endif; ?>