<?php
/**
* Display Custom Selected products template
* @see Ma2_WidgetProductList_Block_Custom
*
*/
?>
<?php
$_helper = $this->helper('catalog/output');
$uniqId = Mage::helper('core')->uniqHash("ma2-widgetproductlist-");
$controllerName = $this->getRequest()->getControllerName();

if($this->getUrl('') == $this->getUrl('*/*/*', array('_current'=>true, '_use_rewrite'=>true))) {
    $productList = 'start';
}
if(Mage::registry('current_category')) {
    $productList = 'category';
}
if(Mage::registry('current_product')) {
    $productList = 'product';
    if(Mage::app()->getFrontController()->getRequest()->getActionName() == 'view') {
        $productList = 'related products';
    }
}

$helpTemplate = $this->helper('ultimo/template');
$theme = $this->helper('ultimo');
$gc = $theme->getCfgGroup('category_grid');

//$productList = (($this->getRequest()->getModuleName()=='catalog' && $this->getRequest()->getControllerName()=='product') ? 'product' : 'start');
?>

<div class="ma2-widgetproductlist widget widget-custom-products products-grid <?php echo $list_type; ?>-view" id="<?php echo $uniqId; ?>">
    <div class="widget-inner">
            <?php if (isset($show_widget_title) && (int)$show_widget_title == 1): ?>
                <h3 class="widget-title">
                    <span class="format-span">
                        <span><?php echo $widget_title;?></span>
                    </span>
                </h3>
            <?php endif; ?>

<?php if(!$WidgetProductProductCollection->count()){ ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php } else { ?>

        <div class="product-items">
            <div class="product-items-inner">
<?php
                $idx=0;
                $_collectionSize = $WidgetProductProductCollection->count();
                $inlineStyle = ($list_type == 'grid') ? 'style="width:'.$item_width.'%;"' : '';
                if ($list_type == 'grid' && ($column_count == null || (int)$column_count == 0)) $column_count = 3;
                if ($list_type == 'list') $column_count = 1;
                if (!intval($thumbnail_width)) $thumbnail_width = 230;
                if (!intval($thumbnail_height)) $thumbnail_height = 230;

                $enhancedEcommerceImpressions = array();
                
                    /** @var Mage_Catalog_Model_Product $_product */
                    foreach ($WidgetProductProductCollection as $pid => $_product) :
                        
                        // Get $product_price for Google Tag Manager
                        if($_product->getTypeId() === 'bundle') {				 
                            $pricemodel = Mage::getModel('bundle/product_price');

                            $price = $pricemodel::calculatePrice(
                                $_product->getData('price'),
                                $_product->getSpecialPrice(),
                                $_product->getSpecialPriceFrom(),
                                $_product->getSpecialPriceTo(),
                                false,
                                Mage::app()->getStore()->getWebsite()->getId(),
                                Mage::getSingleton('customer/session')->getCustomer()->getGroupId(),
                                $_product->getId()
                            );

                            $finalprice = $this->helper('core')->currencyByStore(Mage::helper('tax')->getPrice($_product, $price));
                            $productPrice = number_format(preg_replace("/[\D]/", "", $finalprice), 2, '.', '');
                        } else {
                            $productPrice = number_format($_product->getPrice(), 2, '.', '');
                        }		

                        // Get $category for Google Tag Manager
                        $url = explode('/', $_product->getProductUrl());
                        $count	= count($url);
                        if($url[3] == 'fukt-i-hus' || $url[3] == 'partner') {
                            $productCategory = $url[$count-2];
                        } else {
                            $productCategory = $url[$count-4];
                        }
                        
                        $productName = $_helper->productAttribute($_product, $_product->getName() , 'name');
                        $productSku = str_replace(' ', '-', $_product->getSku());
                        $productBrand = $_product->getAttributeText('td_marke');
                        
                        $thumbnail_width = $this->helper('catalog/image')->init($_product, 'image')->getOriginalWidth();
                        $thumbnail_height = $this->helper('catalog/image')->init($_product, 'image')->getOriginalHeight();

                        $imageRatio = $thumbnail_width / $thumbnail_height;

                        if ($thumbnail_width > 295) {
                            $thumbnail_width = 295;
                        }

                        $thumbnail_height = $thumbnail_width / $imageRatio;
                        // @FIXME: Temporary fix before launch. Re-calculate the height of the product image.
                        $thumbnail_height = intval($thumbnail_height + 1);
                        $productImage = $this->helper('catalog/image')->init($_product, 'image')->resize(intval($thumbnail_width), $thumbnail_height);
                        ?>

                        <?php $ribbon_class = preg_replace("/[^a-öA-Ö\s]/", "", $_product->getAttributeText('pp_ribbon')); ?>
                        <?php $ribbon_class = str_ireplace(array ('å', 'ä', 'ö', ' ', '²'), array('a', 'a', 'o', '', ''), $ribbon_class); ?>
                        <?php $hribbon_class = preg_replace("/[^a-öA-Ö\s]/", "", $_product->getAttributeText('pp_horizontal_ribbon')); ?>
                        <?php $hribbon_class = str_ireplace(array ('å', 'ä', 'ö', ' ', '²'), array('a', 'a', 'o', '', ''), $hribbon_class); ?>

                        <div class="product-item item product-<?php echo $pid; ?> <?php echo ($idx == 0) ? 'first' : (($idx+1) == $_collectionSize ? 'last' : ''); ?> product-item-sku-<?php echo $productSku ?>" <?php echo $inlineStyle ?> 
                             data-name="<?php echo $productName ?>" data-sku="<?php echo $productSku ?>" data-brand="<?php echo $productBrand ?>" data-category="<?php echo $productCategory ?>" data-price="<?php echo $productPrice ?>" data-productlist="<?php echo $productList ?>">
                                <div class="product-item-inner item-inner">
                                        <a class="product-image product-image-wrapper" onclick="enhancedEcommerceProductClick('<?php echo $productSku ?>'); setLocation('<?php echo $_product->getProductUrl() ?>');" 
                                           href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                                            <?php if($ribbon=$_product->getAttributeText('pp_ribbon')): ?>
                                                <div class="ribbon <?php echo strtolower($ribbon_class); ?>">
                                                    <span><?php echo $ribbon; ?></span>
                                                </div>
                                            <?php endif; ?>
                                            <?php if($marke=$_product->getAttributeText('td_marke')): ?>
                                                <div class="brand-logo <?php echo strtolower($marke); ?>">
                                                    <img src="/media/bilder/design/logo/<?php echo strtolower($marke); ?>.png" alt="<?php echo $marke; ?>" width="69" />
                                                </div>
                                            <?php endif; ?>								
                                            <img src="<?php echo $productImage ?>" width="<?php echo intval($thumbnail_width); ?>" height="<?php echo intval($thumbnail_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                        </a>
                                <?php if($energimarkning = $_product->getAttributeText('td_v_energimarkning_visa')) {
                                    $filter = new Mage_Widget_Model_Template_Filter();
                                    $ecaption = $_product->getEnergimarkningLightboxCapt();	
                                    switch($energimarkning) {
                                        case 'A+++':
                                            $eclass = 'energimarkning-appp';
                                            break;
                                        case 'A++':
                                            $eclass = 'energimarkning-app';
                                            break;
                                        case 'A+':
                                            $eclass = 'energimarkning-ap';
                                            break;
                                        case 'A':
                                            $eclass = 'energimarkning-a';
                                            break;
                                        case 'B':
                                            $eclass = 'energimarkning-b';
                                            break;
                                        case 'C':
                                            $eclass = 'energimarkning-c';
                                            break;
                                        case 'D':
                                            $eclass = 'energimarkning-d';
                                            break;
                                    }
                                    if($eurl = $_product->getEnergimarkningLightboxImg()):
                                        echo "<div class=\"$eclass\"><a href=\"$eurl\" title=\"$ecaption\" class=\"fancybox\">$energimarkning</a></div>";
                                    else:
                                        echo "<div class=\"$eclass\"><span title=\"$ecaption\">$energimarkning</span></div>";
                                    endif;
                                } ?>
                                <div class="product-info info">
                                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                    <h4 class="product-name"><a onclick="enhancedEcommerceProductClick('<?php echo $productSku ?>'); setLocation('<?php echo $_product->getProductUrl() ?>');" 
                                                                href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h4>
                                <?php if($_product->getRatingSummary()): 
                                    echo $this->getReviewsSummaryHtml($_product);
                                endif; ?>

                                <?php if($show_short_description == 1):?>
                                    <div class="product-desc std">
                                        <?php
                                        $desc = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');
                                        if(isset($short_description_limit) && !empty($short_description_limit)):
                                            $shortDesc = explode('|', wordwrap($desc, $short_description_limit, '|'));
                                        else:
                                            $shortDesc = explode('|', wordwrap($desc, 88, '|'));
                                        endif;
                                        echo $shortDesc[0] . '...';
                                        ?>
                                    </div>
                                <?php endif;?>	

                                <?php if($hribbon=$_product->getAttributeText('pp_horizontal_ribbon')): ?>
                                    <div class="wrap-ribbon <?php echo strtolower($hribbon_class); ?>"><span><?php echo $hribbon; ?></span></div>
                                <?php endif; ?>

                                <div class="bottom">

                                <?php if($show_price == 1): ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                <?php endif;?>

                                <div class="actions">
                                <?php if($show_addtocart == 1): ?>
                                    <?php if($_product->isAvailable()): ?>
                                        <?php if(intval($_product->getHasOptions()) == 1 || $_product->isConfigurable()): ?>
                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart add-product-sku-<?php echo $productSku ?>" 
                                                       onclick="enhancedEcommerceAddToCart('<?php echo $productSku ?>'); setLocation('<?php echo $_product->getProductUrl() ?>');"
                                                       data-name="<?php echo $productName ?>" data-sku="<?php echo $productSku ?>" data-brand="<?php echo $productBrand ?>" data-category="<?php echo $productCategory ?>" data-price="<?php echo $productPrice ?>" data-productlist="<?php echo $productList ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                        <?php else: ?>
                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart add-product-sku-<?php echo $productSku ?>" 
                                                       onclick="enhancedEcommerceAddToCart('<?php echo $productSku ?>'); setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"
                                                       data-name="<?php echo $productName ?>" data-sku="<?php echo $productSku ?>" data-brand="<?php echo $productBrand ?>" data-category="<?php echo $productCategory ?>" data-price="<?php echo $productPrice ?>" data-productlist="<?php echo $productList ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <p><button type="button" title="<?php echo $this->__('Info') ?>" class="button secondary" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('Info') ?></span></span></button></p>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php //Add-to links

                                    $productUrl = $_product->getProductUrl();
                                    $isLuftLuft = strpos($productUrl, 'luft-luft-varmepump');
                                    if(!$isLuftLuft) {
                                        $isLuftLuft = strpos($productUrl, 'luft-luftvarmepump');
                                    }
                                    if(strstr($productUrl, 'tillbehor') || strstr($productSku, 'Sinstk') || strstr($productUrl, 'service') || strstr($productUrl, 'felsokning')) {
                                        $isLuftLuft = false;
                                    }

                                    if ($isLuftLuft && ($gc['display_addtolinks'] != 0 && !$gc['addtolinks_simple']))
                                    {
                                        if($controllerName !== 'product') {
                                            echo $helpTemplate->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-gaps-right');
                                        }
                                    }
                                ?>
                                </div>
                                </div>
                                </div>
                                </div>
                        </div>
<?php 
                    if (($idx+1) % $column_count == 0 || ($idx+1) == $_collectionSize) echo '<div class="clear"></div>';
                    
                    // Get $product_price for Google Tag Manager
                    if($_product->getTypeId() === 'bundle') {				 
                        $pricemodel = Mage::getModel('bundle/product_price');

                        $price = $pricemodel::calculatePrice(
                            $_product->getData('price'),
                            $_product->getSpecialPrice(),
                            $_product->getSpecialPriceFrom(),
                            $_product->getSpecialPriceTo(),
                            false,
                            Mage::app()->getStore()->getWebsite()->getId(),
                            Mage::getSingleton('customer/session')->getCustomer()->getGroupId(),
                            $_product->getId()
                        );

                        $finalprice = $this->helper('core')->currencyByStore(Mage::helper('tax')->getPrice($_product, $price));
                        $product_price = number_format(preg_replace("/[\D]/", "", $finalprice), 2, '.', '');
                    } else {
                        $product_price = number_format($_product->getPrice(), 2, '.', '');
                    }		

                    // Get $category for Google Tag Manager
                    $url = explode('/', $_product->getProductUrl());
                    $count	= count($url);
                    if($url[3] == 'fukt-i-hus' || $url[3] == 'partner') {
                        $category = $url[$count-2];
                    } else {
                        $category = $url[$count-4];
                    }
                    
                    $tagManagerProduct = "{
                                            'name': '{$productName}',
                                            'id': '{$productSku}',
                                            'price': '{$productPrice}',
                                            'brand': '{$productBrand}',
                                            'category': '{$productCategory}',
                                            'list': '{$productList}',
                                            'position': '{$idx}'
                                          }";
                    
                    $enhancedEcommerceImpressions[] = $tagManagerProduct;
                    $idx++;
                endforeach; ?>
            </div>
        </div>
        
<?php } ?>
	</div>
</div>

<script>
    
jQuery(document).ready(function($) {
    if($('#tab-tabb_tillbehor').length <= 0) {
        dataLayer.push({
            'event': 'ee_product_impressions',
            'ecommerce': {
                'currencyCode': 'SEK',      // Local currency is optional.
                'impressions': [
                    <?php echo implode(',', $enhancedEcommerceImpressions); ?>
                ],
             },
        });
    }
});
</script>
