<?php
/* @var $this Mage_Reports_Block_Product_Compared */

$_helper = $this->helper('catalog/product_compare');
$count = $_helper->getItemCount();

if($count > 0) {
?>
    <div id="compare-block-frame" class="block block-list block-compared">
        <div class="block-content">
            <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalog/product/compare/mini.phtml')->toHtml(); ?>
        </div>
    </div>
<?php 
}



if ($_products = $this->getRecentlyComparedProducts()) { ?>
    <div class="block block-list block-compared">
        <div class="block-title">
            <strong><span><?php echo $this->__('Recently Compared Products') ?></span></strong>
        </div>
        <div class="block-content">
            <ol id="recently-compared-items">
            <?php foreach ($_products as $_item): ?>
                <li class="item">
                    <p class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName() , 'name') ?></a></p>
                </li>
            <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('recently-compared-items');</script>
        </div>
    </div>
<?php } 


if($count > 0) {
?>

<script type="text/javascript">

    jQuery(document).ready(function() {
        var cnt = 0;
        var box = jQuery("#compare-block-frame .block-content");
        var timer = setInterval(function () {
            cnt++
            if (cnt == 20) {
                box.css('border', '1px solid #fff');
                box.css('box-shadow', 'none');
                clearInterval(timer);
            } else {
                cnt % 2 == 1 ? box.css('border', '1px dotted #1b57a6') : box.css('border', '1px solid #fff');
                cnt % 2 == 1 ? box.css('box-shadow', '10px 10px 5px #888888;') : box.css('box-shadow', 'none');
            }
        }, 25);
    });

</script>

<?php
} ?>