
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
input[type="password"],
textarea {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 13px;
  margin: 0;
  vertical-align: baseline;
  display: inline-block;
  padding: 7px;
  width: 273px;
  height: 17px;
  line-height: 17px;
  border: 1px solid #bfb4ae;
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3) inset;
}
input[type="text"].followed-by-button,
input[type="search"].followed-by-button,
input[type="tel"].followed-by-button,
input[type="email"].followed-by-button,
input[type="number"].followed-by-button,
input[type="range"].followed-by-button,
input[type="url"].followed-by-button,
input[type="date"].followed-by-button,
input[type="datetime"].followed-by-button,
input[type="datetime-local"].followed-by-button,
input[type="month"].followed-by-button,
input[type="week"].followed-by-button,
input[type="time"].followed-by-button,
input[type="color"].followed-by-button,
textarea.followed-by-button {
  width: 158px;
  margin-right: 5px; }
.ie7 input[type="text"].followed-by-button, .ie7
input[type="search"].followed-by-button, .ie7
input[type="tel"].followed-by-button, .ie7
input[type="email"].followed-by-button, .ie7
input[type="number"].followed-by-button, .ie7
input[type="range"].followed-by-button, .ie7
input[type="url"].followed-by-button, .ie7
input[type="date"].followed-by-button, .ie7
input[type="datetime"].followed-by-button, .ie7
input[type="datetime-local"].followed-by-button, .ie7
input[type="month"].followed-by-button, .ie7
input[type="week"].followed-by-button, .ie7
input[type="time"].followed-by-button, .ie7
input[type="color"].followed-by-button, .ie7
textarea.followed-by-button {
  float: left; }
input[type="text"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="color"]:focus,
textarea:focus {
  outline: none;
  outline: 0; }
input[type="text"].placeholder,
input[type="search"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="number"].placeholder,
input[type="range"].placeholder,
input[type="url"].placeholder,
input[type="date"].placeholder,
input[type="datetime"].placeholder,
input[type="datetime-local"].placeholder,
input[type="month"].placeholder,
input[type="week"].placeholder,
input[type="time"].placeholder,
input[type="color"].placeholder,
textarea.placeholder {
  color: #a9a9a9;
}

/* Buttons (general)
-------------------------------------------------------------- */
.button {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.5);
  color: white;
  @include appearance(none);
  @include linear-gradient(#ffb34a, #fa6732);
  @include border-radius(4px, 4px, 4px, 4px);
  @include box-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5), true);
  @include box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.7), true);
  @include text-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5));
  @include transition(all, 0.15s, ease-out);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
  &:hover {
    background-position: 0 50px;
  }
}

.form-search .input-text:hover + .button,
.form-search .button.secondary {
  color: white;
  background-color: #99908b !important;
  &:hover {
    background-color: #99908b !important;
    color: white;
  }
}

.button.secondary {
  @include linear-gradient(#99908b, #524d4b);
  &:hover {
    background-position: 0 15px;
    color: white;
  }
}

.btn-cart {
  border: none;
  @include linear-gradient(#dfdfdf, #ffffff);
  @include border-radius(4px, 4px, 4px, 4px);
  padding: 4px;
  height: inherit;
  line-height: inherit;
  > span {
    display: block;
    color: white;
    height: 33px;
    line-height: 33px;
    @include appearance(none);
    @include linear-gradient(#ffb34a, #fa6732);
    @include border-radius(4px, 4px, 4px, 4px);
    @include box-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5), true);
    @include box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.7), true);
    @include text-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5));
    @include transition(all, 0.15s, ease-out);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    &:hover {
      background-position: 0 15px;
    }
  }
}

.button-container {
  display: inline-block;
  padding: 4px;
  @include linear-gradient(#dfdfdf, #ffffff);
  @include border-radius(4px, 4px, 4px, 4px);
}
