@media only screen and (max-width: 1025px) {
  .hide-below-1025 {
    display: none !important;
  }
}

@media only screen and (max-width: 479px) {
  body .main-container .main.container {
    width: 96%;
  }
}

@media only screen and (max-width: 321px) {
  .hide-below-321, .extrahint-wrapper {
    display: none !important;
  }
}