/* Fonts
-------------------------------------------------------------- */
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v9/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/** Base fonts */
$heading-font : "Raleway", Sans-serif;

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: $base-purple;
  font-family: $heading-font;
  font-weight: 600;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 17px;
  line-height: 22px;
}

// When a h3 is succeeding a p
ul + h3, p + h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

/* Paragraphs
-------------------------------------------------------------- */
p {
  margin-bottom: 1em;
}

p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}

@media screen and (max-width: 320px) {
  p {
    max-width: 295px;
  }
}

sup {
  vertical-align: super;
  font-size: 0.7em;
}

/* Price text
-------------------------------------------------------------- */
.price {
  font-size: 22px;
  font-weight: bold;
  font-family: $heading-font;
  color: $orange;
}

/* Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: $base-purple;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  &:hover {
    color: $orange;
  }
  &:active {
    color: $orange;
    outline: none;
    outline: 0;
  }
  .int {
    display: block;
    clear: both;
  }
}

/* Block Quotes
-------------------------------------------------------------- */
blockquote.body-quote {
  background: #f9f9f9;
  max-width: 590px;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &::before {
    color: #ccc;
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-size: 4em;
  }
  p {
    display: inline;
  }
}


/**
 * Blockquotes that shouldn't be italic. They exist in the markup of SEO purposes
 */
blockquote {
  font-style: normal !important;
}

/* Unified text-styles
-------------------------------------------------------------- */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.sm-text {
  font-size: 0.9em;
}

.l-text {
  font-size: 1.7em;
}

.xl-text {
  font-size: 1.9em;
}

.xxl-text {
  font-size: 2.3em;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Common-titles::uppercase
-------------------------------------------------------------- */
.catalog-product-view,
.catalog-category-view {
  .cat-title,
  .product-name {
    text-transform: uppercase;
  }
}
