/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 * Suggested media queries:
 *
 * @media screen and (min-width: 1281px) {}
 * @media screen and (min-width: 960px) and (max-width: 1280px) {}
 * @media screen and (min-width: 768px) and (max-width: 960px) {}
 * @media screen and (min-width: 641px) and (max-width: 768px) {}
 * @media screen and (min-width: 401px) and (max-width: 640px) {}
 * @media screen and (max-width: 400px) {}
 *
 */
 
 @import '_colors';
 
 
@import '../../polarpumpen/sass/_mixins';

@import '../../polarpumpen/sass/_mixins';
@import '../../polarpumpen/sass/_forms';
@import '_typography';
@import '../../polarpumpen/sass/_media_overrides';
@import '../../polarpumpen/sass/checkout';
@import '../../polarpumpen/sass/layered-nav';

@import '../../polarpumpen/sass/common/_tabs';
@import '../../polarpumpen/sass/common/_fortum_tabs';
@import '../../polarpumpen/sass/common/_iframe_wrappers';
@import '../../polarpumpen/sass/common/_section_components';
@import '../../polarpumpen/sass/common/_brandsbar';
@import './common/_menu';
@import '../../polarpumpen/sass/common/_cart';

@import '../../polarpumpen/sass/pages/product';
@import '../../polarpumpen/sass/pages/location';
@import '../../polarpumpen/sass/pages/_fortum';
@import '../../polarpumpen/sass/pages/_category';
@import '../../polarpumpen/sass/pages/_customer';

//Client specific css
@import '../../polarpumpen/sass/polarpumpen/_polarpumpen';
@import '../../polarpumpen/sass/polarpumpen/_ribbon';
@import '../../polarpumpen/sass/polarpumpen/_bundle';

//Client specific css

body {
  overflow-x: hidden;
}

body #scroll-to-top {
  bottom: 45px;
}

.trustpilot-wrapper {
  padding: 10px 0;
  background: white;
}

.inner-grid {
  padding: 20px;
  @media only screen and (max-width: 481px) {
    padding: 10px;
  }
}

.preface-wrapper.inner-container > .grid12-9.main-content {
  background-image: url(../images/mobile-logo.png);
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Ultimo overrides (general)
-------------------------------------------------------------- */
// unecessary extra-margin
.img-box, .itemslider {
  margin: 0 !important;
}

.block-viewed .block-content li.item, .block-compare .block-content li.item, .block-compared .block-content li.item {
  background: none;
  padding: 0;
  a {
    color: $base-blue;
    &:hover {
      color: $orange;
    }
  }
}

.note-msg.empty-catalog {
  background: #fff !important;
  padding: 20px !important;
  min-height: 0;
}

@media only screen and (max-width: 769px) {
  .wrapper {
    border-top-style: none;
    border-top-color: none;
  }
  .hide-below-769 {
    display: none !important;
  }

  div#top.header-mobile {

    div.nav.container {
      width: 100% !important;
      max-width: 100%;
    }

    div.header-primary.container,
    div.nav.container div.inner-container {
      padding: 0;
      width: 100% !important;
      max-width: 100%;
      position: relative;
      box-shadow: 0 2px 10px rgba(45, 45, 45, 0.83);
      .skip-link,
      .skip-phone,
      .logo-wrapper--mobile {
        @include menu-gradients();
        color: $base-blue;
      }
    }

    div.nav-container.skip-active div.nav.container div.inner-container {
      box-shadow: none !important;
      li.nav-item:last-of-type {
        box-shadow: 0 2px 4px rgba(45, 45, 45, 0.55);
      }
    }
  }
}

// Bug on the nested-container style
.nested-container {
  @media only screen and (min-width: 767px) {
    width: 102%;
    margin-left: -2%;
  }
}

@media only screen and (max-width: 639px) {
  .hide-below-640 {
    display: none !important;
  }
}

/* Magento (general)
-------------------------------------------------------------- */
.gen-tabs.accor .tabs-panels .panel {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 767px) and (min-width: 640px) {
  .itemgrid.itemgrid-adaptive .item {
    width: 48%;
  }
}

/* Table (general)
-------------------------------------------------------------- */
table td {
  padding: 6px;
}

table.column-first-header {
  tbody tr td:first-child {
    font-weight: bold;
  }
}

table.colored-rows {
  tr.odd td{
    background-color: #f2f2f2;
  }

  tr.even td {
    background-color: #eeebe9;
  }
}

/* Block (general)
-------------------------------------------------------------- */
.section, .block {
  background-color: #fff;
  margin-bottom: 10px;
}

.footer-primary .section {
  background: none;
}

.block {
  padding: 10px;
}

.content {
  margin: 10px;
}

body .links > li > a:hover {
  background-color: transparent;
  color: #000 !important;
}

/* Header
-------------------------------------------------------------- */
.header-regular{
  .skip-link,
  .skip-phone {
    display: none;
  }
}

@media screen and (min-width: 961px) {
  .header-regular {
    #header-search {
      float: right;
      width: 40%;
      .form-search {
        width: 100%;
        .input-text {
          width: 77%;
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .header-regular {
    #header-search {
      width: 100%;
      float: none;
      .form-search {
        float: right;
        .input-text {
          width: 87%;
        }
      }
    }
  }
}

.header h1 {
  text-align: center;
}

.header-regular.header-container {
  .header-menu {
    font-size: 11px;
    overflow: hidden;
    text-align: right;
    li, a, ul {
      display: inline-block;
      text-transform: uppercase;
      color: #000;
    }
    li.last {
      padding-right: 0;
      a {
        padding-right: 0;
      }
    }

  }

  .certifications {
    width: 57%;
    float: left;
    overflow: auto;
    ul {
      width: 250px;
      float: right;
      overflow: auto;
      list-style-type: none;
      li {
        float: left;
        line-height: 38px;
        margin-right: 5px;
        a {
          display: block;
        }
      }
	  .villaagarna {
		background: url("https://www.polarpumpen.se/media/bilder/design/logo/villaagarna_partner.png") no-repeat;
		height: 32px;
		width: 65px;
		background-size: 100%;
		background-position: 0px 6px;
	  }
      .fortum {
        background: url('../images/sprites.png') no-repeat 0 -3px;
        width: 32px;
        height: 38px;
      }
      .swedac {
        background: url('../images/sprites.png') no-repeat 0 -47px;
        width: 43px;
        height: 38px;
      }
      .e-handel {
        background: url('../images/sprites.png') no-repeat -39px -1px;
        width: 42px;
        height: 40px;
      }
      .trygg-ehandel {
        background: url('../images/sprites.png') no-repeat -49px -48px;
        width: 38px;
        height: 38px;
      }
    }
  }

  .right-column.hp-block {
    vertical-align: bottom;
    padding-bottom: 10px;
  }
}

/* Chat Widget
-------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  .snapifyWrapper {
    &.snapifyTabOpen {
      display: none !important;
    }
  }
}

/* Social Widget
-------------------------------------------------------------- */
.inner-container {
  position: relative;
  #social {
    position: absolute;
    width: 35px;
    top: 0;
    left: -75px;
  }
}

@media screen and (max-width: 1380px) {
  .inner-container {
    position: relative;
    #social {
      display: none;
    }
  }
}

/* Page
-------------------------------------------------------------- */
.main.container {
  padding-top: 0;
  background-color: transparent;
  .inner-container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Left Column
-------------------------------------------------------------- */
.col-left {

  .nav-block, .block {
    .block-title,
    > h5 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em !important;
      font-weight: normal;
      color: black;
      border: none;
      text-transform: uppercase;
      strong {
        font-weight: normal !important;
      }
    }
  }

  .block {
    background-color: transparent;
    .block-content, {
      background-color: #fff;
    }
  }
}

/* Breadcrumbs
-------------------------------------------------------------- */
@media screen and (max-width: 481px) {
  .breadcrumbs {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1281px)  {
  .breadcrumbs {
    margin-top: 10px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .breadcrumbs {
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .breadcrumbs {
    margin-top: 15px;
  }
}

.breadcrumbs {
  line-height: 1em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Block: Guide
-------------------------------------------------------------- */

.block.guide {
  text-align: center;
  h2 {
    font-weight: bold;
  }
  .input-text {
    width: 80%;
  }
  .button {
    margin: 0 auto;
    font-size: 14px;
  }
}


/* Block: Miscellaneous categories
-------------------------------------------------------------- */

.block.miscellaneous-categories {
  background-color: $mid-grey;
  overflow: auto;
  text-align: center;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  .title {
    font-family: arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-transform: initial;
    font-size: 11px;
    text-align: center;
    margin-bottom: 5px;
    display: block;
  }
  ul {
    overflow: auto;
    li {
      min-width: 62px;
      padding: 0 16px;
      display: inline-block;
      &:first-of-type {
        border-right: 1px solid #fff;
      }
      &:last-of-type {
        border-left: 1px solid #fff;
      }
    }
  }
}

/* Block: Besparing / Uppvarming / Miljovanligt
-------------------------------------------------------------- */
@media screen and (min-width: 1281px) {
  .block.besparing-uppvarmning-miljovanligt {
    margin: 25px 24% 0;
    .icon.besparing {
      width: 86px;
      margin-right: 50px;
    }
    .icon.uppvarmning {
      width: 116px;
      margin-right: 50px;
    }
    .icon.miljovanligt {
      width: 105px;
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .block.besparing-uppvarmning-miljovanligt {
    margin: 25px 17% 0;
    .icon.besparing {
      width: 86px;
      margin-right: 50px;
    }
    .icon.uppvarmning {
      width: 116px;
      margin-right: 50px;
    }
    .icon.miljovanligt {
      width: 105px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  .block.besparing-uppvarmning-miljovanligt {
    margin: 25px 8% 0;
    .icon.besparing {
      width: 86px;
      margin-right: 50px;
    }
    .icon.uppvarmning {
      width: 116px;
      margin-right: 50px;
    }
    .icon.miljovanligt {
      width: 105px;
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 769px) {
  .block.besparing-uppvarmning-miljovanligt {
    margin: 25px 5% 0;
    .icon.besparing {
      width: 86px !important;
      margin-right: 20px;
    }
    .icon.uppvarmning {
      width: 116px !important;
      margin-right: 20px;
    }
    .icon.miljovanligt {
      width: 105px !important;
    }
  }
}

@media screen and (max-width: 640px) {
  .block.besparing-uppvarmning-miljovanligt {
    width: 220px;
    margin: 25px auto 0;
    .icon.besparing {
      margin-left: 6px;
      padding-left: 45px;
    }
  }
}

.block.besparing-uppvarmning-miljovanligt {
  background-color: transparent;
  padding: 0;
  .icon {
    display: inline-block;
    color: #525455;
    font-size: 2.2em;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    background-repeat: no-repeat;
    background-position: 0 center;
    line-height: 1.7em;
    padding-left: 51px;
  }
  .icon.besparing {
    background-image: url(../images/bullet-besparing.png);
  }
  .icon.uppvarmning {
    background-image: url(../images/bullet-uppvarmning.png);
  }
  .icon.miljovanligt {
    background-image: url(../images/bullet-miljo.png);
  }
}

/* Block: Meta Information Bar
-------------------------------------------------------------- */
@media screen and (min-width: 960px) {
  .category-meta-information {
    .col {
      width: 20%;
    }
    .col5 {
      width: 17%;
    }
  }
}

@media screen and (max-width: 960px) {
  .category-meta-information {
    .col {
      width: 33.33%;
    }
  }
}

@media screen and (max-width: 639px) {
  .category-meta-information {
    .col {
      width: 48%;
      min-height: 85px;
    }
    .col4, .col5 {
      width: 48%;
    }
    .col4 {
      p {
        margin-top: 13px !important;
      }
    }
    .col5 {
      float: none;
      width: 100%;
      height: 70px;
      ul {
        width: 109px;
        margin: 0 auto;
        li {
          text-align: center;
        }
      }
    }
  }
}

.category-meta-information {
  background-color: #fff;
  overflow: auto;
  .col {
    float: left;
    font-size: 11px;
    text-align: center !important;
    p {
      font-size: 11px;
      margin-bottom: 0 !important;
      text-align: center !important;
    }
  }
  .col1 {
    margin-top: 1%;
  }
  .col2, .col4 {
    margin-top: 3%;
  }
  .col5 {
    margin-top: 2%;
    float:right;
    text-align: left;
  }
}

/* Block: Category "Borja E-handla!"
-------------------------------------------------------------- */

@media screen and (min-width: 980px) and (max-width: 1280px) {
  .buysteps-container {
    ol.steps {
      li {
        div {
          max-width: 155px;
        }
      }
    }
  }
}
@media screen and (min-width: 961px) and (max-width: 979px) {
  .buysteps-container {
    ol.steps {
      li {
        div {
          max-width: 154px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .buysteps-container {
    ol.steps {
      li {
        div {
          max-width: 106px;
        }
      }
    }
  }
}

@media screen  and (max-width: 767px) {
  .buysteps-container {
    margin: 10px;
    ol.steps {
      li {
        div {
          max-width: none;
        }
      }
    }
  }
}

.buysteps-container {
  h4 {
    color: $base-green;
    margin-bottom: 0;
  }
  ol.steps {
    li:before {
      list-style: none;
      content: counter(step-counter);
      line-height: 2em;
      background-color: $base-green;
      color: #fff;
      font-family: "Raleway", Sans-serif;
      font-size: 21px;
      font-weight: bold;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 4px 12px;
      vertical-align: middle;
    }
    li {
      counter-increment: step-counter;
      border-top: solid 2px $base-green;
      padding: 10px;
      div {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}


/* Start page: Slideshow
-------------------------------------------------------------- */
.cms-index-index {
  .preface-wrapper {
    .sidebar {
      background-color: #fff;
      width: 25%;
      margin: 0;
      .input-text {
        width: 80%;
      }
    }
  }
}

/* Block: Brands bar
-------------------------------------------------------------- */
.brands-bar {
  margin: -10px 0 0 0;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
  .content {
    width: 300%;
    margin: 0 auto;
    max-width: 1015px;
    .logo {
      white-space: nowrap;
      display: inline-block;
      float: left;
      vertical-align: middle;
    }
    .fujitsu {
      margin-left: 5%;
      margin-top: 13px;
      margin-right: 50px;
    }
    .panasonic {
      margin-top: 15px;
      margin-right: 50px;
    }
    .mitsubishi {
      margin-top: 15px;
      margin-right: 50px;
    }
    .toshiba {
      margin-top: 22px;
      margin-right: 50px;
    }
    .lg {
      margin-top: 13px;
      margin-right: 50px;
    }
    .sharp {
      margin-top: 24px;
      margin-right: 50px;
    }
    .daikin {
      margin-top: 22px;
    }
  }
}

/* Start Page
-------------------------------------------------------------- */
body.cms-index-index {

  .brands-bar {
    margin: 10px 0;
  }

  @media only screen and (max-width: 1024px) {
    .col-main .product-upsell-list {
      .block-item-2 .item-1 p {
        font-size: 0.9em;
        line-height: 1.231em;
      }
      .block-item-1 nav > div a {
        font-size: 0.9em;
      }
    }
  }

  @media only screen and (min-width: 641px) and (max-width: 769px) {
    .col-main .product-upsell-list {
      .block-item {
        h3 {
          line-height: 1.1em;
        }
      }
      .block-item-1, .block-item-2 {
        width: 49.5%;
        margin-right: 0.5%;
        margin-bottom: 10px;
      }

      .block-item-2 {
        float: right;
        margin: 0 !important;
        padding: 0 !important;

        input[type=text] {
          margin-right: 0;
        }
      }

      .block-item-3 {
        width: 100%;

        .usp {
          width: 32.6%;
          float: left;
          margin-top: 0;
          box-sizing: border-box;
          margin-right: 0;
          min-height: 150px;
          padding: 10px;

          &:nth-child(even) {
            margin: 0 1.1% !important;
          }

          h3 {
            font-size: 1.5em;
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}

/* Price box (Products grid)
-------------------------------------------------------------- */
.products-grid {
  .price-box {
    max-width: 137px;
    .label {
      text-transform: uppercase;
    }
    .regular-price {
      .price {
        color: $orange;
      }
    }
    .special-price {
      margin: 0;
      .old-price {
        display: none;
      }
      .price {
        white-space: normal !important;
        color: #95040c !important;
      }
    }
    .old-price {
      text-align: right;
      margin: 0;
      padding-right: 20px;
      .price {
        font-family: Helvetica, Arial, Sans-serif;
        font-size: 10px;
        text-decoration: line-through;
        color: #333 !important;
      }
    }
    .availability {
      display: none;
    }
  }
}

/* Products grid
-------------------------------------------------------------- */
@media screen and (min-width: 1280px) {
  .main {
    .products-grid {
      .item {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .main {
    .products-grid {
      .item {
        width: 33.3%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .main {
    .products-grid {
      margin: 0 auto;
      .item {
        width: 50%;
        .item-inner {
          max-width: 295px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .products-grid {
      .item {
        .price-box {
          label {
            display:none
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    .products-grid {
      .item {
        width: 100%;
        float: none;
        .item-inner {
          margin: 0 auto;
          .price-box {
            label {
              display:none
            }
          }
        }
      }
    }
  }
}

.main {
  .products-grid {
    background: #fff;
  .clear {
    clear: none !important;
  }
  .item {
    background-color: #fff;
    padding: 0;
    border: none;
    .item-inner {
      padding: 10px;
      .product-image-wrapper {
        min-height: 119px;
        img {
          height: auto;
        }
      }
      .info {
        padding: 10px 0 10px 10px;
        .product-name {
          width: 100%;
          min-height: 42px;
          font-size: 21px;
          line-height: 21px;
          font-family: "Raleway", Sans-serif;
          display: block;
          font-weight: bold;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }
        .product-desc {
          margin-bottom: 20px;
        }
        .bottom {
          position: relative;
          min-height: 40px;
          margin-top: 20px;
          .price-box {
            .regular-price, .special-price {
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
          .actions {
            width: 60px;
            position: absolute;
            right: -4px;
            bottom: 0;
            border: none;
            p {
              margin: 0;
            }
            .btn-cart {
              border: none;
              @include linear-gradient(#dfdfdf, #ffffff);
              @include border-radius(4px, 4px, 4px, 4px);
              padding: 4px;
              height: inherit;
              line-height: inherit;
              > span {
                display: block;
                color: white;
                height: 33px;
                line-height: 33px;
                @include appearance(none);
                @include linear-gradient(#ffb34a, #fa6732);
                @include border-radius(4px, 4px, 4px, 4px);
                @include box-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5), true);
                @include box-shadow(0, 1px, 0, rgba(255, 255, 255, 0.7), true);
                @include text-shadow(0, -1px, 0, rgba(0, 0, 0, 0.5));
                @include transition(all, 0.15s, ease-out);
                text-transform: uppercase;
                font-weight: bold;
                padding: 0 10px;
                &:hover {
                  background-position: 0 15px;
                }
              }
            }
            .button {
              &.secondary {
                margin-left: 4px;
                margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
}
}

.ma2-widgetproductlist {
  margin: 0;
  padding: 0;
}

.cms-index-index {
  .products-grid {
    background: transparent;
    .item {
      background-color: transparent;
    }
  }
}

/* Mobile logo
-------------------------------------------------------------- */
.header-mobile {
  .inner-container {
    padding: 0 !important;
  }
  .logo-wrapper--mobile {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &.extra-padding {
      padding-left: 20%;
    }

    .logo--mobile {
      max-height: 50px;
      max-width: 60px;
      text-align: center;
      margin: 0;
      display: inline-block;

      img {
        height: 40px;
        margin-top: 5px;
        max-width: 100% !important;
      }
    }
  }
}

body {
  .wrapper .page .main-container {
    background-image: url('../images/bg.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    .main {
      padding-bottom: 0;
    }
  }

  .footer-container {
    border-top: 2px solid $base-purple;
    .widget {
      display: block;
      float: left;
      padding: 0 3px;
      min-height: 180px;
      &.soliditet {
        img {
          margin-top: -10px;
        }
      }
    }
  }
}

.header-mobile {
  .skip-link,
  .skip-phone,
  .logo-wrapper--mobile {
    position: relative;
    float: left;
    width: 20%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    font-size: 16px;
    line-height: 16px;
  }
}

.nav-regular .nav-item.level0 > a {
  text-transform: none;
}

div#top.sticky-header {
  #header-nav {
    @include menu-gradients();
    .inner-container {
      margin-bottom: 0;
      ul#nav.nav-regular {
        border: none;
        @include border-radius(0, 0, 0, 0);

        > li.nav-item.nav-item--home {
          a {
            @include border-radius(0, 0, 0, 0);
            border: none;
          }
        }

        li.level0.nav-item.campaign {
          span.badge {
            font-size: 0.8em;
            top: 5px;
            right: -25px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .nav-regular .nav-item.level0 > a {
    font-size: 12px;
  }
}

.header-mobile {
  input#search {
    width: 90%;
  }
}

/** Navigation system: mobile */
.mobnav-trigger-wrapper a.mobnav-trigger {
  font-family: Helvetica, sans-serif;
}

.nav-mobile li.nav-item {
  width: 100%;
  max-width: 100%;
}

.nav-mobile .nav-item.level0,
.nav-mobile .nav-item.level1,
.nav-mobile .nav-item.level2 {
  > .opener {
    color: $dark-purple;
  }

  > a {
    font-family: Helvetica, sans-serif;
  }

  span.badge {
    font-size: 0.6em;
    background: rgba(198, 0, 0, 0.9);
    padding: 5px 12px;
    color: #FFF;
    @include border-radius(50px, 50px, 50px, 50px);
    top: -5px;
  }
}

/*
 * Catalog product view
 */
body.catalog-product-view {
  .products-grid .item .item-inner .info .product-desc {
    white-space: normal;
  }

  .products-grid .item .item-inner .info {
    padding: 10px 0;
  }

  @media only screen and (max-width: 769px) {
    .breadcrumbs {
      text-align: left !important;
    }
  }

    div.product-view {
      // General style for a sub-element
      div.price-box {
        margin-top: 0;

        text-align: left;

        span.regular-price {
          font-size: 1.3em;
        }

        span.label {
          color: #666;
          font-size: 11px;
          text-transform: uppercase;
        }
        span.price {
          font-family: "Raleway", sans-serif;
          font-weight: bold;
        }

        @media only screen and (max-width: 481px) {
          padding: 61px 0 17px;
        }
      }

      // The form section
        form#product_addtocart_form {
          @media screen and (max-width: 321px) {
            margin-bottom: 15px;
            .grid12-9, .grid12-3 {
              margin-bottom: 0 !important;
            }
          }

            // Image parent element styles
          div.product-img-column {
            float: right;
            .sku {
              text-align: right;
            }

            .sku-mobile {
              display: none;
              margin: 4px 0;
            }

            @media only screen and (max-width:767px) {
              margin: 0 auto;
              float: none;
              clear: both;
              width: 100%;
              display: block;
              position: relative;

              // The image gallery
              .img-box {
                p.product-image {
                  width: 100%;
                  max-width: 100%;
                  border: none;
                  margin:0 !important;
                  padding:0;
                  img.gallery-image {
                    width: 100%;
                  }
                }
              }
            }

            @media only screen and (max-width: 481px) {
              .sku-mobile {
                display: block;
              }
            }
          }

            div.product-shop {
              @media only screen and (max-width: 769px) {
                margin-bottom: 0;
                .product-name {
                  margin: 0;
                }
              }

              div.add-to-box {
                border: none;
                text-align: right;

                div.add-to-cart {
                  input[type=text].qty {
                    margin: 0 0 5px;
                    min-width: 60px;
                    @media only screen and (max-width: 481px) {
                      padding: 7px 10px;
                    }
                  }

                  button {
                    width: auto;
                    line-height: 10px;
                    span {
                      vertical-align: middle;
                      line-height: inherit;
                    }
                  }

                  @media only screen and (max-width: 481px) {
                    label {
                      display: block !important;
                    }

                    input[type=text].qty {
                      margin-bottom: 3px;
                    }
                  }

                  @media only screen and (min-width: 481px) {
                    .clear {
                      display: none;
                    }
                  }
                }

                p.availability.in-stock {
                  @include alpha-attribute('color', $green, white);
                  float: none;
                  margin: 1em 0 0;
                  padding: 0;
                }

                @media only screen and (max-width: 960px) {
                  margin-bottom: 0;
                }

              }

              div.product-type-data {
                text-align: right;
                border: none;
              }
            }
        }

        // The sidebar box-additional
        div.box-additional.box-sidebar {
          @media screen and (max-width: 321px) {
            margin-bottom: 0;
          }

            .block {
              background: none;
              padding: 0;

                h3.section-title {
                  color: black;
                  text-transform: uppercase;
                  font-size: 1.2em;
                  font-weight: bold;
                  margin: 0;
                  @media screen and (max-width: 769px) {
                    padding-left: 5px;
                  }
                }
            }
            // Enforce correct type on all following elements
            h1, h2, h3, h4, h5, h6 {
                font-family: "Raleway", sans-serif;
                border: none;
            }

            div.inner {
                border: none;
                @media only screen and (max-width:768px) {
                    padding: 0;
                }

                div.box-related,
                div.related-products.after-wrapper {
                  background: none;
                  margin-bottom: 0;

                  .products-grid {
                    * {
                      height: auto !important;
                      max-width: 100% !important;
                    }

                    background: none;
                    .product-item-inner.item-inner {
                      padding: 0;
                      .bottom {
                        .actions {
                          display: block;
                        }
                      }

                      @media only screen and (max-width: 1025px) {
                        a.product-image {
                          float: left;
                          min-width: 295px;
                        }

                        .product-info {
                          margin-left: 295px;
                        }
                      }
                    }
                  }

                  .block {
                    margin-bottom: 0;
                  }

                  div.item {
                    padding: 0;
                  }

                  .product,
                  .product-item.item {
                    margin: 7px 0;
                    background: white;
                    max-width: 100%;
                    width: 100% !important;

                    &:first-of-type {
                      margin-top: 0;
                    }

                    @media screen and (min-width: 1024px) {
                      @include border-radius(4px, 4px, 4px, 4px);
                    }

                    div.price-box {
                      span.label {
                        display: none;
                      }
                      .special-price {
                        .old-price {
                          display: none;
                        }
                      }
                      .old-price {
                        text-align: right;
                        .price {
                          font-family: Helvetica, Arial, Sans-serif;
                          font-size: 10px;
                          text-decoration: line-through;
                          color: #333 !important;
                        }
                      }
                    }

                    .product-image, div.product-details, div.product-info {
                      @media only screen and (min-width: 1025px) {
                        margin: 0;
                        float: none;
                      }

                      // @FIXME
                      img {
                        width: 100%;
                      }
                    }
                    .product-image {
                      text-align: center;
                      a {
                        display: block;
                      }
                    }
                    .product-details,
                    .product-info {
                      box-sizing: border-box;
                      padding: 10px;

                      h3, h4 {
                        margin: 0;
                      }

                      .short-description {
                        margin: 7px 0;
                        font-size: 0.8em;
                      }

                      .product-name {
                        font-size: 1.6em;
                      }

                      .price-section {
                        .price-box {
                          padding: 7px 0 0;
                          display: block;
                          position: relative;
                        }
                      }

                      .button-section,
                      .actions {
                        .button {
                          float: right;
                          &.btn-cart {
                            min-width: 35px!important;
                            width: auto;
                            background: none;
                            float: right
                          }
                        }
                      }

                      @media only screen and (min-width: 1025px) {
                        .price-section, .button-section {
                          margin: 0;
                        }
                      }

                      @media only screen and (max-width: 1025px) {
                        .price-section, .button-section {
                          width: 50% !important;
                          margin-bottom: 0;
                        }
                      }

                      @media only screen and (min-width: 1025px) and (max-width: 1367px) {
                        .price-section, .button-section {
                          width: 100% !important;
                          margin-bottom: 0;
                          .price-box {
                            text-align: center;
                          }
                          button.button {
                            float: none;
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
            }
        }

        div.box-tabs {
          @media screen and (max-width: 769px) {
            margin-bottom: 0;
          }
            .gen-tabs {
                ul.tabs {

                    li:first-of-type {
                        margin-left: 0;
                        padding-left: 0;
                    }

                    li {
                      margin-left: 5px;
                    }
                }

                div.tabs-panels {
                  .panel {
                    h2,.details {
                      color: black;
                      font-size: 1.5em;
                    }
                    .details {
                      font-family: "Raleway", Sans-serif;
                      font-weight: bold;
                      margin-bottom: 20px;
                      display: block;
                    }

                    .data-table {
                      margin-bottom: 15px;
                      table-layout: fixed;
                      thead tr {
                        th:nth-child(2n) {
                          width: 80px;
                        }
                      }
                      tbody {
                        tr {
                          td:first-child {
                            font-weight: normal;
                          }
                        }
                      }

                      span.myprice {
                        font-family: "Raleway", sans-serif;;
                        font-size: 2em;
                        font-weight: bold;
                      }
                    }
                  }
                }
            }
        }
    }
}

.block {
  padding: 0;
}

.col-left {
  div.block {
    &:first-of-type {
      margin-bottom: 7px;
    }

    h2 {
      font-size: 0.8em;
      font-family: Arial, Helvetica, sans-serif;
      @include alpha-attribute('color', black, black);
    }

    section, .block-content {
      padding: 7%;
      @include alpha-background-color(white, white);
    }
  }

  div.block.normal,
  div.nav-block.normal {
    section,
    .block-content {
      ul {
        li {
          a {
            font-weight: bold;
          }
          ul li {
            padding-left: 7%;
            a {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}


// Necessary ultimo overrides
.product-view {
  @media screen and (max-width: 769px) {
    margin-bottom: 30px;
  }

  .short-description {
    margin: 7px 0 7px;
  }

  .product-type-data {
    border: none;

    .price-box {
      border: none;

	.old-price-wrapper .price {
		font-family: Helvetica, Arial, Sans-serif;
		font-size: 10px;
		text-decoration: line-through;
		color: #333;
	}

      .special-price .price {
        color: #95040c !important;
      }

      .special-price .old-price {
        text-decoration: line-through;
        color: black;
      }
    }
  }
}

/* Product Upsell List */
.toolbar-bottom {
  display: none;
  background-color: #eeebe9;
  margin-top: 0;
  padding-top: 10px;

  .toolbar {
    border-color: #f2f2f2;
  }
}

.category-products {
  margin-bottom: 0;
  .toolbar {
    display: none; /* Take care of this, should show up */
  }

  .cat-title, .cat-description {
    margin: 0 10px;
  }
}

.product-upsell-list {
  overflow: hidden;
  padding: 10px;
  background-color: #eeebe9;

  .block-item {
    width: 33.33%;
    float: left;
    overflow: hidden;

    @media only screen and (max-width: 641px) {
      width: 100%;
      float: none;
      margin-top: 10px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .block-item-1 {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include border-radius(4px, 4px, 4px, 4px);

    nav {
      > div {
        margin-top: 20px;
        position: relative;
        min-height: 77px;

        div.icon {
          background: url('../images/sprites.png') no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 0;

          &.house {
            background-position: -158px -1px;
            width: 60px;
            height: 60px;
          }
          &.retreat {
            background-position: -792px -366px;
            width: 60px;
            height: 60px;
          }
        }

        a {
          display: block;
          margin-left: 70px;
          line-height: 25px;
          font-size: 110%;

          &:before {
            content:"\00bb\2002";
          }
        }
      }
    }
  }

  .block-item-2 {
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;

    @media only screen and (max-width: 640px) {
      padding: 0;
    }

    div.item-1 {
      margin-bottom: 6px;
      > div:first-child {
        height: 84px;
      }
      .girl {
        z-index: 20;
        background-position: -351px -3px;
        width: 128px;
        height: 97px;
        background-image: url('../images/sprites.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 10px;
      }
      .webforms-success-text {
        background-color: #fff;
        min-height: 81px;
        margin-bottom: 10px;
        padding: 10px;
      }
      .webforms-bli_uppringd {
        z-index: 10;
        position: relative;
        background-color: #fff;
        padding: 11px 10px 10px 10px;
        display: block;
        overflow: hidden;
        margin-bottom: 10px;

        .fieldset {
          margin: 0;
          .fields {
            margin: 0;
            .field {
              margin: 0;
              width: 100%;
              &.followed-by-button {
                width: 68%;
                float: left;
              }
              .validation-advice {
                display: none;
              }
            }
            input[type=text] {
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              width: 100%;
              height: 33px;
              line-height: 33px;
              margin-bottom: 7px;
            }
          }
        }

        label {
          display: none;
        }
        p.required {
          display: none;
        }

        .buttons-set {
          position: absolute;
          bottom: 17px;
          right: 10px;
          clear: none;
          border: none;
          width: 28%;
          float: right;
          .button {
            width: 100%;
            min-width: 0;
          }
        }
      }

      h3 {
        padding: 0 0 0 10px;
        margin-bottom: 0;
      }

      p {
        font-size: 120%;
        margin: 0 140px 10px 10px;
      }
    }



    div.item-2 {
      h3 {
        background-color: #fff;
        margin: 0;
        padding: 10px 10px 0 10px;
      }

      #form_newsletter_subscription {
        padding: 10px;
        background-color: #fff;
        display: block;
        overflow: hidden;

        input[type=email] {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          height: 33px;
          line-height: 33px;
          margin-bottom: 7px;
          width: 68%;
          float: left;
        }

        input.button {
          width: 30%;
          float: right;
        }
      }
    }

  }

  .block-item-3 {
    .usp {
      background-color: #fff;
      margin-top: 10px;
      padding: 10px 10px 17px 10px;
      overflow: hidden;
      @include border-radius(4px, 4px, 4px, 4px);
      &:first-child {
        margin-top: 0;
      }

      div {
        margin-left: 70px;
        h3 {
          margin-bottom: 0;
        }

        p {
          font-size: 120%;
          color: #000;
          margin: 0;
        }
      }

      .icon {
        width: 60px;
        height: 58px;
        margin-right: 10px;
        float: left;
        background: url('../images/sprites.png') no-repeat;

        &.s-5 {
          background-position: -160px -65px;
        }

        &.s-6 {
          background-position: -96px -62px;
        }

        &.s-7 {
          background-position: -96px -1px;
        }

      }
    }
  }
}

.brands {
  background-color: #fff;
  overflow: hidden;
  text-align: center;

  .brand {
    background: url('../images/brands.png') no-repeat;
    display: inline-block;
    text-indent: -999em;
    margin: 0 10px;

    &.airpatrol {
      background-position: -28px -224px;
      width: 95px;
      height: 57px;
    }

    &.kvadrat {
      background-position: -27px -286px;
      width: 96px;
      height: 57px;
    }

    &.trygghetsvakten {
      background-position: -34px -399px;
      width: 84px;
      height: 57px;
    }

    &.airmove {
      background-position: -47px -458px;
      width: 56px;
      height: 57px;
    }

    &.isfritt {
      background-position: -34px -570px;
      width: 80px;
      height: 57px;
    }
  }
}

.info-list {
  overflow: hidden;
  padding: 10px;
  background-color: #eeebe9;
  margin-top: 20px;

  .block-item {
    width: 33.33%;
    float: left;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    a {
      color: #fa6632;
    }

    @media only screen and (max-width: 640px) {
      width: 100%;
      float: none;
    }

  }

}

/* Before footer bar
-------------------------------------------------------------- */
@media screen and (min-width: 960px) {
  .before-footer {
    .payment {
      max-width: 327px;
      left: auto;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .before-footer {
    .payment {
      max-width: 327px;
      left: 145px;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .before-footer {
    .payment {
      max-width: 327px;
      left: 0;
    }
  }
}
@media screen and (min-width: 401px)  and (max-width: 639px) {
  .before-footer {
    .payment {
      display: block;
      left: auto;
      margin: 0 auto;
      max-width: 358px;
    }
  }
}
@media screen and (max-width: 400px) {
  .before-footer {
    .payment {
      display: block;
      left: auto;
      margin: 0 auto;
      max-width: 281px;
    }
  }
}
.before-footer {
  padding-top: 25px;
  overflow: hidden;
  position: relative;
  height: 85px;

  .logo {
    position: absolute;
    top: 25px;
    right: 0;
    width: 208px;
    height: 84px;
    background: url('../images/sprites.png') no-repeat -2px -133px;
  }

  .bear-large {
    position: absolute;
    bottom: 2px;
    left: 0;
    background: url('../images/sprites.png') no-repeat -400px -195px;
    width: 77px;
    height: 34px;
  }
  .bear-small {
    position: absolute;
    bottom: 2px;
    left: 90px;
    background: url('../images/sprites.png') no-repeat -516px -215px;
    width: 25px;
    height: 14px;
  }

  .payment {
    img {
      height: auto;
    }
    height: 23px;
    position: relative;
    top: 50px;
  }
}

body .footer-primary {
  background-color: transparent;

}

.footer-primary-bottom {
  .item {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}


/* Block: Recommended products (start page)
-------------------------------------------------------------- */
.block.recommended-products {
  padding: 10px;
  background-color: #eeebe9;
  > h2 {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 10px 0;
    margin: 0;
  }
  .toolbar {
    border: none;
    padding: 0 10px;
    .sorter {
      padding: 0;
    }
  }

  &.block {
    margin-bottom: 2px;
  }
}

/* Product view
-------------------------------------------------------------- */
.product-view {
  form {
    padding: 10px;
    display: block;
    overflow: hidden;
    background-color: #fff;

    @media screen and (min-width: 481px) {
      @include border-radius(4px);
    }

    @media screen and (max-width: 769px) {
      margin-bottom: 15px;
    }
  }

  .short-description {
    line-height: 1.6em;
  }

  .box-additional.grid12-9 {
    margin-left: 0;
  }

  .add-to-box {
    padding: 0;
    margin: 0;
  }
}

.brands.information {
  margin-bottom: 0;
  padding: 20px 10px;
  background: white;
}

.container-shadow {
  position: relative;
  z-index: 0;
}

.container-shadow:before {
  z-index: -10;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 150px / 10px;
  border-radius: 150px / 10px;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.8);
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
}