<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();
	$theme = $this->helper('ultimo');
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');

	//CSS classes based on product type
	$productTypeId = $_product->getTypeId();
	$productTypeClasses = '';
	if ($productTypeId === 'grouped') {
		$productTypeClasses .= ' is-type-grouped';
	}

        // Get $product_price for Google Tag Manager
        if($_product->getTypeId() === 'bundle') {				 
            $pricemodel = Mage::getModel('bundle/product_price');

            $price = $pricemodel::calculatePrice(
                $_product->getData('price'),
                $_product->getSpecialPrice(),
                $_product->getSpecialPriceFrom(),
                $_product->getSpecialPriceTo(),
                false,
                Mage::app()->getStore()->getWebsite()->getId(),
                Mage::getSingleton('customer/session')->getCustomer()->getGroupId(),
                $_product->getId()
            );

            $finalprice = $this->helper('core')->currencyByStore(Mage::helper('tax')->getPrice($_product, $price));
            $productPrice = number_format(preg_replace("/[\D]/", "", $finalprice), 2, '.', '');
        } else {
            $productPrice = number_format($_product->getPrice(), 2, '.', '');
        }		

        // Get $category for Google Tag Manager
        $url = explode('/', $_product->getProductUrl());
        $count	= count($url);
        if($url[3] == 'fukt-i-hus' || $url[3] == 'partner') {
            $productCategory = $url[$count-2];
        } else {
            $productCategory = $url[$count-4];
        }
        
        $productName = $_helper->productAttribute($_product, $_product->getName() , 'name');
        $productSku = str_replace(' ', '-', $_product->getSku());
        $productBrand = $_product->getAttributeText('td_marke');
        
	//
	$shortDescription = $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description');

	//Rich snippets
	$useRichSnippets = ($helperSnippets->isEnabledOnProductPage() && $productTypeId !== 'grouped');
	$priceProperties = '';
	if ($useRichSnippets)
	{
		$priceProperties = $helperSnippets->getPriceProperties($_product); //Has to be called before getOfferItemscope
	}

	//Get grid classes for product page sections
	$grid = $helperThis->getGridClasses();

	//Product collaterals
	//--------------------------------------------------------------
	$section = array();
	$relatedProductsHtml = '';
	$upsellProductsHtml = '';

	//Related products.
	//If related products not assigned to collateral data container.
	if (!$theme->getCfg('product_page/collateral_related')) {
            $replaceRelated = $theme->getCfg('product_page/replace_related');
            if ($replaceRelated == 1)  { //don't replace with static block
                if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper'))) {
                    $relatedProductsHtml = $tmpHtml;
                    //$relatedProductsHtml = trim($this->getChildHtml('related_products_wrapper'));
                }
            } else if ($replaceRelated == 2) { //if related is empty, replace with static block
                if ($tmpHtml = trim($this->getChildHtml('related_products_wrapper'))) {
                    $relatedProductsHtml = $tmpHtml;
                } else { //related empty
                    if ($tmpHtml = $this->getChildHtml('block_product_replace_related')) {
                        $relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
                    }
                }
            }
            elseif ($replaceRelated == 3) { //replace with static block
                if ($tmpHtml = $this->getChildHtml('block_product_replace_related')) {
                    $relatedProductsHtml = '<div class="block_product_replace_related">'. $tmpHtml .'</div>';
                }
            }
	}

	//Up-sell products.
	//If up-sell products not assigned to collateral data container.
	if (!$theme->getCfg('product_page/collateral_upsell')) {
            $replaceUpsell = $theme->getCfg('product_page/replace_upsell');
            if ($replaceUpsell == 1) { //don't replace with static block
                if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper'))) {
                    $upsellProductsHtml = $tmpHtml;
                    //$upsellProductsHtml = $this->getChildHtml('upsell_products_wrapper');
                }
            } else if ($replaceUpsell == 2) { //if upsell is empty, replace with static block
                if ($tmpHtml = trim($this->getChildHtml('upsell_products_wrapper'))) {
                    $upsellProductsHtml = $tmpHtml;
                } else {//upsell empty
                    if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell')) {
                        $upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
                    }
                }
            } else if ($replaceUpsell == 3) { //replace with static block
                if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell')) {
                    $upsellProductsHtml = '<div class="block_product_replace_upsell">'. $tmpHtml .'</div>';
                }
            }
	}

	//Assign blocks to selected position
	$p = array();

	//Related products
	$position = $theme->getCfg('product_page/related_position');
	if (isset($p[$position])) {
            $p[$position] = $p[$position] . $relatedProductsHtml;
        } else {
            $p[$position] = $relatedProductsHtml;
        }
            
	//Up-sell products
	$position = $theme->getCfg('product_page/upsell_position');
	if (isset($p[$position])) {
            $p[$position] = $p[$position] . $upsellProductsHtml;
        } else {
            $p[$position] = $upsellProductsHtml;
        }
        
	//Product collateral data (displayed as tabs or stacked blocks)
	$position = $theme->getCfg('product_page/collateral_position');
	if (isset($p[$position])) {
            $p[$position] = $p[$position] . $this->getChildHtml('productCollaterals');
        } else {
            $p[$position] = $this->getChildHtml('productCollaterals');
        }
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<?php 
    $referenceInfo = $_product->getRefCurrentmodelorcategory();
    $outOfStock = false;
    if(($this->displayProductStockStatus() && (bool)$_product->getStockItem()->getManageStock()) && !$_product->isAvailable() && !empty($referenceInfo)) {
        $outOfStock = true;
        echo $this->getLayout()->createBlock('core/template')->setTemplate('polarpumpen/catalog/product/view/product_alert.phtml')->toHtml();
    }
    echo $this->getLayout()->createBlock('core/template')->setTemplate('polarpumpen/catalog/product/view/added_product_alert.phtml')->toHtml(); 
?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view" <?php if ($useRichSnippets) echo $helperSnippets->getProductItemscope(); ?>>

	<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

		<?php echo $this->getBlockHtml('formkey'); ?>
		<div class="no-display">
			<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
			<input type="hidden" name="related_product" id="related-products-field" value="" />
		</div>

        <div class="product-img-column grid12-5">
            <?php if ($sku = $_product->getSku()): ?>
                <?php if ($theme->getCfg('product_page/sku')): ?>
                    <div class="sku hide-below-481">
                        <!--<span class="label"><?php echo $this->__('SKU'); ?>: </span>-->
                        <span class="value" itemprop="sku"><?php echo $sku; ?></span>
                    </div>
                <?php endif; ?>                
            <?php endif; ?>
			
            <?php echo $this->getChildHtml('media') ?>
            <?php echo $this->helper('ultimo/labels')->getLabels($_product); //Product labels ?>
            <?php echo $this->getChildHtml('container_product_image_1'); ?>
            <?php if ($sku = $_product->getSku()): ?>
                <?php if ($theme->getCfg('product_page/sku')): ?>
                    <div class="sku-mobile text-left">
                        <!--<span class="label"><?php echo $this->__('SKU'); ?>: </span>-->
                        <span class="value"><?php echo $sku; ?></span>
                    </div>
                <?php endif; ?>      
            <?php endif; ?>
        </div>
		<div class="product-primary-column product-shop grid12-7">
			<div class="product-name">
				<h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
			</div>

            <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>

            <?php if($outOfStock) : ?> 
                <div class="out-of-stock-warning"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('PP_utgangen_produkt_annons')->toHtml()?></div>
            <?php endif; ?>
			<?php if ($shortDescription): ?>
				<div class="short-description <?php if (!$this->hasOptions()) { echo "description-min-height"; } ?>"><div class="std" itemprop="description"><?php echo $shortDescription; ?></div></div>
			<?php endif;?>

			<?php echo $this->getChildHtml('container_product_primary_1'); ?>

			<?php if (isset($p['primCol_1'])) echo $p['primCol_1']; ?>

			<?php echo $this->getChildHtml('alert_urls'); //alerts ?>

			<?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
				<div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
			<?php endif; ?>

			<?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
                    <div class="options-wrapper box-additional grid12-12">
                        <div class="container2-wrapper"><?php echo $container2_html; ?></div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>

			<?php if ($_product->isSaleable() && $this->hasOptions()): ?>
				<?php if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
					<div class="container1-wrapper"><?php echo $container1_html; ?></div>
				<?php endif; ?>
			<?php endif;?>

			<div class="price-add-to-box" <?php if ($useRichSnippets) echo $helperSnippets->getOfferItemscope(); ?>>
					<div class="product-type-data <?php echo $productTypeClasses; ?>">
						<?php echo $this->getChildHtml('product_type_data'); ?>
						
						<?php if($energimarkning = $_product->getAttributeText('td_v_energimarkning_visa')) {
							$filter = new Mage_Widget_Model_Template_Filter();
							$ecaption = $_product->getEnergimarkningLightboxCapt();	
							switch($energimarkning) {
								case 'A+++':
									$eclass = 'energimarkning-appp';
									break;
								case 'A++':
									$eclass = 'energimarkning-app';
									break;
								case 'A+':
									$eclass = 'energimarkning-ap';
									break;
								case 'A':
									$eclass = 'energimarkning-a';
									break;
								case 'B':
									$eclass = 'energimarkning-b';
									break;
								case 'C':
									$eclass = 'energimarkning-c';
									break;
								case 'D':
									$eclass = 'energimarkning-d';
									break;
							}
							if($eurl = $_product->getEnergimarkningLightboxImg()):
								echo "<div class=\"$eclass\"><a href=\"$eurl\" title=\"$ecaption\" class=\"fancybox\">$energimarkning</a></div>";
							else:
								echo "<div class=\"$eclass\"><span title=\"$ecaption\">$energimarkning</span></div>";
							endif;
						} ?>
					</div>
					<?php echo $this->getTierPriceHtml(); ?>
					<?php echo $priceProperties; ?>


				<div class="add-to-box">
					<?php if($_product->isSaleable()): ?>
							<?php echo $this->getChildHtml('addtocart') ?>
					<?php endif; ?>

					<?php if ($this->displayProductStockStatus() && (bool)$_product->getStockItem()->getManageStock()): ?>
						<?php if ($_product->isAvailable()): ?>
							<p class="availability in-stock"><span><?php echo sprintf("I Lager: %u %s", (int)$_product->getStockItem()->getQty(), str_replace('.', '', $this->__('units'))); ?></span></p>
							<meta itemprop="availability" content="http://schema.org/InStock">
						<?php else: ?>
                            <p class="availability out-of-stock">
                                <?php if($outOfStock): ?>
                                <a href="javascript:outOfStock();">
                                    <span><?php echo $this->__('Out of stock') ?></span>
                                </a>
                                <?php else: ?>
                                    <span><?php echo $this->__('Out of stock') ?></span>
                                <?php endif; ?>
                            </p>
							<meta itemprop="availability" content="http://schema.org/OutOfStock">
						<?php endif; ?>
					<?php endif; ?>
				</div>

				<?php echo $this->getChildHtml('extra_buttons') ?>
			</div>

			<?php if ($addtoLinksHtml = $this->getChildHtml('addto')): //compare, wishlist, send to friend ?>
				<div class="action-box clearer">
					<?php echo $addtoLinksHtml; ?>
				</div>
			<?php endif; ?>

			<?php if (isset($p['primCol_2'])) echo $p['primCol_2']; ?>

			<?php echo $this->getChildHtml('other'); ?>

			<?php echo $this->getChildHtml('container_product_primary_2'); ?>

        </div> <!-- end: product-shop -->

		<?php if (false && isset($grid['secCol'])): //(!empty($secondaryColUnits)): ?>

			<div class="product-secondary-column <?php echo $grid['secCol']; ?> custom-sidebar-right">
				<div class="inner">

					<?php echo $this->getChildHtml('container_product_secondary_1'); ?>

					<?php if (isset($p['secCol_1'])) echo $p['secCol_1']; ?>

					<?php if ($tmpHtml = $this->getChildHtml('product_secondary_top_placeholder')): //Brand logo ?>
						<div class="feature-wrapper bottom-border"><?php echo $tmpHtml; ?></div>
					<?php endif; ?>

					<?php if (isset($p['secCol_2'])) echo $p['secCol_2']; ?>

					<?php echo $this->getChildHtml('container_product_secondary_2'); ?>

					<?php if (isset($p['secCol_3'])) echo $p['secCol_3']; ?>

				</div>
			</div> <!-- end: product-secondary-column -->

		<?php endif; ?>

	</form>
	<script type="text/javascript">
	//<![CDATA[
		var productAddToCartForm = new VarienForm('product_addtocart_form');
		productAddToCartForm.submit = function(button, url) {
                    if (this.validator.validate()) {
                        
                        enhancedEcommerceAddToCart('<?php echo $productSku ?>');

                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                           form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
		}.bind(productAddToCartForm);

		productAddToCartForm.submitLight = function(button, url){
			if(this.validator) {
				var nv = Validation.methods;
				delete Validation.methods['required-entry'];
				delete Validation.methods['validate-one-required'];
				delete Validation.methods['validate-one-required-by-name'];
				if (this.validator.validate()) {
					if (url) {
						this.form.action = url;
					}
					this.form.submit();
				}
				Object.extend(Validation.methods, nv);
			}
		}.bind(productAddToCartForm);
	//]]>
        
        
        function outOfStock() {
            jQuery(document).ready(function($) {
                if($("#product-alert").length) {
                    $("#product-alert").fancybox({
                        helpers : { 
                            overlay: {
                                css : { 'background' : 'rgba(58, 42, 45, 0.3)' }
                            }
                        }
                    }).trigger('click');
                }
            });
        }
    </script>

	<?php //Lower primary column ?>
	<div class="box-additional <?php echo $grid['lowerPrimCol']; ?>">

		<?php if (isset($p['lowerPrimCol_1'])) echo $p['lowerPrimCol_1']; ?>

		<?php echo $this->getChildHtml('product_additional_data') ?>

		<?php echo $this->getChildHtml('reviews'); //Reviews ?>

	</div> <!-- end: box-tabs -->

    <div class="box-additional box-sidebar custom-sidebar-right no-gutter <?php echo $grid['lowerSecCol']; ?>">
        <?php /*<div class="inner">
            <div class="block">
                <h3 class="section-title">Om Polarpumpen</h3>
                <div class="trustpilot-wrapper">
                    <div class="trustpilot-widget" data-locale="sv-SE" data-template-id="539ad0ffdec7e10e686debd7"
                         data-businessunit-id="490e6022000064000503dc64"
                         data-style-height="350" data-style-width="100%" data-theme="light" data-stars="4,5"></div>
                </div>
            </div>
        </div>*/ ?>
        <?php // Overriding the statements above and added related products ?>
        <?php if ($relatedProductsHtml = $this->getChildHtml('related_products_wrapper')): ?>
            <div class="inner"><?php echo $relatedProductsHtml; ?></div>
        <?php endif; ?>
        <?php if (strlen($this->getChildHtml('pp.related_products.after.wrapper'))): ?>
            <div class="inner"><?php echo $this->getChildHtml('pp.related_products.after.wrapper'); ?></div>
        <?php endif; ?>
    </div>
</div> <!-- end: product-view -->
