
<table class="oc-table">
  <tr>
    <th width="200"><?php echo $this->__('Label'); ?></th>
    <th><?php echo $this->__('Image'); ?></th>    
  </tr>
  <?php foreach ($this->getValues() as $r): ?>
  <tr>
    <td>
        <?php echo $r['label'];  ?>
    </td> 
    <td>
      <div class="no-display" id="oc_link_<?php echo $r['option_id']; ?>_file-template">
         <div id="{{id}}" class="file-row file-row-narrow">
            <span class="file-info">
               <span class="file-info-name">{{name}}</span>
                        
               <span class="file-info-size">({{size}})</span>
            </span>
            <span class="progress-text"></span>
            <div class="clear"></div>
         </div>
      </div>
      <div class="no-display" id="oc_link_<?php echo $r['option_id']; ?>_file-template-progress">
         {{percent}}% {{uploaded}} / {{total}}
      </div>    
      <div class="files" style="width:135px;">
         <span id="<?php echo $r['option_id']; ?>_uploader_place_holder" onmouseover="optionConfigurableImage.loadUploader(<?php echo $r['option_id']; ?>)" <?php echo $r['image'] == '' ? '' : 'style="display:none"'; ?>><?php echo $this->__('Roll Over for Uploader'); ?></span>      
         <img src="<?php echo $r['image_url'];  ?>" width="40" id="oc_preview_<?php echo $r['option_id']; ?>" <?php echo $r['image'] != '' ? '' : 'style="display:none"'; ?>/>
         <img src="<?php echo $this->getSkinUrl('pektsekye/optionconfigurable/delete_image.gif')?>" id="oc_delete_button_<?php echo $r['option_id']; ?>" title="<?php echo Mage::helper('catalog')->__('Delete') ?>" onclick="optionConfigurableImage.deleteImage(<?php echo $r['option_id']; ?>)" class="oc-delete-image" <?php echo $r['image'] != '' ? '' : 'style="display:none"'; ?>/>                                     
         <div id="<?php echo $r['option_id']; ?>_uploader_row" <?php echo $r['image'] == '' ? '' : 'style="display:none"'; ?>  class="hide_uploader_row">            
            <div class="row" >
               <input type="hidden" id="oc_value_<?php echo $r['option_id']; ?>_delete_image" name="values[<?php echo $r['option_id']; ?>][delete_image]" value="" />                                
               <input type="hidden" id="oc_value_<?php echo $r['option_id']; ?>_saved_as" name="values[<?php echo $r['option_id']; ?>][image_saved_as]" value="<?php echo $r['image']; ?>" /> 
               <input type="hidden" id="oc_value_<?php echo $r['option_id']; ?>_image" name="values[<?php echo $r['option_id']; ?>][image]" value="" /> 
               <div id="oc_link_<?php echo $r['option_id']; ?>_file" class="uploader">
                  <div id="oc_link_<?php echo $r['option_id']; ?>_file-old" class="file-row-info">                                     
                  </div>
                  <div id="oc_link_<?php echo $r['option_id']; ?>_file-new" class="file-row-info new-file"></div>
                  <div class="buttons">
                  </div>                                      
               </div>                                   
               <div id="oc_link_<?php echo $r['option_id']; ?>_file_save_advice"></div>                                                
            </div>
         </div>
      </div>
    </td>                  
  </tr>                                                      
  <?php endforeach; ?> 
</table>                                       
  <script type="text/javascript">
  //<![CDATA[
  var maxUploadFileSizeInBytes  = '<?php echo $this->getDataMaxSizeInBytes() ?>';
  var maxUploadFileSize = '<?php echo $this->getDataMaxSize() ?>'; 
  
  OptionConfigurableImage.Config = { 
     expiredMessage     : '<?php echo $this->jsQuoteEscape($this->__('Your session has been expired. Please, reload the page and upload images if necessary')) ?>',  
     uploaderConfig   : <?php echo $this->getConfigJson(); ?>,  
     uploaderUrl : '<?php echo Mage::getBlockSingleton('adminhtml/media_uploader')->getUploaderUrl('media/uploaderSingle.swf'); ?>'

  };
  
  optionConfigurableImage = new OptionConfigurableImage.Main();
   
  //]]> 
  </script>
