<?php
/**
 * Display Featured products template
 * @see Ma2_WidgetProductList_Block_Featured
 * 
 */
?>
<?php
  $_helper = $this->helper('catalog/output');
  $uniqId = Mage::helper('core')->uniqHash("ma2-widgetproductlist-");
?>
<div class="ma2-widgetproductlist widget widget-featured-products <?php echo $list_type; ?>-view" id="<?php echo $uniqId; ?>">
  <div class="widget-inner">
    <?php if (isset($show_widget_title) && (int)$show_widget_title == 1): ?>
    <h3 class="widget-title">
      <span class="format-span">
        <span><?php echo $widget_title;?></span>
      </span>
    </h3>
    <?php endif; ?>
    
    <?php if(!$WidgetProductProductCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
    <?php else: ?>
    
    <div class="product-items">
      <div class="product-items-inner">
        <?php 
          $idx=0; 
          $_collectionSize = $WidgetProductProductCollection->count(); 
          $inlineStyle = ($list_type == 'grid') ? 'style="width:'.$item_width.'%;"' : '';
          if ($list_type == 'grid' && ($column_count == null || (int)$column_count == 0)) $column_count = 3;
          if ($list_type == 'list') $column_count = 1;
          if (!intval($thumbnail_width)) $thumbnail_width = 135;
          if (!intval($thumbnail_height)) $thumbnail_height = 135;
        ?>
        <?php foreach ($WidgetProductProductCollection as $pid=> $_product): ?>
          <div class="product-item product-<?php echo $pid; ?> <?php echo ($idx == 0) ? 'first' : (($idx+1) == $_collectionSize ? 'last' : ''); ?>" <?php echo $inlineStyle ?>>
            <div class="product-item-inner">
              
              <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(intval($thumbnail_width), intval($thumbnail_height)); ?>" width="<?php echo intval($thumbnail_width); ?>" height="<?php echo intval($thumbnail_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
              </a>
              <div class="product-info">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <h4 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h4>
                <?php if($_product->getRatingSummary()): ?>
                <?php echo $this->getReviewsSummaryHtml($_product); ?>
                <?php endif; ?>
                
                <?php if($show_short_description == 1):?>
                  <div class="product-desc std">
                    <?php
                      $desc = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');
                      if(isset($short_description_limit) && !empty($short_description_limit)):
                        $shortDesc = explode('|', wordwrap($desc, $short_description_limit, '|'));
                      else:
                        $shortDesc = explode('|', wordwrap($desc, 88, '|'));
                      endif;
                      echo $shortDesc[0] . '...';
                    ?>
                    <?php if($show_details == 1): ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="view-detail"><?php echo $this->__('Details') ?></a>
                    <?php endif;?>
                  </div>
                <?php endif;?>
                <?php if($show_price == 1): ?>
                  <?php echo $this->getPriceHtml($_product, true) ?>
                <?php endif;?>
                <div class="actions">
                  <ul class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                      <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                      <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                    <?php endif; ?>
                  </ul>
                  
                  <?php if($show_addtocart == 1): ?>
                    <?php if($_product->isSaleable()): ?>
                      <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    <?php else: ?>
                      <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                  <?php endif; ?>
                </div>
              </div>
            </div>
          </div>
          <?php if (($idx+1) % $column_count == 0 || ($idx+1) == $_collectionSize) echo '<div class="clear"></div>'; ?>
        <?php $idx++; ?>
        <?php endforeach; ?>
        
      </div>
    </div>
    <?php endif; ?>
  </div>
</div>