<?php
$loggedInSales = Mage::helper('polarpumpen_customersavecart')->checkIfSalesAreLoggedIn(Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenSalesCustomerGroupId'));
$firstColSpan = ( $loggedInSales ? $this->getColspan() + 3 : $this->getColspan() );
?>
<tr>
    <td colspan="<?php echo $firstColSpan; ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->escapeHtml($this->getTotal()->getTitle()); ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>
