/**
 * This file includes rules specifically requested by the client
 */
 
 .product-options ul.options-list.villaagarna {
	li {
		display: table;
		width: 100%;
		span.label {
			display: table-row;
			width: 100%;
			margin-left: 0;
			label {
				display: table;
				width: 100%;
			}
			span.bundle-tab1 {
				display: table-cell;
				width: 60%;
			}
			span.bundle-tab2 {
				display: table-cell;
				width: 20%;
				text-align: center;
			}
			span.old-price.bundle-tab2 {
				text-decoration: line-through;
			}
			span.bundle-tab3 {
				display: table-cell;
				width: 20%;
				text-align: right;
			}
		}
	}
}