div[class*='energimarkning']{
display: inline;
}

div.energimarkning-appp a,
div.energimarkning-app a,
div.energimarkning-ap a,
div.energimarkning-a a,
div.energimarkning-b a,
div.energimarkning-c a,
div.energimarkning-d a {
	position: relative;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
    font-size: 130%;
	
	&:after {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-width: 13px;
		margin-top: -13px;
	}
}

.energimarkning-appp a {
	@include bg-color(#00A652);
	padding: 5px 10px 5px 5px;
	&:after {
		border-left-color: #00A652 !important;
	}
}

.energimarkning-app a {
	@include bg-color(#4DB748);
	padding: 5px 15px 5px 5px;
	&:after {
		border-left-color: #4DB748 !important;
	}
}

.energimarkning-ap a {
	@include bg-color(#BFD62E);
	padding: 5px 20px 5px 5px;
	&:after {
		border-left-color: #BFD62E !important;
	}
}

.energimarkning-a a {
	@include bg-color(#FEF200);
	padding: 5px 25px 5px 5px;
	&:after {
		border-left-color: #FEF200 !important;
	}
}

.energimarkning-b a {
	@include bg-color(#FDB813);
	padding: 5px 30px 5px 5px;
	&:after {
		border-left-color: #FDB813 !important;
	}
}

.energimarkning-c a {
	@include bg-color(#F37022);
	padding: 5px 40px 5px 5px;
	&:after {
		border-left-color: #F37022 !important;
	}
}

.energimarkning-d a {
	@include bg-color(#ED1B24);
	padding: 5px 50px 5px 5px;
	&:after {
		border-left-color: #ED1B24 !important;
	}
}