
/**
 * This file includes rules specifically requested by the client
 */

div.box {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0 7px 15px 0;
  display: block;
}

a.ext:after {
  content: '\f08e';
  font-family: FontAwesome;
  color: #333;
  font-size: 85%;
  margin: 0 0 0 1%;
}

.category-products-information {
  box-sizing: border-box;
  padding: 2%;
  border: 1px solid #e1e1e1;
  background: #f7f7f7;
  margin: 15px 0;
}

a.pdf:before {
  font-family: FontAwesome;
  content: "\f1c1";
  padding: 0 4px 0 0;
  font-size: 13px;
  color: #555;
}

a.int {
  display: block;
  &:before {
    content: "\00bb ";
    padding: 0 3px 5px 0;
  }
}

ul.minus li {
  &:before {
    content: "-";
    margin-right: 5px;
  }
}

ul.plus li {
  &:before {
    content: "+";
    margin-right: 5px;
  }
}

/** rules added by nannica at polarpumpen */
.villaagarna-prod-info {
    margin: 20px 0 0 0;
    display: inline-block;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #725799;
    background: -webkit-linear-gradient(#725799, #4f2d7f);
    background: -moz-linear-gradient(#725799, #4f2d7f);
    background: -ms-linear-gradient(#725799, #4f2d7f);
    background: -o-linear-gradient(#725799, #4f2d7f);
    background: linear-gradient(#725799, #4f2d7f);
    background-color: #725799;
    background-repeat: repeat-x;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
    -webkit-transition: all, 0.15s, ease-out;
    -moz-transition: all, 0.15s, ease-out;
    -ms-transition: all, 0.15s, ease-out;
    -o-transition: all, 0.15s, ease-out;
    transition: all, 0.15s, ease-out;
    font-weight: bold;
    padding: 0px 10px;
}

p.villaagarna-title {
    line-height: 100%;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 200%;
    text-align: center;
    margin: 10px 0;
}

.grid12-8.villaagarna > ss2-align {
	background-image: url(https://www.polarpumpen.se/skin/frontend/ultimo/polarpumpen/images/mobile-logo.png);
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
}

.trust-dotted {
    border-right: 1px dotted #ccc;
    width: 71%;
    padding-right: 1%;
}

.brand-logo {
    position: absolute;
    z-index: 1;
    right: 5px;
    width: 25%;
    top: 5px;
}

.fgas-control {
    padding-bottom: 10px;
}

.fgas-control label {
    font-weight: bold;
}

.firecheckout-index-index .col-main .section #checkout-review-table-wrapper td.order-pump {
    text-align: left;
	p {
		max-width: 600px;
	}
}

ul.form-checkoutfields {
	li {
	display: inline-block;
	width: 48.5%;
	vertical-align: top;
	}
	
	li:nth-child(odd) {
    padding-right: 17px;
	}
	
	div.input-box {
	width: 100%;
	
		input {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 35px;
		line-height: 35px;
		padding: 0 10px;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background-color: #fff;
		}
	}
}