// Left-column
.col-left {
  .opener, .caret {
    display: none;
  }

  #left-submenu {
    section.block-items {
      padding: 0;
      background: none;

      ul.level0 {
        li.level1 {
          margin-bottom: 10px;
          a.nav-item-title {
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-size: 0.9em;
          }
        }
      }

      a.nav-item-title + .opener + .nav-submenu {
        padding: 10px 5px;
        -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.85), 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.3), 0 -1px 0 0 rgba(255, 255, 255, 0.85), 0 1px 2px rgba(0, 0, 0, 0.3);
        background-image: -webkit-gradient(linear, top, left, #eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        background-image: -webkit-linear-gradient(#eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        background-image: -moz-linear-gradient(#eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        background-image: -ms-linear-gradient(#eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        background-image: -o-linear-gradient(#eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        background-image: linear-gradient(#eeeeee 10%, #d3d3d3 50%, #d3d3d3 100%);
        @include border-radius(4px, 4px, 4px, 4px);

        li.nav-item {
          margin-bottom: 0;
          a {
            line-height: 1.2em;
            font-size: 1.1em;
            text-transform: none;
            display: block;
            padding: 7px 0 7px 20px;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #bbbbbb;
            background: url(../images/submenu-nav/arrow.png) 3px 0 no-repeat;
            transition: background 0.2s ease-in;
            &:hover {
              background-position-x: 7px;
            }
          }

          &.active {
            > a.active {
              background: url(../images/submenu-nav/arrow-chosen-long.png) 0 0 no-repeat;
              border-right: 1px solid #bbb;
              color: black;
              border-top: none;
            }
            &.level3 {
              > a {
                background: transparent;
                border: none;
                padding-left: 2px;
                &:before {
                  content: "\00bb\2002";
                  margin-right: 4px;
                }
              }
            }
          }
        }

        .nav-item--parent {
          .nav-submenu {
            display: none;
          }

          &.active {
            a {
              border: none;
            }
            .nav-submenu {
              display: block;
              padding-left: 20px;
              background-color: rgb(242, 242, 242) !important;
              border-right: 1px solid #bbb;
              border-left: 1px solid #979797;
              border-bottom: 1px solid #ccc;
              .nav-item {

              }
            }
          }
        }
      }
    }

    section.guide-block {
      background: transparent !important;
      padding: 0;

      header {
        text-transform: uppercase;
        line-height: 160%;
        font-size: 0.9em;
      }

      nav {
        padding: 10px;
        background: white;
        margin-bottom: 10px;

        > ul {
          li {
            margin-bottom: 0;
          }

          > li {
            margin-bottom: 10px;
            
            ul {
              padding-left: 5px;
            }

            > a {
              font-weight: bold;
            }
          }
        }

        li {
          padding-left: 7px;
        }
      }
    }
  }
}

/** Navigation system */
.header-regular {
  #header-nav {
    #nav, .mobnav-trigger {
      border: none;
    }

    .inner-container {
      margin-bottom: 10px;
      #nav.nav-regular {

        background-color: #eee;
        //background: linear-gradient(#eeeeee, #d3d3d3);
				@include linear-gradient(#eeeeee, #d3d3d3);
        @include border-radius(4px, 4px, 4px, 4px);
        box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.8), 0 1px 0 0 #8f8f8f, 0 4px 5px -1px rgba(0, 0, 0, 0.3);

        li.level-top {
          border-left: 1px solid #B8B8B8;
          /*@include border-radius(0, 4px, 4px, 0);*/
          a.level-top {
            font-family: Helvetica, sans-serif;
            color: $dark-turquoise;
            font-weight: bold;
            box-shadow: 1px 0 0 0 #fff inset;
            padding: 0 14px;
          }

          &.active,
          &:hover,
          &:focus {
            > a {
              background-color: $base-turquoise;
              background: linear-gradient($base-turquoise 0%, $light-turquoise 50%, $light-turquoise 100%);
              box-shadow: 0 1px 0 0 $dark-turquoise, 0 0px 0 0 $base-turquoise, 0 2px 3px 0 rgba(0,0,0, 0.25) inset;
              color: #fff;
            }
          }

          li.nav-item.active {
            a.active {
              @media only screen and (min-width: 769px) {
                color: $orange;
              }
            }
          }
        }

        li.level-top:first-of-type {
          border: none;
          a {
            @include border-radius(4px, 0, 0, 4px);
            box-shadow: none;
          }
        }

        li.classic {
          // Skipping updating the markup
          span.caret {
            display: none;
          }

          a {
            opacity: 1;
          }

          ul.nav-submenu.nav-panel--dropdown {
            > li.classic.nav-item {
              border-bottom: 1px solid #ddd;
              padding: 4px 0;
            }

            li.nav-item:last-of-type {
              border-bottom: 0;
            }

            li.simple.nav-item--only-subcategories {
              a.nav-item-title {
                text-transform: uppercase;
                text-align: center;
                font-weight: bold;
                color: #333;
                cursor: default;
              }

              ul.nav-submenu.nav-panel {
                li.nav-item {
                  background-image: none;
                  border-bottom: 1px solid #ddd;
                  padding: 4px 0;
                }

                li.nav-item:last-of-type {
                  border-bottom: 0;
                }

                sup {
                  position: relative;
                  font-size: 0.8em;
                  vertical-align: top;
                  top: -5px;
                }
              }
            }
          }
        }

        li.level0.campaign {
          span.badge {
            @include border-radius(50%, 50%, 50%, 50%);
            background: rgba(198, 0, 0, 0.9);
            color: #fff;
            display: block;
            font-size: 0.8em;
            font-weight: bold;
            line-height: 0.9em;
            padding: 8px 9px;
            position: absolute;
            right: -20px;
            top: -5px;
            z-index: 40;
          }
        }
      }
    }
    
    @media (min-width: 1281px) and (max-width: 1310px) {
      .level0 > a {
        font-size: 11px;
        padding: 0 10px;
      }
    }

    @media (min-width: 769px) and (max-width: 1280px) {
      .level0 > a {
        font-size: 10px !important;
        padding: 0 9px !important;
      }
    }
  }
}

.nav-regular {
  .level3 {
    > a {
      padding-left: 10px;
      &:before {
        content: "\00bb\2002";
      }
    }
  }
}

.nav-mobile {
  .parent {
    > .nav-submenu {
      display: none;
    }
    &.active {
      > .nav-submenu {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  #left-submenu {
    display: none;
  }
}