<?php
/**
 * MageWorx
 * File Downloads & Product Attachments Extension
 *
 * @category   MageWorx
 * @package    MageWorx_Downloads
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
?>
<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;">
                <h3 class="icon-head"><?php echo Mage::helper('mageworx_downloads')->__('Manage Files') ?></h3>
            </td>
            <td class="form-buttons">
            	<?php echo $this->getAddNewButtonHtml() ?>
                <?php echo $this->getMultiUploadButtonHTml() ?>
            </td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>