<?php
/**
 * Category layered navigation
 * @var $this Mage_Catalog_Block_Layer_View
 */

function slider($prefix, $sections) {
    $html = "<ol><li>";

    $from = $fromValue = 10;
    $to = 250;

    if ($from < 0.01 && $to < 0.01){
        $to = sprintf('%.00f', $to);
    }

    $value = Mage::app()->getRequest()->getParam($prefix);
    $initialState = true;

    if ($value) {
        $fromValue = intval($value);
    } else {
        $fromValue = 150;
    }

    $step = 1;

    $min = 10;
    $max = 250;

    $urlParams = array(
        $prefix => $prefix . "-value",
        $prefix /*. "min" => $prefix . 'min1-' . $prefix . 'min2', $prefix */. "max" => $prefix . 'max1-' . $prefix . 'max2'
    );
	

    foreach ($sections as $key => $id) {
        $urlParams[$prefix . '-' . $key] = $prefix . '-' . $key . '-value';
    }

    $firstOffset = $fromValue;
    $secondOffset = null;

    $params = implode(',', array($firstOffset, $secondOffset, $to, $prefix, $from, $step)) . "||" . json_encode($sections);

    $html .= '<div id="' . $prefix . '" class="amshopby-slider">';
    $html .= '<div class="handle selected" style="left:' . $firstOffset  . 'px;"></div>';
    $html .= '</div>';

    $html .= '<div class="amshopby-slider-price amshopby-slider-price-from">';
    $html .= '<span id="' . $prefix .'-from-slider">' . $fromValue . '</span> m<sup>2</sup>';

    $html .= '</div>';
    $html .= '<input type="hidden" size="2" value="' . $fromValue . '"  id="' . $prefix . '-from" />';

    $html .= '<input type="hidden" class="amshopby-slider-param-single" value=\'' . $params . '\' />';
    $html .= '<input type="hidden" id="' . $prefix .'-url" value="' . Mage::helper('amshopby/url')->getFullUrl($urlParams) . '" />';
    $html .= '</li>';
    $html .= '</ol>';
    return $html;
}

?>
<?php if($this->canShowBlock()): ?>
    <?php
    $_filters = $this->getFilters();
    ?>
    <div class="block block-layered-nav">
        <div class="block-content">
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>">Börja om</a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
                <?php

                $_hideFilters = array();
                $_attributeCodes = array(/*'td_v_kvmin', */'td_v_kvmax');
                foreach ($_filters as $_filter) { /* @var $filter Mage_Catalog_Block_Layer_Filter_Decimal */

                    if ($_filter instanceof NetConsult_Polarpumpen_Block_Catalog_Layer_Filter_Decimal) {
                        $_filterModel = $_filter->getFilter(); /* @var $_filterModel Amasty_Shopby_Model_Catalog_Layer_Filter_Decimal */
                        $_attributeCode = $_filterModel->getAttributeModel()->getAttributeCode();
                        if (in_array($_attributeCode, $_attributeCodes)) {
                            $_hideFilters[] = $_filter;
                        }
                    }
                }

                ?>

                <?php if (count($_hideFilters)): ?>
                    <div id="house-guide">
                        <div class="option">
                            <label>Var?</label>
                            <select id="guide-location">
                                <?php
                                    $locations = array(
                                        '0.0001' => 'Stockholm',
                                        '0.0002' => 'Göteborg',
                                        '0.0003' => 'Malmö',
                                        '0.0004' => 'Blekinge',
                                        '0.0005' => 'Bohuslän',
                                        '0.0006' => 'Dalarna',
                                        '0.0007' => 'Dalsland',
                                        '0.0008' => 'Gotland',
                                        '0.0009' => 'Gästrikland',
                                        '0.0010' => 'Halland',
                                        '0.0011' => 'Hälsingland',
                                        '0.0012' => 'Härjedalen',
                                        '0.0013' => 'Jämtland',
                                        '0.0014' => 'Lappland',
                                        '0.0015' => 'Medelpad',
                                        '0.0016' => 'Norrbotten',
                                        '0.0017' => 'Närke',
                                        '0.0018' => 'Skåne',
                                        '0.0019' => 'Småland',
                                        '0.0020' => 'Södermanland',
                                        '0.0021' => 'Uppland',
                                        '0.0022' => 'Värmland',
                                        '0.0023' => 'Västerbotten',
                                        '0.0024' => 'Västergötland',
                                        '0.0025' => 'Västmanland',
                                        '0.0026' => 'Ångermanland',
                                        '0.0027' => 'Öland',
                                        '0.0028' => 'Östergötland',
                                    );

                                    $selectedValue = $this->getRequest()->getParam('td_v_kv-location');

                                    foreach ($locations as $value => $label) {
                                        echo '<option value="' . $value . '"' . ($selectedValue == $value ? ' selected' : '') . '>' . $label . '</option>';
                                    }
                                ?>
                            </select>
                        </div>
                        <div class="option">
                            <label>Uppvärmningsyta</label>
                            <?php echo slider('td_v_kv', array('area' => 'guide-area', 'isolation' => 'guide-isolation', 'location' => 'guide-location')); ?>
                        </div>
                        <div class="option">
                            <label>Planlösning</label>
                            <select id="guide-area">
                                <?php
                                    $options = array(
                                        '0.1' => 'Sluten',
                                        '0.05' => 'Ganska öppen',
                                        '0.0' => 'Öppen',
                                    );

                                    $selectedValue = $this->getRequest()->getParam('td_v_kv-area', '0.05');

                                    foreach ($options as $value => $label) {
                                        echo '<option value="' . $value . '"' . ($selectedValue == $value ? ' selected' : '') . '>' . $label . '</option>';
                                    }
                                ?>
                            </select>
                        </div>
                        <div class="option">
                            <label>Isolering</label>
                            <select id="guide-isolation">
                                <?php
                                $options = array(
                                    '0.1' => 'Dålig',
                                    '0.05' => 'Bra',
                                    '0.0' => 'Mycket bra',
                                );

                                $selectedValue = $this->getRequest()->getParam('td_v_kv-isolation', '0.05');

                                foreach ($options as $value => $label) {
                                    echo $selectedValue.'<option value="' . $value . '"' . ($selectedValue == $value ? ' selected' : '') . '>' . $label . '</option>';
                                }
                                ?>
                            </select>
                        </div>

                    </div>
                <?php endif; ?>

                <div id="narrow-by-list">
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if (in_array($_filter, $_hideFilters)) continue; ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <?php
                                $html = $_filter->getHtml();
                                if (!$html) {
                                    continue;
                                }
                            ?>
                            <div class="option">
                                <label><?php echo $this->__($_filter->getName()) ?></label>
                                <div><?php echo $html ?></div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <?php if ($stateHtml = $this->getStateHtml()): ?>
                    <div id="current-state">
                        <?php echo $stateHtml; ?>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
