/*
    This file should later be included by sass/custom.scss
    But at the time of writing, changes have been made
    directly to custom.css that would be overwritten by
    compiling the sass files.
*/

@media (min-width: 960px) {

    body.ab-test-case1 .checkout-review-wrapper {
        position: relative;
    }

    body.ab-test-case1 #checkout-review {
        margin-right: 300px;
    }

    body.ab-test-case1 .checkout-sidebar-case1 h3 {
        font-family: "Economica", sans-serif;
        font-size: 22px;
        color: #000;
        text-transform: none;
        font-weight: normal;
        margin-bottom: 5px;
        line-height: 25px;
        padding-left: 10px;
    }

    body.ab-test-case1 .checkout-sidebar-case1 {
        position: absolute;
        width: 300px;
        right: 0;
        top: 0;
        bottom: 0;
    }

    body.ab-test-case1 .checkout-sidebar-case1 div.frame-parent {
        position: absolute;
        top: 28px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto !important;
    }

    body.ab-test-case1 .checkout-sidebar-case1 div.frame-child {
        position: absolute !important;
        top: -158px;
        height: auto;
        bottom: -10px;
    }

    body.ab-test-case1 .checkout-sidebar-case1 div.frame-child iframe {
        height: 100% !important;
    }
}

@media (max-width: 959px) {
    body.ab-test-case1 .checkout-sidebar-case1 {
        display: none;
    }
}
