[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*! angularjs-slider - v2.10.2 -
 (c) Rafal Zajac <rzajac@gmail.com>, Valentin Hervieu <valentin@hervieu.me>, Jussi Saarivirta <jusasi@gmail.com>, Angelin Sirbu <angelin.sirbu@gmail.com> -
 https://github.com/angular-slider/angularjs-slider -
 2016-03-01 */
rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4px;
    margin: 35px 0 15px 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

rzslider[disabled] {
    cursor: not-allowed;
}

rzslider[disabled] .rz-pointer {
    cursor: not-allowed;
    background-color: #d8e0f3;
}

rzslider span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

rzslider .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
}

rzslider .rz-bar-wrapper {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 32px;
    padding-top: 16px;
    margin-top: -16px;
    box-sizing: border-box;
}

rzslider .rz-bar-wrapper.rz-draggable {
    cursor: move;
}

rzslider .rz-bar {
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: #d8e0f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider .rz-bar.rz-selection {
    z-index: 2;
    background: #0db9f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider .rz-pointer {
    top: -14px;
    z-index: 3;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #0db9f0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

rzslider .rz-pointer:after {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

rzslider .rz-pointer:hover:after {
    background-color: #ffffff;
}

rzslider .rz-pointer.rz-active {
    z-index: 4;
}

rzslider .rz-pointer.rz-active:after {
    background-color: #451aff;
}

rzslider .rz-bubble {
    bottom: 16px;
    padding: 1px 3px;
    color: #55637d;
    cursor: default;
}

rzslider .rz-bubble.rz-selection {
    top: 16px;
}

rzslider .rz-bubble.rz-limit {
    color: #55637d;
}

rzslider .rz-ticks {
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 0;
    padding: 0 11px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

rzslider .rz-ticks .tick {
    width: 10px;
    height: 10px;
    text-align: center;
    cursor: pointer;
    background: #d8e0f3;
    border-radius: 50%;
}

rzslider .rz-ticks .tick.selected {
    background: #0db9f0;
}

rzslider .rz-ticks .tick .tick-value {
    position: absolute;
    top: -30px;
    transform: translate(-50%, 0);
}

rzslider.vertical {
    position: relative;
    width: 4px;
    height: 100%;
    padding: 0;
    margin: 0 20px;
    vertical-align: baseline;
}

rzslider.vertical .rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
}

rzslider.vertical .rz-bar-wrapper {
    top: auto;
    left: 0;
    width: 32px;
    height: 100%;
    padding: 0 0 0 16px;
    margin: 0 0 0 -16px;
}

rzslider.vertical .rz-bar {
    bottom: 0;
    left: auto;
    width: 4px;
    height: 100%;
}

rzslider.vertical .rz-pointer {
    top: auto;
    bottom: 0;
    left: -14px !important;
}

rzslider.vertical .rz-bubble {
    bottom: 0;
    left: 16px !important;
    margin-left: 3px;
}

rzslider.vertical .rz-bubble.rz-selection {
    top: auto;
    left: 16px !important;
}

rzslider.vertical .rz-ticks {
    top: 0;
    left: -3px;
    z-index: 1;
    width: 0;
    height: 100%;
    padding: 11px 0;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

rzslider.vertical .rz-ticks .tick {
    vertical-align: middle;
}

rzslider.vertical .rz-ticks .tick .tick-value {
    top: auto;
    right: -30px;
    transform: translate(0, -28%);
}

/* Product Configurator */

.pcf .builder {
    float: left;
    width: 70%;
}

.pcf .summary {
    float: right;

    width: 28%;
}

.pcf .summary-sticky {
    position: relative;
    padding: 10px;
    background: #ececec;
}

.pcf table {
    width: 100%;
    margin-bottom: 20px;
}

.pcf table th,
.pcf table td {
    padding: 2px 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.pcf .slider-input {
    margin-top: 20px;
    margin-bottom: 30px;
}

.pcf .supplement-groups {
    margin: 20px 0;
}

.pcf .supplement-group {
    clear: left;
}

.pcf .supplement-group ul {
    width: 360px;
    float: left;
}

.pcf .supplement-group .notes {
    margin-left: 360px;
}

.pcf .supplement-group li {
    cursor: pointer;
    float: left;
    text-align: center;
    margin: 0 15px 15px 0;
		min-height: 146px;
    width: 104px;
}

.pcf .supplement-group h5 {
    font-size: 14px;
}

.pcf .supplement-group .price {
    font-size: 20px;
}

.pcf .supplement-group li:nth-child(3n+1) {
    clear: left;
}

.pcf .img-wrapper {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    margin-bottom: 6px;
}

.pcf .img-wrapper img {
    width: 100%;
    height: auto;
}

.supplement-group li.active .img-wrapper {
    border-color: #1b57a6;
}

.pcf .summary ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.pcf .summary li {
    margin-bottom: 2px;
}

.pcf .summary-shop {
    margin-bottom: 20px;
}

.pcf .clear {
    clear: both;
}

.pcf .summary .price {
    font-size: 50px;
    line-height: 1;
}

.pcf .add-to-cart {
    margin-top: 10px;
}

.pcf .add-to-cart .clear {
    display: none;
}

.pcf .button {
    margin-top: -4px;
}

.pcf .validation-errors {
    margin-top: 0px;
}

.pcf .validation-errors p {
    margin-bottom: 2px;
    color: #a00;
}

.pcf .number-header {
    display: inline-block;
    margin-right: 15px;
}

.pcf .number {
    width: 60px;
}

.pcf .no-price {
    color: #a00;
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 15px;
}

@media (max-width: 769px) {
    .pcf .builder,
    .pcf .summary {
        width: 100%;
    }

    .pcf .summary-sticky {
        top: 0 !important;
    }

}

@media (max-width: 1000px) {
    .pcf .supplement-group li {
        width: 94px;
    }
    .pcf .supplement-group ul {
        width: 330px;
    }

    .pcf .supplement-group .notes {
        margin-left: 330px;
    }
}

@media (max-width: 639px) {
    .pcf .supplement-group ul,
    .pcf .supplement-group .notes {
        float: none;
        width: auto;
        margin-left: 0;
        clear: left;
    }
}