<?php
$_helper = $this->helper('catalog/output');
$_product= Mage::registry('current_product');
$product_type = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName();
$type = array('Luft-Luft', 'A/C');

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = $url->getPath(); 
$paths = explode('/', $path);

$isPartnerUrl = in_array('partner', $paths);
$hasInstallation = false;
if($isPartnerUrl) {
    $currentProductSku = $_product->getSku();
    
    // Telge products always starts with tg-
    if(substr($currentProductSku, 0, 3) == 'tg-') {
        $hasInstallation = true;
    }
    
    if(!$hasInstallation) {
        // These sku's can contain partner codes (for Villaägarna and Sector Alarm) anywhere
        $partnerSkus = array('-va-', '-sa-');
        foreach($partnerSkus as $partnerSku) {
            if(strstr($currentProductSku, $partnerSku)) {
                $hasInstallation = true;
            }
        }
    }
}

if(in_array($product_type, $type) && !$hasInstallation) :
    $antal_innedelar = $_product->getAttributeText('td_funkt_innedelar');
    $quote = Mage::getSingleton('checkout/session')->getQuote();
    $cartItems = $quote->getAllVisibleItems();
    $install_sku = 0;
    $pump_sku = 0;
    
    $cartItemIds = array();
    foreach ($cartItems as $item) {
        $productId = $item->getProductId();
        $product = Mage::getModel('catalog/product')->load($productId);
        $sku = $product->getSku();
        $cartItemIds[] = $productId;

        if (strstr($sku, 'Sinstk')) {
            $install_sku = $item->getQty();
        }

        if (strstr($sku, $_product->getSku())) {
            $pump_sku = $item->getQty();
        }
    }

    if(!in_array($_product->getId(), $cartItemIds)) {
        return;
    }
    ?>

    <?php if (($install_sku <= $pump_sku) && /*$antal_innedelar &&*/ strpos($this->getMessagesBlock()->getGroupedHtml(), $_helper->productAttribute($_product, $_product->getName(), 'name'))): ?>

        <?php if($this->getMessagesBlock()->getGroupedHtml() != ''):?>
        <div id="added-product-alert" style="display: none;">
            <div id="messages_product_view">
                <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            </div>
            <h2>Vill du f&aring; din <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?> installerad?</h2>
            <div class="main grid-container grid12-12">
        <?php
            switch ($antal_innedelar) {
                default:
                case '1':
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId('PP_produktlista_LL_inst_singel')->toHtml();
                    break;
                case '2':
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId('PP_produktlista_LL_inst_duo')->toHtml();
                    break;
                case '3':
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId('PP_produktlista_LL_inst_trippel')->toHtml();
                    break;
                case '4':
                    echo $this->getLayout()->createBlock('cms/block')->setBlockId('PP_produktlista_LL_inst_quatro')->toHtml();
                    break;
            }
        ?>
            </div>
            <div class="grid-container">
                <div class="left">
                    <button type="button" title="Se alla installationer" class="button" onclick="setLocation('/installation')">
                        <span>
                            <span>Se alla installationer</span>
                        </span>
                    </button>
                </div>
                <div class="right">
                    <a href="javascript:;" onclick="setLocation('/firecheckout')">G&aring; direkt till kassan</a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $("#added-product-alert").fancybox().trigger('click');
            });
        </script>
        <?php endif; ?>

    <?php endif; 
endif; ?>
