<?php
$_helper = $this->helper('catalog/output');
$_product= Mage::registry('current_product');
$referenceInfo = $_product->getRefCurrentmodelorcategory();

$titleText = "";
$staticBlock = "";

// Discontinued product
if((bool)$_product->getStockItem()->getManageStock() && !$_product->isAvailable() && !empty($referenceInfo)) {
    $titleText = "Utgången produkt: ";
    $staticBlock = $this->getLayout()->createBlock('cms/block')->setBlockId('PP_utgangen_produkt')->toHtml();
    
    list($referenceType, $referenceIds) = explode("=", $referenceInfo);
    $referenceArray = explode(';', $referenceIds);
    switch($referenceType) {
        case 'P': // product
            break;
        case 'C': // category
            break;
    }
}

$idx = 0;
$collectionSize = count($referenceArray);
if (!intval($thumbnail_width)) $thumbnail_width = 135;
if (!intval($thumbnail_height)) $thumbnail_height = 135;
$floatStyle = ($collectionSize == 1 ? "no-float" : "");
?>

<?php 
if(!empty($referenceInfo) && $_helper->productAttribute($_product, $_product->getName(), 'name')) {
?>
    <div id="product-alert" style="display: none;">
        <h2 class="discontinued-product-title"><?=$titleText?><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
        <div class="grid-container grid12-12">
            <p>
<?php
            echo $staticBlock;
?>
            </p>
            <div class="lightbox-alert-products ma2-widgetproductlist widget widget-custom-products grid-view" id="productAlertProducts">
                <!--Changed class because of conflict with ordinary product listing-->
                <!--<div class="product-item">-->
                    <div class="expiredProduct">
                        <div class="product-items-inner">
                            <?php
                            foreach ($referenceArray as $referenceId ): 
                                if($referenceType == 'P') {
                                    $productObject = Mage::getModel('catalog/product');
                                    $_newReference = $productObject->load($referenceId);

                                    $thumbnail_width = $this->helper('catalog/image')->init($_newReference, 'image')->getOriginalWidth();
                                    $thumbnail_height = $this->helper('catalog/image')->init($_newReference, 'image')->getOriginalHeight();
                                    $imageRatio = $thumbnail_width / $thumbnail_height;
                                    if ($thumbnail_width > 262) {
                                        $thumbnail_width = 262;
                                    }
                                    $thumbnail_height = $thumbnail_width / $imageRatio;
                                    $productImage = $this->helper('catalog/image')->init($_newReference, 'image')->resize(intval($thumbnail_width), intval($thumbnail_height));

                                    $referenceUrl = $_newReference->getProductUrl();
                                }
                                if($referenceType == 'C') {
                                    $_newReference = Mage::getModel('catalog/category')->load($referenceId);

                                    $urlKey = $_newReference->getUrlKey();
                                    $productImage = "/media/wysiwyg/polarpumpen/logotyper/logo-{$urlKey}.png";
                                    $thumbnail_height = "50";
                                    $thumbnail_width = "auto";

                                    $referenceUrl = $_newReference->getUrl();
                                }
                                ?>

                                <div class="expiredProduct product-<?php echo $referenceId; ?> <?php echo ($idx == 0) ? 'first' : (($idx+1) == $collectionSize ? 'last' : ''); ?> <?php echo $floatStyle ?>">
                                    <div class="product-item-inner">

                                        <a class="product-image" href="<?php echo $referenceUrl ?>" onclick="setLocation('<?php echo $referenceUrl ?>')" title="<?php echo $this->stripTags($this->getImageLabel($_newReference, 'small_image'), null, true) ?>">
                                            <img src="<?php echo $productImage ?>" width="<?php echo $thumbnail_width; ?>" height="<?php echo intval($thumbnail_height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_newReference, 'small_image'), null, true) ?>" />
                                        </a>
                                        <div class="product-info">
                                            <?php $_productNameStripped = $this->stripTags($_newReference->getName(), null, true); ?>
                                            <a href="<?php echo $referenceUrl ?>" onclick="setLocation('<?php echo $referenceUrl ?>')" title="<?php echo $_productNameStripped; ?>"><h3 class="product-name product-alert-name"><?php echo $_helper->productAttribute($_newReference, $_newReference->getName() , 'name'); ?></h3></a>

                                            <div class="bottom">
                                                <?php echo $this->getPriceHtml($_newReference, true) ?>
                                                <div class="actions">
                                                    <p><button type="button" title="<?php echo $this->__('ExpiredProductGoToButton') ?>" class="button btn-cart" onclick="setLocation('<?php echo $referenceUrl ?>')"><span><span><?php echo $this->__('ExpiredProductGoToButton') ?></span></span></button></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php if (($idx+1) % $collectionSize == 0 || ($idx+1) == $collectionSize) echo '<div class="clear"></div>'; ?>
                                <?php $idx++; ?>
                            <?php endforeach; ?>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        
        
        <div class="grid-container">
            <div class="left">
                <!--<button type="button" title="Se alla installationer" class="button" onclick="setLocation('/installation')">
                    <span>
                        <span>Se alla installationer</span>
                    </span>
                </button>-->
            </div>
            <div class="right">
                <!--<a href="javascript:;" onclick="">Stäng</a>-->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $("#product-alert").fancybox({
                helpers : { 
                    overlay: {
                        css : { 'background' : 'rgba(58, 42, 45, 0.3)' }
                    }
                }
            }).trigger('click');
        });
    </script>
<?php 
} 
?>