<script type="text/javascript">	
//<![CDATA[

  OptionConfigurable.Data = <?php echo $this->getDataJson() ?>;

  OptionConfigurable.Config = {	
    defaultOption      : '<?php echo Mage::helper('catalog')->__('-- Please Select --') ?>',
    hasRequiredOptions : <?php echo $this->hasRequiredOptions() ?>,
    requiredFieldsText : '<p class="required"><?php echo Mage::helper('catalog')->__('* Required Fields') ?></p>',
    requiredOptionText : '<?php echo $this->jsQuoteEscape( Mage::helper('catalog')->__('This is a required option') )?>',
    hasCustomOptions   : <?php echo $this->hasCustomOptions() ?>,            
    inPreconfigured    : <?php echo $this->getInPreconfigured() ?>,
    isConfigurable     : <?php echo $this->isConfigurable() ?>,
    useCalendar        : <?php echo (int) Mage::getStoreConfig('catalog/custom_options/use_calendar'); ?>, 
       
    mainImageId : 'image', // Id of the Product main image tag <img id="image"
    
    spacer     : '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>',	
    imageTitle : '<?php echo $this->jsQuoteEscape($this->__('Click to Enlarge')) ?>',

    imageDirUrl       : '<?php echo $this->getProductBaseMediaUrl() ?>',
    thumbnailDirUrl   : '<?php echo $this->getThumbnailDirUrl() ?>',
    pickerImageDirUrl : '<?php echo $this->getPickerImageDirUrl() ?>', 
    hoverImageDirUrl  : '<?php echo $this->getHoverImageDirUrl() ?>',        
    placeholderUrl    : '<?php echo $this->getPlaceholderUrl() ?>',	
	  infoIcon          : '<?php echo Mage::getDesign()->getSkinUrl('pektsekye/optionconfigurable/info_icon.gif') ?>'
	                              
  };
  
  var optionConfigurable = new OptionConfigurable.Main();	


  if (window.jQuery && jQuery.fn.oxcolorbox && jQuery.fn.tooltipster){
    (function($) {
    
      $(".oc-image").click(function() {
        var src = $(this).attr("oc-data-popup");
        if (src){  
          $.oxcolorbox({
            maxWidth  : '95%', 
            maxHeight : '95%',
            photo     : true, 
            href      : src
          });
        } 
      }); 
      
      $('.oc-tooltip').tooltipster({contentAsHTML:true, theme: 'tooltipster-shadow'}); 
      $('.oc-tooltip-icon').tooltipster({contentAsHTML:true, interactive:true, theme: 'tooltipster-shadow', maxWidth: 250});
               
    })(jQuery);
  } 

//]]>
</script>