<?php
/**
 * Copyright (c) 2009-2014 Vaimo AB
 *
 * Vaimo reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of Vaimo, except as provided by licence. A licence
 * under Vaimo's rights in the Program may be available directly from
 * Vaimo.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    Vaimo
 * @package     Vaimo_Klarna
 * @copyright   Copyright (c) 2009-2014 Vaimo AB
 */

$klarnaSetup = $this->getKlarnaSetup();
$invoiceFee = $this->getKlarnaInvoiceFeeInfo();
$serviceMethods = $this->getCheckoutService();
$_showServiceMethods = false;

?>

<script type="text/javascript">
    if (typeof insertKlarnaInvoiceElements == 'function') { 
        insertKlarnaInvoiceElements('<?php echo $klarnaSetup->getMerchantId(); ?>', '<?php echo $klarnaSetup->getLocaleCode(); ?>', <?php echo $invoiceFee; ?>);
    }
</script>

<ul id="payment_form_<?php echo $this->getMethodCode(); ?>" class="form-list" style="display: none;">

    <?php foreach ($serviceMethods as $serviceMethod): ?>
        <?php if ($serviceMethod): ?>
            <?php if (Mage::helper('klarna')->showTitleAsTextOnly()): ?>
                <?php if (Mage::helper('klarna')->isOneStepCheckout()): ?>
                    <?php echo $this->useServiceLogotypes($serviceMethod, 90); ?>
                <?php else: ?>
                    <li class="klarna_payment_logo">
                        <?php echo $this->useServiceLogotypes($serviceMethod, 125); ?>
                    </li>
                <?php endif; ?>
            <?php endif; ?>
            <?php $_showServiceMethods = true; ?>
            <?php break; ?>
        <?php else: ?>
            <?php if (Mage::helper('klarna')->showTitleAsTextOnly()): ?>
                <?php if (Mage::helper('klarna')->isOneStepCheckout()): ?>
                    <?php echo '<img src="' . $this->getKlarnaLogotype(90) . '" />'; ?>
                <?php else: ?>
                    <li class="klarna_payment_logo">
                        <?php echo '<img src="' . $this->getKlarnaLogotype(125) . '" />'; ?>
                    </li>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
    <?php endforeach; ?>

    <li class="klarna_readme">
        <span id="klarna_invoice_readme"></span>
    </li>

    <?php if ($_showServiceMethods): ?>

        <?php echo $this->getCheckoutServiceHtml(); ?>

    <?php endif; ?>

    <li class="klarna_input_wrapper">
        <ul id="<?php echo $this->getMethodCode(); ?>_input_fields" class="klarna-input-box">

            <?php echo $this->getNotificationsHtml(); ?>
            <li><strong>Vänligen fyll i personnummer och telefonnummer.</strong></li>
            <?php echo $this->getPersonalNumberHtml(); ?>

            <?php echo $this->getDateOfBirthHtml(); ?>

            <?php echo $this->getPhonenumberHtml(); ?>

            <?php echo $this->getGenderHtml(); ?>

            <?php echo $this->getConsentHtml(); ?>

            <?php echo $this->getAddressresultHtml(); ?>

        </ul>
    </li>
    
</ul>

