/** From OLD site **/

span.countdown {
	font-family: $base-font;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	color: #4d4d4d;
	text-align: left;
	padding-top: 10px;
	margin-right: 20px;
}
.col-main { 
	.count {
	background: lightgrey;
		display: inline;
		padding: 5px 10px;
		color: white;
		margin-bottom: 2px;
		font-size: 200%;
		line-height: 156%;
	font-family: roboto;
	}
	.std {
		ol.countdown {
			counter-reset:li; /* Initiate a counter */
			margin-left:0; /* Remove the default left margin */
			padding-left:0; /* Remove the default left padding */
			
			> li {
				position:relative; /* Create a positioning context */
				margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
				padding:4px 8px; /* Add some spacing around the content */
				list-style:none; /* Disable the normal item numbering */
				
				&:before {
					content:counter(li); /* Use the counter as content */
					counter-increment:li; /* Increment the counter by 1 */
					/* Position and style the number */
					position:absolute;
					top:-2px;
					left:-1em;
					width:2em;
					padding:4px;
					font-family: $base-font;
					font-size: 40px;
					line-height: 40px;
					font-weight: 300;
					color: #4d4d4d;
					text-align: left;
					padding: 2px 4px 4px 4px;
					margin-right: 20px;
				}
				
				> p {
					&:first-child {
						> strong {
							font-family: $base-font;
							font-size: 20px;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}
/** END **/

/* Ribbon custom to kvadrat */

.ribbon {
		span {
			font-size: 100%;
		}
}

.wrap-ribbon {
    font-weight: 400;
}
/* END */

.box {
	background-color: $base-grey;
	padding: 10px;
	margin: 0px 7px 15px 0px;
	display: block;
}


.softclose {
	.grid12-6 {
		border: solid $mid-grey;
		padding: 5px;
		margin: 5px;
		width: 47%;
		
		.count {
			background: $mid-grey;
			display: inline;
			padding: 5px 10px;
			color: #fff;
			margin-bottom: 2px;
			font-size: 200%;
			line-height: 156%;
			font-family: $heading-font;
		}
	}
}

.block-related-slider {
	h5.section-title {
		font-size: initial;
		margin-bottom: 10px !important;
	}
}

.hp-block {
	.phone-head {
		color: $orange;
		font-family: $base-font;
    font-weight: bold;
    font-size: 23px;
    float: left;
    margin-bottom: 31px;
    line-height: 0.5em;
		
		@media screen and (max-width: 1279px) {
			font-size: 18px;
		}
	}
}

.supplement-group {
	li.active {
		.img-wrapper {
				border-color: $green;
				position: relative;
				
				&:before {
					content: "\f00c";
					font-family: fontawesome;
					font-size: 4em;
					position: absolute;
					bottom: 15px;
					right: 5px;
					color: $green;
					text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
				}
		}
	}
}

.validation-errors {
	display: none;
}
.summary-choises {
	ul {
		li {
			span[ng-if="!group.selected"] {
				color: #a00;
			}
			
			span[ng-if="group.selected"] {
				font-weight: bold;
			}
		}
	}
}

.product-desc {
	ul {
		li {
			background:url(../images/infortis/_shared/cck/list/bullet.png) 0 0 no-repeat;
			padding-left: 25px;
		}
	}
}
