.product-tab-options{
	.product-options {
		dd[class$="field"] {
			.input-box {
					display: table;
					vertical-align: middle;
					padding: 0 10px;
			}
			
			.slider {
				display: table-cell;
				width: 160px;
			}
			
			input.input-text {
				width: 50px;
				text-align: center;
				display: table-cell !important;
				float: left;
				margin: 0 10px 0 20px;
			}
		}
		
		.selector-hidden, .label-hidden {
			display: none;
		}
		
		dd {
			.input-box {
				width: 60% !important;
			}
		}
		
		dd.ob-grid {
			ul.options-list {
				li {
					width: 68px !important;
					height: auto !important;
					
					.ob-tooltip-icon {
						display: none;
					}
					
					.label {
						width: 100%;
					}
				}
				input[type="radio"] {
					display: none;
				}
				.ob-image {
					border: 4px solid transparent;
					width: 60px;
					height: 60px;
					-webkit-border-radius: 4px;
					border-radius: 4px;
					&.checked {
						border-color: $light-green;
					}
				}
			}
		}
	}
	
	#overview {
		padding: 1%;
		background: $base-grey;
		position: relative;
		
		.price-add {
			position: absolute;
			bottom: 6%;
			right: 0;
			
			.price-box {
				text-align: right;
			}
			
			.cart-wrap {
				width: 90%;
				float: right;
				
				.add-to-cart {
					text-align: right;
					
					.qty-wrapper {
						float:left;
						input {
							min-width: 60px;
						}
					}
					.clear {
						clear: none;
					}
				}
			}
		}
	}
}

#siblings {
	.owl-item {
		.item {
			width: auto;
			padding: 0 5px;
		}
	}
}