body.cms-page-view {
  &[class*="cms-varmepumpar-lokalt-"] {
    .page-title > h1 {
      padding-left: 20px;
      @media only screen and (max-width: 639px) {
        padding-left: 10px;
      }
    }
  }

  .col-main {
    margin-bottom: 0;
    padding: 10px 0;

    .location-page {
      .information {
        .disclaimer {
          font-style: italic;
          font-size: 0.8em;
          line-height: 1.6em;
        }
      }

      .primary-information {
        background-color: #EEEBE9;
				.column-table {
					button.text-button {
						border: none;
						background: none;
						color: $base-blue;
						font-size: inherit;
					}
				}
      }

      .secondary-information {
        background-color: rgba(225, 225, 225, 0.6);
        .column-tables {
          display: table;

          .column-table {
            float: left;
            box-sizing: border-box;
            width: 25%;
            border: 1px dotted #d1d1d1;
            display: table-cell;

            @media only screen and (max-width: 769px) {
              width: 100%;
              border-right: 1px dotted #d1d1d1;
              border-left: 1px dotted #d1d1d1;
              border-top: 1px solid #d1d1d1;
              border-bottom: none;

              &:last-of-type {
                border-bottom: 1px solid #d1d1d1;
              }
            }

            &:nth-child(even) {
              background-color: rgba(255, 255, 255, 0.6);
            }

            header, article, footer {
              box-sizing: inherit;
            }

            header, footer, article .text {
              padding: 10px;
              border-bottom: 1px dotted #d1d1d1;
            }

            header {
              font-family: $base-font;
              font-size: 2em;
              line-height: 1.3em;
            }

            footer {
              button { display: inline-block; }
              text-align: center;
            }
          }
        }
      }

      .category-meta-information {
        .col {
          min-height: 70px;
        }
      }

      .location-page-selling-point {
        background: #E1E1E1;
        background: -moz-linear-gradient(top, #e1e1e1 0%, #e2e2e2 12%, #e7e7e7 26%, #f4f4f4 39%, #fefefe 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(12%,#E2E2E2), color-stop(26%,#E7E7E7), color-stop(39%,#F4F4F4), color-stop(100%,#FEFEFE));
        background: -webkit-linear-gradient(top, #E1E1E1 0%,#E2E2E2 12%,#E7E7E7 26%,#F4F4F4 39%,#FEFEFE 100%);
        background: -o-linear-gradient(top, #e1e1e1 0%,#e2e2e2 12%,#e7e7e7 26%,#f4f4f4 39%,#fefefe 100%);
        background: -ms-linear-gradient(top, #e1e1e1 0%,#e2e2e2 12%,#e7e7e7 26%,#f4f4f4 39%,#fefefe 100%);
        background: linear-gradient(to bottom, #E1E1E1 0%,#E2E2E2 12%,#E7E7E7 26%,#F4F4F4 39%,#FEFEFE 100%);
        position: relative;
        border: 1px solid #FFF;
        padding: 10px;
        text-align: center;
        margin-bottom: 2%;


        > div {

          width: 20%;
          float: left;
          margin-bottom: 0px;
          box-sizing: border-box;
          padding: 5px 0;
          border-left: 1px solid #fff;

          &:first-of-type {
            border-left: none;
          }

          .title {
            font-family: $base-font;
            font-size: 26px;
            line-height: 26px;
            color: #525455;
            font-weight: 400;
            display: block;
            margin-bottom: 15px;

            @media only screen and (max-width: 960px) {
              font-size: 1.7em;
            }

            @media only screen and (max-width: 768px) {
              font-size: 1.4em;
            }
          }

          @media only screen and (max-width: 644px) {
            & {
              width: 50%;
              border: none;
              .title {
                margin-bottom: 0;
              }
            }

            // Only the last child IF ODD should be with 100%
            &:last-of-type:nth-child(odd) {
              width: 100%;
            }
          }
        }

        > p.wide {
          clear: both;
          color: #FA6632;
          font-size: 28px;
          line-height: 1em;
          max-width: 100%;
          width: 100%;
          font-family: $base-font;
          margin: 1em auto 0;
          letter-spacing: 1px;

          @media only screen and (max-width: 480px) {
            & {
              font-size: 1.7em;
            }
          }
        }

        a {
          color: $orange;
          margin-top: 6px;
        }
      }

      .about-section {
        @media only screen and (min-width: 768px) {
          iframe {
            width: 100% !important;
          }

          label {
            clear: both;
            display: block;
            vertical-align: middle;
            font-weight: bold;
          }
        }

        .form-container {
          ul.form-list {
            li {
              /*margin: 0;*/
              .grid12-12 {
                width: 100%;
                margin: 0;
              }

              .input-box * {
                width: 100% !important;
              }

              .input-box input {
                padding: 7px 0 7px 5px;
              }
            }
          }

          button {
            display: inline-block;
          }
        }
      }

      .box-collateral.collateral-container.box-tabs {
        .product-upsell-list {
          padding: 0;
          background: none;

          .block-item-3 {
            article.usp {
              border: 1px solid #e1e1e1;
            }
          }
        }

        .product-list {
          background-color: #f7f7f7;
          border: 1px solid #e1e1e1;
          padding: 0;
          .ma2-widgetproductlist.list-view {
            margin: 0;
            padding: 0;
          }
          .product-item {
            background-color: #fff;
            margin: 20px;
            .product-item-inner {
              overflow: auto;
              position: relative;
              .product-info {
                min-height: 160px;
                position: relative;
                .product-name {
                  font-size: 21px;
                  line-height: 21px;
                  font-family: $base-font;
                  display: block;
                  font-weight: bold;
                  margin: 0 0 10px 0;
                }
                .bottom {
                  overflow: auto;
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  .price-box {
                    position: absolute;
                    bottom: 0;
                    float: left;
                    p {
                      margin: 0;
                    }
                    .label {
                      text-transform: uppercase;
                    }
                    .regular-price {
                      position: absolute;
                      bottom: 0;
                      .price {
                        color: #FA6632;
                      }
                    }
                    .special-price {
                      .old-price {
                        display: none;
                      }
                      .price {
                        color: #95040c;
                      }
                    }
                    .old-price {
                      text-align: right;
                      .price {
                        font-family: Helvetica, Arial, Sans-serif;
                        font-size: 10px;
                        text-decoration: line-through;
                        color: #333 !important;
                      }
                    }
                  }
                }
                .actions {
                  width: 20%;
                  min-height: 40px;
                  float: right;
                  .btn-cart {
                    position: absolute;
                    bottom: 0;
                  }
                }
              }
            }
          }
        }

        @media screen and (min-width: 960px) {
          .product-items {
            .product-item {
              .product-image {
                width: 160px;
                img {
                  height: auto;
                }
              }
              .product-info {
                padding: 0 0 10px 10px;
              }
              .price-box {
                width: 52%;
              }
              .actions {
                .btn-cart {
                  right: 10px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 959px) {
          .product-items {
            .product-item {
              .product-image {
                float: none;
                width: 100%;
                display: block;
                margin-bottom: 10px;
                img {
                  display: block;
                  margin: 0 auto;
                }
              }
              .product-info {
                padding: 0;
                max-width: 260px;
                margin: 0 auto;
              }
              .price-box {
                width: 42%;
              }
              .actions {
                .btn-cart {
                  right: 0;
                }
              }
            }
          }
        }

        .slideshow-banners {
          text-align: center;
          background: #f7f7f7;
          border: 1px solid #e1e1e1;
          .inner-grid {
            border: none;
            padding: 0;
            margin: 0;
            .guide {
              background: transparent;
              .content {
                padding: 2%;
                margin: 20px;
                background: #fff;
                input[type=text] {
                  width: auto;
                }

                button {
                  display: inline-block !important;
                }
              }
            }
          }
        }
      }
    }
  }
}