.vav-samples {
	.column{
		position: relative;
		
		h3 {
			line-height: 1.4em;
			font-size: 1.2em;
		}
		
		a[rel="lightbox"] {
			margin-top: 2%;
			display: block;
		}
		
		> span.ic-char {
			font-size: 15px;
		}
		
		.show-tip {
			> .tooltip {
				position: absolute;
				left: -5%;
				right: 25%;
				top: 0;
				background: #279ad2;
				padding: 5%;
				font: normal 80%/150% Arial, sans-serif;
				text-align: left;
				z-index: 99;
					opacity: 0;
					cursor: pointer;
					pointer-events: none;
					-webkit-transform: translateX(10px);
						 -moz-transform: translateX(10px);
							-ms-transform: translateX(10px);
							 -o-transform: translateX(10px);
									transform: translateX(10px);
					-webkit-transition: all .25s ease-out;
						 -moz-transition: all .25s ease-out;
							-ms-transition: all .25s ease-out;
							 -o-transition: all .25s ease-out;
									transition: all .25s ease-out;
									
				&:before {
					content: '';
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid #279ad2;
					position: absolute;
					right: -5px;
				}
				&:after {
					right: -20%;
					content: " ";
					display: block;
					top: 0;
					position: absolute;
					width: 100%;
					bottom: 20%;
				}
			}
			
			&:hover {
				> .tooltip {
					opacity: 1;
					pointer-events: auto;
					-webkit-transform: translateY(0px);
						 -moz-transform: translateY(0px);
							-ms-transform: translateY(0px);
							 -o-transform: translateY(0px);
									transform: translateY(0px);
				}
			}
		}
	}
}

/* IE can just show/hide with no transition */
.lte8 .vav-samples .show-tip > .tooltip {
  display: none;
}

.lte8 .vav-samples .show-tip:hover > .tooltip {
  display: block;
}