/**
 * Polarpumpen list of defined colors to the theme
 * and relevant mixins to the color
 */

/** Base colors */
$base-blue				: #279AD2;
$base-turquoise		: #279AD2;
$dark-turquoise		: #1f7aa7;
$light-turquoise	: #3ca4d6;
$base-green				: #71A02D;
$base-grey				: #eeeeee;
$mid-grey					: #e7e7e7;
$dark-grey				: #333333;

$orange						: #fa6632;
$light-orange			: #ffb34a;
$pink							: #D2279A;
$light-green			: #8DCA09;
$mid-green				: #72A307;
$green						: #72A307;
$dark-green				: #496805;

@mixin alpha-background-color($color, $background) {
    $percent         : alpha($color) * 100%;
    $opaque          : opacify($color, 1);
    $solid-color     : mix($opaque, $background, $percent);
    background-color : $solid-color;
    background-color : $color;
}

@mixin alpha-attribute($attribute, $color, $background) {
    $percent      : alpha($color) * 100%;
    $opaque       : opacify($color, 1);
    $solid-color  : mix($opaque, $background, $percent);
    #{$attribute} : $solid-color;
    #{$attribute} : $color;
}

@mixin primary-information-color () {
  background-color: #EEEBE9;
}

@mixin secondary-information-color() {
  background-color: rgba(225, 225, 225, 0.6);
}