.add-to-configurator {
  vertical-align: top;

  .amgroupcat {
    display: inline-block;
    margin-right: 10px;
    height: 33px;
    line-height: 33px;
    float: left;
  }

  .button {
    float: left;
  }
}
