/* Fonts
-------------------------------------------------------------- */
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/** Base fonts */
$heading-font : "Roboto", Sans-serif;

$base-font	:	"Roboto", Sans-serif;

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  color: $dark-grey;
  font-family: $heading-font;
}

h1 {
  font-size: 35px;
  font-weight: 300;
}

.header > h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
	max-width: 500px;
}

// When a h3 is succeeding a p
ul + h3, p + h3, hr + h3, a + h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

h5 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

h6 {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
}

/* Paragraphs
-------------------------------------------------------------- */
p {
  margin-bottom: 1em;
}

p.normal {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}

@media screen and (max-width: 320px) {
  p {
    max-width: 295px;
  }
}

sup {
  vertical-align: super;
  font-size: 0.7em;
}

/* Price text
-------------------------------------------------------------- */
.price {
  font-size: 22px;
  font-weight: bold;
  font-family: $heading-font;
  color: $orange;
}

/* Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: $base-turquoise;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  &:hover {
    color: $orange;
  }
  &:active {
    color: $orange;
    outline: none;
    outline: 0;
  }
  .int {
    display: block;
    clear: both;
  }
}

/* Block Quotes
-------------------------------------------------------------- */
blockquote.body-quote {
  background: #f9f9f9;
  max-width: 590px;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &::before {
    color: #ccc;
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    font-size: 4em;
  }
  p {
    display: inline;
  }
}


/**
 * Blockquotes that shouldn't be italic. They exist in the markup of SEO purposes
 */
blockquote {
  font-style: normal !important;
}

/* Unified text-styles
-------------------------------------------------------------- */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.sm-text {
  font-size: 0.9em;
}

.l-text {
  font-size: 1.7em;
}

.xl-text {
  font-size: 1.9em;
}

.xxl-text {
  font-size: 2.3em;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Common-titles::uppercase
-------------------------------------------------------------- */
.catalog-product-view,
.catalog-category-view {
  .cat-title,
  .product-name {
    text-transform: uppercase;
  }
}
