<?php echo $this->getChildHtml('items_before'); ?>

<?php
echo $this->getMessagesBlock()->getGroupedHtml();
$this->getMessagesBlock()->getMessageCollection()->clear();
?>

<div id="checkout-review-table-wrapper">
    <table class="data-table" id="checkout-review-table">
        <?php if ($this->helper('tax')->displayCartBothPrices()): $colspan = $rowspan = 2; else: $colspan = $rowspan = 1; endif; ?>
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <col width="1" />
            <col width="1" />
        <?php endif; ?>
        <thead>
			<tr>
				<th rowspan="<?php echo $rowspan ?>"><?php echo $this->__('Product Name') ?></th>
				<?php

				$loggedInSales = Mage::helper('polarpumpen_customersavecart')->checkIfSalesAreLoggedIn(Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenSalesCustomerGroupId'));
				$totalColumns = ( $loggedInSales ? $this->getColspan() + 3 : $this->getColspan() );
				if($loggedInSales) : ?>
					<th rowspan="<?php echo $rowspan ?>" class="a-left"><?=$this->__('Alt. 1')?></th>
					<th colspan="<?php echo $colspan ?>" class="a-left"><?=$this->__('Alt. 2')?></th>
					<th colspan="<?php echo $colspan ?>" class="a-left"><?=$this->__('Rabatt')?></th>
				<?php endif; ?>

				<th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Price') ?></th>
				<th rowspan="<?php echo $rowspan ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
				<th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Subtotal') ?></th>
			</tr>
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
            <tr>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
            </tr>
        <?php endif; ?>
        </thead>
        <?php echo $this->getChildHtml('totals'); ?>
        <tbody>
		<?php
		$installation	= 0; 
		$pump			= 0;
		$vaPkt			= 0;
		foreach($this->getItems() as $_item): 
			echo $this->getItemHtml($_item);
			$sku	= $_item->getProduct()->getSku();
			$url	= $_item->getProduct()->getProductUrl();
			
			switch(true) {
				case stristr($sku, 'Sinstk'):
					if($sku != 'Sinstk-wifi')
						$installation++;
					break;
				case stristr($url, 'varumarken'):
					$pump++;
					switch(true){
						case stristr($url, 'luft-luft'):
							$install_url = '/luft-luft-varmepump/installation';
							break;
						case stristr($url, 'luft-vatten'):
							$install_url = '/luft-vatten-varmepump/installation';
							break;
						default:
							$install_url = '/installation';
					}
					break;
			}
			switch(true) {
				case stristr($sku, 'lld-va'):
					$vaPkt++;
					break;
				case stristr($sku, 'llt-va'):
					$vaPkt++;
					break;
				case stristr($sku, 'lli-va'):
					$vaPkt++;
					break;
			}
		endforeach;
		
		?>

		<?php	
		if($pump >= 1 && $installation <1): ?>
			 <tr>
				<td colspan="<?=$totalColumns?>" class="order-installation">
					Glöm inte att beställa installation av din värmepump!
					<a href="<?php echo $install_url; ?>">
						<button type="button" class="button">
							<span>
								<span>Beställ installation</span>
							</span>
						</button>
					</a>
				</td>
			</tr>
		<?php elseif($installation >= 1 && $pump <1): ?>
			 <tr>
				<td colspan="<?=$totalColumns?>" class="order-pump">
					<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pp_checkout_installation')->toHtml(); ?>
					<a href="/luft-luft-varmepump">
						<button type="button" class="button">
							<span>
								<span>Beställ Värmepump</span>
							</span>
						</button>
					</a>
				</td>
			</tr>
		<?php endif; ?>
		<?php if($installation <1 || ($installation >= 1 && $pump >= 1)): ?>
			 <script type="text/javascript">
				jQuery(document).ready(function($) {
					if($('#order-tm_field3').length) {
						$('#order-tm_field3').parents('li').remove();
					}
				});
			</script>
		<?php endif; ?>
		<?php if($vaPkt == 0): ?>
			 <script type="text/javascript">
				/*jQuery(document).ready(function($) {
					if($('#order-tm_field4').length) {
						$('#order-tm_field4').parents('li').remove();
					}
				});*/
			</script>
		<?php endif; ?>
        </tbody>
    </table>
</div>
<?php echo $this->getChildHtml('items_after'); ?>
<script type="text/javascript">
    //<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
    //]]>
</script>
