<?php
    /** @var NetConsult_ProductConfigurator_Block_Cart_Item_Renderer_Configurator_Options $this */
    $conf = $this->getConfiguration();

?>

<ul>
    <li>Bredd: <?php echo isset($conf['width']) ? $conf['width'] : "-"; ?> cm</li>
    <li>Utfall: <?php echo isset($conf['depth']) ? $conf['depth'] : "-"; ?> cm</li>
    <?php foreach (isset($conf['supplements']) ? $conf['supplements'] : array() as $supplement): ?>
        <li><?php echo $supplement['name']; ?>: <?php echo isset($supplement['selection']) ? $supplement['selection'] : "-"; ?></li>
    <?php endforeach; ?>
</ul>