<?php
/* @var $this Mage_Catalog_Block_Product_Compare_Sidebar */

/* TODO:HEAD */
?>
<?php
    $theme = $this->helper('ultimo');
    $_helper = $this->helper('catalog/product_compare');
    $count = $_helper->getItemCount();
    $_items = $count > 0 ? $_helper->getItemCollection() : null;
    $mainTitle = $this->__('You have no items to compare.');
    $skipClass = 'skip-link skip-compare';
    
    if ($count > 0) {
        $mainTitle = $this->__('Compare Products');
        Mage::register('miniCompareProductCount', $count);
        $skipClass = '';
    }

    $showLabel = $theme->getCfg('header/compare_label');
?>

<div id="mini-compare" class="mini-compare dropdown<?php echo (!$count ? ' is-empty' : ' is-not-empty'); ?>">

    <div class="mini-compare-heading dropdown-heading cover <?php echo $skipClass ?>" title="<?php echo $mainTitle; ?>">
        <span>
            <span class="icon ic ic-compare"></span>
            <?php if ($count > 0): ?>
                <span class="count"><?php echo $count; ?></span>
            <?php endif; ?>
            <span class="label<?php if (!$showLabel) echo ' no-display'; ?>"> <?php echo $this->__('Products To Compare') ?></span>
            <span class="caret">&nbsp;</span>
        </span>
    </div>
    <div id="header-compare" class="mini-compare-content dropdown-content block skip-content skip-content--style">
    <?php if($count > 0): ?>
        <div class="block-subtitle"><?php echo $this->__('Recently added item(s)'); ?></div>
        <ol id="compare-items" class="mini-products-list">
        <?php foreach($_items as $_index => $_item): ?>
            <li class="item">
                <input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                    <a href="<?php echo $_helper->getRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" class="btn-remove"></a>
                <p class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></p>
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('compare-items')</script>
        <div class="actions">
            <a href="<?php echo $_helper->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a>
            <button type="button" title="<?php echo $this->__('Compare Products') ?>" class="button btn-inline" onclick="popWin('<?php echo $_helper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><span><span><?php echo $this->__('Compare') ?></span></span></button>
        </div>
    <?php else: ?>
        <div class="empty"><?php echo $this->__('You have no items to compare.') ?></div>
    <?php endif; ?>
    </div><!-- end: dropdown-content -->

</div>
