<div class="page-title checkout-title">
    <h1><?php echo Mage::getStoreConfig('firecheckout/general/title') ?></h1>
</div>

<?php
echo $this->getMessagesBlock()->getGroupedHtml();
$this->getMessagesBlock()->getMessageCollection()->clear();
$customerSession = Mage::getSingleton('customer/session');
$loggedInSales = Mage::helper('polarpumpen_customersavecart')->checkIfSalesAreLoggedIn(Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenSalesCustomerGroupId'));

$enhancedEcommerceProducts = array();
$cart = Mage::getModel('checkout/cart')->getQuote();
if(count($cart) > 0) {
    foreach ($cart->getAllItems() as $item) {
        $_product = $item->getProduct();
        $productId = $_product->getSku();
        $productPrice = $item->getProduct()->getPrice();
        $productSku = str_replace(' ', '-', $_product->getSku());

        // Get $category for Google Tag Manager
        $url = explode('/', $_product->getProductUrl());
        $count	= count($url);
        if($url[3] == 'fukt-i-hus' || $url[3] == 'partner') {
            $category = $url[$count-2];
        } else {
            $category = $url[$count-4];
        }

        $_quote = Mage::getSingleton('checkout/session')->getQuote();
        $_item = $_quote ? $_quote->getItemByProduct($_product) : false;
        $quantity = $_item ? $_item->getQty() : 0;

        $tagManagerProduct = "name:{$_product->getName()},id:{$productSku},price:{$productPrice},brand:{$_product->getAttributeText('td_marke')},category:{$category},variant:,quantity:{$quantity}";
        $enhancedEcommerceProducts[] = $tagManagerProduct;
    }
}
?>
<input type="hidden" id="products-in-cart" value="<?php echo implode(';', $enhancedEcommerceProducts); ?>" />

<?php
$topContainer = $this->getChildHtml('firecheckout.top.container');
$topContainer = trim($topContainer);
if (strlen($topContainer)) :
    ?>
    <div class="firecheckout-top-container">
        <?php echo $topContainer ?>
    </div>
<?php endif ?>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/tm/firecheckout.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/tm/firecheckout-compatibility.js') ?>"></script>
<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<script type="text/javascript">FireCheckout.Ajax.rules = <?php echo Mage::helper('core')->jsonEncode(Mage::helper('firecheckout/ajax')->getRules()) ?></script>

<form action="" id="firecheckout-form" method="post">
    <?php
    if ($blockId = Mage::getStoreConfig('firecheckout/additional_content/top')) :
        echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
    endif;
    ?>
    <div class="clearer"></div>

    <div class="section review">
            <div class="checkout-review-wrapper">
    			<?php echo $this->getChildHtml('review') ?>
                <?php echo $this->getChildHtml('review-sidebar') ?>
            </div>
			<?php echo $this->getChildHtml('ampromo.onepage.review.before') ?>
			<?php echo $this->getChildHtml('review_before') ?>
			<?php echo $this->getChildHtml('crosssell') ?>
    </div>

    <div class="section shipping-method">
        <?php echo $this->getChildHtml('shipping.method') ?>
    </div>

    <div class="section payment-method">
        <?php echo $this->getChildHtml('payment.method') ?>
        <?php if ($j2tRewardPoints = $this->getLayout()->getBlock('checkout_cart_coupon_normal')): // rewardpoints extension override standard discount block too ?>
            <div id="checkout-coupon-discount-load">
                <?php echo $j2tRewardPoints->toHtml(); ?>
            </div>
        <?php else: ?>
            <div id="checkout-coupon-discount-load">
                <?php echo $this->getChildHtml('coupon') ?>
            </div>
        <?php endif; ?>
        <div id="checkout-giftcard-load">
            <?php echo $this->getChildHtml('giftcard') ?>
        </div>
    </div>

    <div class="section address">
        <?php echo $this->getChildHtml('billing.address') ?>
        <?php echo $this->getChildHtml('shipping.address') ?>
		
		<?php if (Mage::getStoreConfig('firecheckout/general/comment')) : ?>
			<div id="checkout-comment-load">
				<div class="block-title"><span><?php echo $this->helper('sales')->__('Comment') ?></span></div>
				<div class="block-content">
					<ul class="form-list form-comment">
						<li class="wide">
							<div class="input-box">
                                <?php if($loggedInSales) : ?>

                                    <label for="offerClassification">Klassificering</label>
                                    <select name="offerClassification">
                                        <option value="Cold">Kall</option>
                                        <option value="Hot">Varm</option>
                                    </select>
                                    <br/>

                                    <label for="offerType">Offerttyp</label>
                                    <select name="offerType">
                                        <option value="air">Luft Luft</option>
                                        <option value="airWater">Luft vatten</option>
                                        <option value="water">Vatten</option>
                                    </select>

                                    <br />
                                    <label for="heatingArea">Uppvärmningsyta (m&sup2;)</label>
                                    <input type="text" name="heatingArea" id="heatingArea">
                                    <br/>
                                    <label for="geographicArea">Geografiskt läge</label>
                                    <select name="geographicArea">
                                        <option value="south">Söder</option>
                                        <option value="north">Norr</option>
                                        <option value="none">Lämna tomt</option>
                                    </select>

                                    <br/>
                                    <label for="other">Övrigt</label>
                                    <input type="text" name="other">
                                    <br/>

                                    <label for="questionAndAnswer">Frågor och svar</label>
                                    <textarea name="questionAndAnswer" id="questionAndAnswer" rows="5" cols="25"></textarea>
                                    <br/>
                                    <br/>
                                    <br/>
                                <?php endif; ?>

								<label for="order-comment"><?php echo $this->helper('sales')->__('Comment') ?></label>
								<?php 
								/*<p>
									&raquo; Om värmepump utan installation:
									Firmanamn och certifieringsnummer
									på firman som ska installera.<br>
									<a href="https://www.incertonline.se/Company/Search" target="_blank">Hitta certifieringsnummer här »</a>
								</p>
								<p>
									&raquo; Om ROT: Pers.nr. & Fastighetsbet.<br>
									&raquo; Om företag: Org.-nr<br>
									&raquo; Om bet. Svea/Klarna: Installations-adress<br>
									&raquo; Om privatperson i Norge: Pers.nr
								</p>*/
								?>
								<textarea name="order-comment" id="order-comment" rows="5" cols="25"><?php echo trim($customerSession->getOrderCustomerComment()) ?></textarea>
                                <?php if($loggedInSales) : ?>
                                    <br/>
                                    <br/>
                                    <span><em style="font-size: 11px;">Meddelandet till kunden kommer se ut enligt nedan.
                                            OBS! Om du skriver en kommentar kommer den att hamna mellan: </em>
                                        <br/><br/>
                                        <strong>"Hej <span id="message-customer-firstname">Kundnamn</span>,"​</strong><br/>
                                        <span id="message-customer-comment">[Kommentar]</span><br/>
                                    <strong>"Du är varmt välkommen att höra av dig om du undrar något!<br />
                                    Hälsningar, <?=$customerSession->getCustomer()->getName()?>"</strong></span>
                                <?php endif; ?>
							</div>
						</li>
					</ul>
				</div>
			</div>
		<?php endif; ?>
    </div>

    <div class="section summary" id="checkout-summary-load">
        <?php echo $this->getChildHtml('summary') ?>
    </div>

    <div class="section agreements">
        <?php $agreements = $this->getChildHtml('agreements') ?>
        <?php if (!empty($agreements)) : ?>
            <div id="agreements-wrapper">
                <?php echo $agreements; ?>
            </div>
        <?php endif; ?>
    </div>

    <div class="section placeorder">
        <div id="checkout-review-submit">
            <?php if($loggedInSales) : ?>
                <button type="submit" title="" id="btn-checkout-offer" class="button btn-checkout-offer" style="float: left; width: auto; margin-bottom: -50px;"
                        formaction="<?php echo Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenCreateOfferUrl') ?>">
                    <span>Skapa Offert</span>
                </button>
            <?php endif; ?>
            <div class="buttons-set" id="review-buttons-container">
                <button type="button" title="<?php echo $this->__('Place Order') ?>" class="button btn-checkout" onclick="
                    <?php if($loggedInSales) : ?>if(!confirm('Är du säker på att du vill lägga en beställning?')) { return false; }<?php endif; ?>
                    checkout.save(); return false;"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
            <span class="please-wait" id="review-please-wait" style="display:none;">
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Submitting order information...') ?>" title="<?php echo $this->__('Submitting order information...') ?>" class="v-middle" /> <?php echo $this->__('Submitting order information...') ?>
            </span>
            </div>
        </div>
    </div>

    <?php
    if ($blockId = Mage::getStoreConfig('firecheckout/additional_content/bottom')) :
        echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
    endif;
    ?>
    <div class="clearer"></div>
</form>

<?php echo $this->getChildHtml('customer.login') ?>
<?php echo $this->getChildHtml('customer.forgot') ?>
<?php if (Mage::helper('core')->isModuleOutputEnabled('Mage_Persistent')) : ?>
    <?php echo $this->getChildHtml('persistent.login') ?>
<?php endif; 
?>
<div id="checkout-centinel-iframe-load" style="display: none;"></div>
<div id="checkout-paypaliframe-load" class="authentication" style="display: none;"></div>
<div id="checkout-sagepay-iframe-load"></div>
<form id="co-payment-form" method="post" action=""></form>
<script type="text/javascript">
    //<![CDATA[

<?php
    //$loggedInSales = Mage::helper('polarpumpen_customersavecart')->checkIfSalesAreLoggedIn(Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenSalesCustomerGroupId'));
    if($loggedInSales) : ?>
        function loadOfferData() {
            jQuery("input[name='option1[]'],input[name='option2[]'],input.custom_discount").each( function () {
                var inputName = this.name;
                var inputValue = this.value;
                if(this.type == 'text') {
                    jQuery("input[name='" + inputName + "']").val(localStorage.getItem(inputName));
                } else {
                    var storageName = inputName + ';' + inputValue;
                    if(localStorage.getItem(storageName) == 'true') {
                        jQuery("input[name='" + inputName + "'][value='" + inputValue + "']").prop('checked', true);
                    } else {
                        localStorage.removeItem(storageName);
                    }
                }
            });
        }
        // On page reload, check for data in local storage
        jQuery(document).ready(function() {
            loadOfferData();
            printFirstname();
            printComment();
        });

        // Click on alternative checkboxes
        jQuery("input[name='option1[]'],input[name='option2[]']").click(function () {
            var inputName = this.name;
            var inputValue = this.value;
            var storageName = inputName + ';' + inputValue;

            if(this.checked == true) {
                localStorage[storageName] = true;
            } else {
                localStorage.removeItem(storageName);
            }
        });

        // Write something in discount text field
        jQuery("input.custom_discount").focusout(function () {
            var inputName = this.name;
            var inputValue = this.value;

            if(inputValue != "" && inputValue != null) {
                localStorage[inputName] = inputValue;
            } else {
                localStorage.removeItem(inputName);
            }

        });

        function printFirstname(firstname) {
            if(firstname == "" || firstname == null) {
                firstname = jQuery("input[name='billing[firstname]']").val();
            }
            jQuery('#message-customer-firstname').text(firstname);
        }
        jQuery("input[name='billing[firstname]']").on('keyup', function () {
            printFirstname(this.value);
        });

        function printComment(comment) {
            if(comment == "" || comment == null) {
                comment = jQuery("textarea[name='order-comment']").val();
            }
            comment = comment.replace(/(?:\r\n|\r|\n)/g, "<br />");
            jQuery('#message-customer-comment').html(comment);
        }
        jQuery("textarea[name='order-comment']").on('keyup', function () {
            printComment(this.value);
        });

    function prepopulateAddressFormWithPolarpumpenDefaultData() {

        var billingFirstName = jQuery("input[name='billing[firstname]']").val();
        if(billingFirstName == '' || billingFirstName == null) {
            jQuery("input[name='billing[firstname]']").val("Polarpumpen");
        }

        var billingLastName = jQuery("input[name='billing[lastname]']").val();

        if(billingLastName == '' || billingLastName == null) {
            jQuery("input[name='billing[lastname]']").val("AB");
        }

        var billingPhone = jQuery("input[name='billing[telephone]']").val();
        if(billingPhone == '' || billingPhone == null) {
            jQuery("input[name='billing[telephone]']").val("0770777600");
        }

        var billingPersonalNumber = jQuery("input[name='amorderattr[persnr_orgnr]']").val();
        if(billingPersonalNumber == '' || billingPersonalNumber == null) {
            jQuery("input[name='amorderattr[persnr_orgnr]']").val("0000");
        }

        jQuery("input[name='billing[street][]']").val("Datavägen 14a");
        jQuery("input[name='billing[postcode]']").val("43632");
        jQuery("input[name='billing[city]']").val("Askim");

    }

        // On submit, validate and clear local storage data
        jQuery('#btn-checkout-offer').click(function () {
            checkout.setLoadWaiting(true);


            var missingBillingAddressArray = new Array();

            var billingFirstName = jQuery("input[name='billing[firstname]']").val();
            if(billingFirstName == '' || billingFirstName == null) {
                missingBillingAddressArray.push('- Förnamn');
            }

            var billingLastName = jQuery("input[name='billing[lastname]']").val();
            if(billingLastName == '' || billingLastName == null) {
                missingBillingAddressArray.push('- Efternamn');
            }

            var billingEmail = jQuery("input[name='billing[telephone]']").val();
            if(billingEmail == '' || billingEmail == null) {
                missingBillingAddressArray.push('- Email');
            }

            var billingPhone = jQuery("input[name='billing[telephone]']").val();
            if(billingPhone == '' || billingPhone == null) {
                missingBillingAddressArray.push('- Telefon');
            }

            var billingStreet = jQuery("input[name='billing[street][]']").val();
            if(billingStreet == '' || billingStreet == null) {
                missingBillingAddressArray.push('- Gatuaddress');
            }

            var billingPostcode = jQuery("input[name='billing[postcode]']").val();
            if(billingPostcode == '' || billingPostcode == null) {
                missingBillingAddressArray.push('- Postnummer');
            }

            var billingCity = jQuery("input[name='billing[city]']").val();
            if(billingCity == '' || billingCity == null) {
                missingBillingAddressArray.push('- Ort');
            }

            if(missingBillingAddressArray.length > 0) {
                if(confirm('Du har inte fyllt i alla adressuppgifter, vill du att de saknade fälten skall fyllas i med Polarpumpens adressuppgifter? \n\nOm du fyllt i dessa fält kommer de inte att skrivas över: \nFörnamn \nEfternamn' +
                        ' \nTelefonnummer\nE-postadress ')) {
                    prepopulateAddressFormWithPolarpumpenDefaultData();
                    checkout.setLoadWaiting(false);
                    return true;
                }

                checkout.setLoadWaiting(false);
                return false;
            }

            var errorArray = new Array();


            var number = jQuery('input#persnr_orgnr').val();
            if(number == '' || number == null) {
                errorArray.push('- Pers.nr/Org.nr.');
            }
            var heatingArea = jQuery('input#heatingArea').val();
            if(heatingArea != "" && !(/^\d+$/.test(heatingArea))) {
                errorArray.push('- Uppvärmningsyta (endast siffror)');
            }
            var orderComment = jQuery('textarea#order-comment').val();
            if(orderComment == '' || orderComment == null) {
                errorArray.push('- Kommentar');
            }
            if(errorArray.length > 0) {
                var errorMessage = "Följande saknas eller är felaktigt:\n";
                errorMessage += errorArray.join("\n");
                alert(errorMessage);
                checkout.setLoadWaiting(false);
                return false;
            }

            /*

            var missingBillingAddressArray = new Array();

            var billingFirstName = jQuery("input[name='billing[firstname]']").val();
            if(billingFirstName == '' || billingFirstName == null) {
                missingBillingAddressArray.push('- Förnamn');
            }

            var billingLastName = jQuery("input[name='billing[lastname]']").val();
            if(billingLastName == '' || billingLastName == null) {
                missingBillingAddressArray.push('- Efternamn');
            }

            var billingEmail = jQuery("input[name='billing[telephone]']").val();
            if(billingEmail == '' || billingEmail == null) {
                missingBillingAddressArray.push('- Email');
            }

            var billingPhone = jQuery("input[name='billing[telephone]']").val();
            if(billingPhone == '' || billingPhone == null) {
                missingBillingAddressArray.push('- Telefon');
            }

            var billingStreet = jQuery("input[name='billing[street][]']").val();
            if(billingStreet == '' || billingStreet == null) {
                missingBillingAddressArray.push('- Gatuaddress');
            }

            var billingPostcode = jQuery("input[name='billing[postcode]']").val();
            if(billingPostcode == '' || billingPostcode == null) {
                missingBillingAddressArray.push('- Postnummer');
            }

            var billingCity = jQuery("input[name='billing[city]']").val();
            if(billingCity == '' || billingCity == null) {
                missingBillingAddressArray.push('- Ort');
            }

            if(missingBillingAddressArray.length > 0) {
                //checkout.setLoadWaiting(true);
                //var missingBillingFields = "Följande saknas eller är felaktigt:\n";
                //missingBillingFields += missingBillingAddressArray.join("\n");
                if(confirm('Du har inte fyllt i alla addressuppgiter vill du att de saknade fälten skall fyllas i med Polarpumpen adress uppgfiter? Förnamn, Efternamn,' +
                        ' Nummer & Mail kommer aldrig skrivas över')) {
                    prepopulateAddressFormWithPolarpumpenDefaultData();
                    checkout.setLoadWaiting(false);
                    return true;
                }
                checkout.setLoadWaiting(false);
                return false;
            }*/

            var hasCheckedAlternatives = false;
            jQuery("input[name='option1[]']:checked,input[name='option2[]']:checked").each( function () {
                hasCheckedAlternatives = true;
            });
            if(!hasCheckedAlternatives) {
                if (!confirm('Du har inte fyllt i något offert-alternativ, så en offert på hela varukorgen kommer skickas till kund.\nÄr du säker på att du vill skicka offerten?')) {
                    checkout.setLoadWaiting(false);
                    return false;
                }
            }

            jQuery("input[name='option1[]'],input[name='option2[]'],input.custom_discount").each( function () {
                var inputName = this.name;
                var inputValue = this.value;
                if(this.type == 'text') {
                    localStorage.removeItem(inputName);
                } else { // It's a checkbox!
                    var storageName = inputName + ';' + inputValue;
                    localStorage.removeItem(storageName);
                }
            });
        });
    <?php endif; ?>

    <?php $_isSecure = $this->getRequest()->isSecure(); ?>
    var checkout = new FireCheckout('firecheckout-form', {
        success         : '<?php echo $this->getUrl('checkout/onepage/success',              array('_secure'=>$_isSecure)) ?>',
        save            : '<?php echo $this->getUrl('firecheckout/index/saveOrder',          array('_secure'=>$_isSecure, 'form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>',
        billing_address : '<?php echo $this->getUrl('firecheckout/index/saveBilling',        array('_secure'=>$_isSecure)) ?>',
        shipping_address: '<?php echo $this->getUrl('firecheckout/index/saveShipping',       array('_secure'=>$_isSecure)) ?>',
        shipping_method : '<?php echo $this->getUrl('firecheckout/index/saveShippingMethod', array('_secure'=>$_isSecure)) ?>',
        payment_method  : '<?php echo $this->getUrl('firecheckout/index/savePayment',        array('_secure'=>$_isSecure)) ?>',
        coupon          : '<?php echo $this->getUrl('firecheckout/index/saveCoupon',         array('_secure'=>$_isSecure)) ?>',
        giftcard        : '<?php echo $this->getUrl('firecheckout/index/saveGiftcard',       array('_secure'=>$_isSecure)) ?>',
        paymentdata     : '<?php echo $this->getUrl('firecheckout/index/savePaymentData',    array('_secure'=>$_isSecure)) ?>',
        presave         : '<?php echo $this->getUrl('firecheckout/index/preSaveOrder',       array('_secure'=>$_isSecure, 'form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>',
        shopping_cart   : '<?php echo $this->getUrl('firecheckout/index/saveCart',           array('_secure'=>$_isSecure,'form_key' => Mage::getSingleton('core/session')->getFormKey())) ?>',
        failure         : '<?php echo $this->getUrl('checkout/cart') ?>'
    }, {
        acceptAgreementText: "<?php echo $this->__('Please agree to all the terms and conditions before placing the order.') ?>",
        spinnerText        : "<?php echo $this->__('Please wait...') ?>",
        productRemoveConfirm: "<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>"
    });
    var fireCart = new FireCheckout.Cart({
        descriptionLength: <?php echo (int)Mage::getStoreConfig('firecheckout/shopping_cart/short_description_length') ?>
    });

    <?php if (Mage::getStoreConfig('firecheckout/general/order_review')) : ?>
    var reviewInfo;
    function initOrderReview() {
        reviewInfo = new FireCheckout.OrderReview({
            changeText: "<?php echo $this->__('Change') ?>"
        });
    }
    if (Prototype.Browser.IE) {
        document.observe("dom:loaded", function() { //KB927917 fix
            initOrderReview();
        });
    } else {
        initOrderReview();
    }
    <?php endif; ?>

    <?php $agreeText = $this->__(Mage::getStoreConfig('firecheckout/agreements/agree_text')) ?>
    document.observe("dom:loaded", function() {
        var triggers = {
            login: {
                el    : $$('.firecheckout-login'),
                event : 'click',
                window: $('firecheckout-login-window'),
                size: {
                    maxWidth: 380
                }
            },
            forgot: {
                el    : $$('.firecheckout-forgot'),
                event : 'click',
                window: $('firecheckout-forgot-window'),
                size: {
                    maxWidth: 380
                }
            }
        };
        $$('.firecheckout-agreement-label-minimal').each(function(el) {
            var agreement = el.readAttribute('data-agreement');
            triggers[agreement] = {
                el    : $$('.' + agreement),
                event : 'click',
                window: $(agreement + '-window'),
                actionbar: {
                    hidden: <?php echo (int)empty($agreeText) ?>,
                    html: '<label class="btn-agree" id="' + agreement + '-button">'
                    + "<?php echo $agreeText ?>"
                    + '</label>',
                    el: agreement + '-button',
                    event: 'click',
                    callback: function(e, id) {
                        // prevent if inner link was clicked
                        if (e.element().tagName === 'A') {
                            return;
                        }

                        if (typeof event != 'undefined') { // ie9 fix
                            event.preventDefault ? event.preventDefault() : event.returnValue = false;
                        }
                        e.stop();
                        $(id).checked = 'checked';
                        this.hide();
                    }
                }
            };
        });
        firecheckoutWindow = new FireCheckout.Window({
            triggers: triggers
        });
    });
    //]]>
</script>