<div class="page-title category-title no-image">
    <h1>Frågor och Svar</h1>
</div>

<?php if (count($this->getItems())): ?>
<ul class="faq-list">
    <?php foreach ($this->getItems() as $item): ?>
        <li class="closed">
            <span id="faq-<?php echo $item->getId(); ?>" class="height-space"></span>
            <h3>
                <?php echo $this->escapeHtml($item->getQuestion()); ?>
            </h3>
            <div class="answer">
                <?php echo $item->getAnswer(); ?>
                <div class="gradient">
                </div>
            </div>
        </li>
    <?php endforeach; ?>
</ul>
<?php else: ?>
    <p>
        Det finns inga frågor och svar!
    </p>
<?php endif; ?>
