<?php
    /** @var $this Mage_Core_Block_Template */
?>

<div class="preface-wrapper inner-container">
    <?php if ($this->getChildHtml('pp_preface.mainblock')): ?>
        <div class="grid12-9 no-left-gutter main-content">
            <?php echo $this->getChildHtml('pp_preface.mainblock'); ?>
        </div>
    <?php endif; ?>
    <?php if ($this->getChildHtml('pp_preface.sideblock')): ?>
        <div class="grid12-3 sidebar">
            <?php echo $this->getChildHtml('pp_preface.sideblock'); ?>
        </div>
    <?php endif; ?>
</div>