<?php
    /** @var $this NetConsult_Polarpumpen_Block_Fortum_Tabs */
    /** @var Infortis_Ultimo_Helper_Data $theme */
//    $theme = $this->helper('ultimo');
//
//    $tabs = $this->getTabs();
//    $tabsTop = array();
//    $tabsBottom = array();
//
//    foreach($tabs as $tabIndex => $tab) {
//        if ($tab['top_position']) {
//            $tabsTop[] = $tab;
//        } else {
//            $tabsBottom[] = $tab;
//        }
//    }
//    $overallIndex = null;
?>

<div class="fortum-tabs-wrapper box-collateral collateral-container box-tabs margin-bottom">
    <div id="fortum-tabs" class="id-tabs gen-tabs">
        <div class="tab-nav clearer">
            <div class="click-tab-item tab-top-item fortum-tab-item" id="tab-tab1">
                <a href="#" class="clearer anchor current">
                    <span class="container image-container"></span>
                    <span class="container title-container">Polarpumpens samarbete med Fortum ger dig tusenlappar i besparing!</span>
                </a>
            </div>
        </div>
        <div class="container-shadow tab-parent">
            <span class="image-container be-client"></span>
            <div class="tabs-panels">
                <!--TAB 1-->
                <span class="tab-title acctab" id="acctab-tab1">Fortums värmepumpspaket</span>
                <div id="panel-tab1" class="panel tab1">
                    <div class="inner-container">
                        <div class="section-left grid12-6 no-left-gutter">
                            <h1>Fortums värmepumpspaket</h1>
                            <span class="tagline">- Så enkelt går du till väga:</span>
                            <p>
                                OBS! <strong>Bli först kund hos Fortum</strong>, om du inte redan är kund. <a target="_blank" href="http://hogtryck.fortumkampanj.se/">Hitta bästa avtal här!</a>
                            </p>
                            <ol>
                                <li><b>Beställ</b> ditt paket online eller över telefon</li>
                                <li><b>Invänta</b> telefonkontakt från installatören, för att boka in en dag som passar er båda</li>
                                <li><b>Ta emot</b> installatören hemma hos dig</li>
                                <li>Installatören har med sig din värmepump, ditt värmepumpstak och din Picco Caffitaly kapselmaskin</li>
                                <li><b>Fukt- och ventilationskontroller</b> utförs och dokumenteras</li>
                                <li><b>Din värmepump installeras</b></li>
                                <li>Du kan njuta av behagligt inomhusklimat!</li>
                            </ol>

                            <a href="#inform">Läs mer om paketets olika delar!</a>
                            <p>(Erbjudandet gäller för dig som redan är, eller vill bli, Fortum-kund.)</p>
                        </div>
                        <div class="section-right grid12-6 no-right-gutter">
                            <img class="illustration" height="" src="http://docs.polarpumpen.se/fortum/varmepaket-fortum.png">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--TAB 2-->
                <span class="tab-title acctab" id="acctab-tab2">Paket Det Mindre Huset</span>
                <div id="panel-tab2" class="panel tab2">
                    <div class="inner-container">
                        <div class="section-left grid12-6 no-left-gutter">
                            <div class="top">
                                <span class="large-orange-text">Allt detta ingår</span> <span class="small-grey-text">- Paket Det Mindre Huset</span>
                            </div>
                            <span class="tagline">
                                5 års totalgaranti för värmepump och installation
                            </span>
                            <table class="data-table">
                                <tbody>
                                <tr>
                                    <td><a target="_blank" href="/luft-luft-varmepump/varumarken/fujitsu-arctic/fujitsu-12-lm-slim">Fujitsu 12 LM</a></td>
                                    <td>11 900 kr</td>
                                    <td>11 200 kr</td>
                                </tr>
                                <tr>
                                    <td><a target="_blank" href="/installation/std-installation-efter-rot">Standard-installation inkl. ROT-avdrag</a></td>
                                    <td>3 000 kr</td>
                                    <td>3 000 kr</td>
                                </tr>
                                <tr>
                                    <td>Hemleverans</td>
                                    <td>790 kr</td>
                                    <td>790 kr</td>
                                </tr>
                                <tr>
                                    <td><a target="_blank" href="/luft-luft-varmepump/tillbehor/monteringstillbehor/varmepumpstak">Värmepumpstak</a></td>
                                    <td>990 kr</td>
                                    <td>0 kr</td>
                                </tr>
                                <tr>
                                    <td><a target="_blank" href="/fortum/picco-caffitaly">Picco Caffitaly kapselmaskin</a></td>
                                    <td>1 295kr</td>
                                    <td>0 kr</td>
                                </tr>
                                <tr>
                                    <td><a href="#kontroll">Fuktmätning i krypgrund</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>
                                <tr>
                                    <td><a href="#kontroll">Fuktmätning på vind</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>
                                <tr>
                                    <td><a href="#kontroll">Kontroll av ventilationssystem</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>TOTALT</td>
                                    <td>20 345 kr</td>
                                    <td>14 990 kr</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="inner-container">
                                <div class="grid12-8 no-gutter">Investeringen förväntas vara <b>återbetald inom 12-24 månader</b>, - beroende på värmebehov och elpris-marknaden.</div>
                                <div class="grid12-4 no-gutter">
                                    <div class="save">
                                        <span>Du sparar:</span>
                                        <span>5 355kr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-right grid12-6 no-right-gutter">
                            <div class="product-info">
                                <div class="image-container">
                                    <img class="info-icon" src="/skin/frontend/ultimo/polarpumpen/images/fortum/info-icon.png" />
                                    <img src="/skin/frontend/ultimo/polarpumpen/images/fortum/sample-product.png" />
                                    <div class="inactive hidden">
                                        <div class="soft">
                                            <p><b>Välj detta paket om</b> du har ett mindre hus, om upp till cirka 150m², som du vill värma och se över. Fujitsu 12 LM Slim, ger värme ner till -30°C utomhus och har dessutom funktion för underhållsvärme, vilken kan komma till bra användning i, till exempel, ett garage eller ett fritidshus som står obebott under längre perioder.</p>

                                            <p>Fuktmätningar och kontroller utförs i samma fastighet som värmepumpen installeras.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner-container price-section">
                                    <div class="grid12-3 no-left-gutter">
                                        <div class="product-type-data">
                                            <div class="price-box">
                                                <p class="special-price">
                                                    <span class="price">14900:-</span>
                                                    <span class="old-price">(17400:-)</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid12-9 no-gutter">
                                        <a class="pdf" href="http://www.fgnordic.se/media/80240/asyg09-14lm_140925.pdf" target="_blank">Produktblad för värmepumpen</a>
                                        <p>Klicka på länkarna till vänster under "Allt detta ingår" för att läsa mer om de olika delarna som inkluderas i paketet!</p>
                                    </div>
                                </div>
                                <div class="inner-container action-section">
                                    <div class="left grid12-4 no-left-gutter">
                                        <?php echo $this->getChildHtml('product_tab1'); ?>
                                    </div>
                                    <div class="right grid12-8 no-gutter">
                                        <div style="height:60px"
                                             class="klarna-widget klarna-part-payment"
                                             data-eid="5315"
                                             data-locale="sv_se"
                                             data-price="14900"
                                             data-layout="pale-v2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--TAB 3-->
                <span class="tab-title acctab" id="acctab-tab3">Paket Fritidshuset</span>
                <div id="panel-tab3" class="panel tab3">
                    <div class="inner-container">
                        <div class="section-left grid12-6 no-left-gutter">
                            <div class="top">
                                <span class="large-orange-text">Allt detta ingår</span> <span class="small-grey-text">- Paket Fritidshuset</span>
                            </div>
                            <span class="tagline">
                                    5 års totalgaranti för värmepump och installation
                                </span>
                            <table class="data-table">
                                <tbody><tr>
                                    <td>
                                        <a target="_blank" href="/luft-luft-varmepump/varumarken/fujitsu-arctic/fujitsu-09-lm-slim">Fujitsu 09 LM Slim</a></td>
                                    <td>10 900 kr</td>
                                    <td>10 200 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/installation/std-installation-efter-rot">Standard-installation inkl. ROT-avdrag</a>
                                    </td>
                                    <td>3 000 kr</td>
                                    <td>3 000 kr</td>
                                </tr>

                                <tr> <td>Hemleverans</td>
                                    <td>790 kr</td>
                                    <td>790 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/luft-luft-varmepump/tillbehor/monteringstillbehor/varmepumpstak">Värmepumpstak</a>
                                    </td>
                                    <td>990 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/luft-luft-varmepump/tillbehor/sms-styrning/airpatrol">AirPatrol fjärrstyrning</a>
                                    </td>
                                    <td>2 995 kr</td>
                                    <td>2 500 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/fortum/picco-caffitaly">Picco Caffitaly kapselmaskin</a>
                                    </td>
                                    <td>1 295 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr> <td>
                                        <a href="#kontroll">Fuktmätning i krypgrund</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr> <td>
                                        <a href="#kontroll">Fuktmätning på vind</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="#kontroll">Kontroll av ventilationssystem</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>TOTALT</td>
                                    <td>22 610 kr</td>
                                    <td>16 490 kr</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="inner-container">
                                <div class="grid12-8 no-gutter">Investeringen förväntas vara <b>återbetald inom 12-24 månader</b>, - beroende på värmebehov och elpris-marknaden.</div>
                                <div class="grid12-4 no-gutter">
                                    <div class="save">
                                        <span>Du sparar:</span>
                                        <span>5 850kr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-right grid12-6 no-right-gutter">
                            <div class="product-info">
                                <div class="image-container">
                                    <img class="info-icon" src="/skin/frontend/ultimo/polarpumpen/images/fortum/info-icon.png" />
                                    <img src="/skin/frontend/ultimo/polarpumpen/images/fortum/sample-product-2.png" />
                                    <div class="inactive hidden">
                                        <div class="soft">
                                            <p><b>Välj detta paket om</b> du har ett mindre hus, om upp till cirka 150m², som du vill värma och se över. Fujitsu 12 LM Slim, ger värme ner till -30°C utomhus och har dessutom funktion för underhållsvärme, vilken kan komma till bra användning i, till exempel, ett garage eller ett fritidshus som står obebott under längre perioder.</p>

                                            <p>Fuktmätningar och kontroller utförs i samma fastighet som värmepumpen installeras.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner-container price-section">
                                    <div class="grid12-3 no-left-gutter">
                                        <div class="product-type-data">
                                            <div class="price-box">
                                                <p class="special-price">
                                                    <span class="price">16490:-</span>
                                                    <span class="old-price">(22140:-)</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid12-9 no-gutter">
                                        <a class="pdf" href="http://www.fgnordic.se/media/80240/asyg09-14lm_140925.pdf" target="_blank">Produktblad för värmepumpen</a>
                                        <p>Klicka på länkarna till vänster under "Allt detta ingår" för att läsa mer om de olika delarna som inkluderas i paketet!</p>
                                    </div>
                                </div>
                                <div class="inner-container action-section">
                                    <div class="left grid12-4 no-left-gutter">
                                        <?php echo $this->getChildHtml('product_tab2'); ?>
                                    </div>
                                    <div class="right grid12-8 no-gutter">
                                        <div style="height:60px"
                                             class="klarna-widget klarna-part-payment"
                                             data-eid="5315"
                                             data-locale="sv_se"
                                             data-price="16490"
                                             data-layout="pale-v2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--TAB 4-->
                <span class="tab-title acctab" id="acctab-tab4">Paket Standardhuset</span>
                <div id="panel-tab4" class="panel tab4">
                    <div class="inner-container">
                        <div class="section-left grid12-6 no-left-gutter">
                                <div class="top">
                                    <span class="large-orange-text">Allt detta ingår</span> <span class="small-grey-text">- Paket Standardhuset</span>
                                </div>
                            <span class="tagline">
                                    5 års totalgaranti för värmepump och installation
                                </span>
                                <table class="data-table">
                                    <tbody><tr>
                                        <td>
                                            <a target="_blank" href="/luft-luft-varmepump/varumarken/fujitsu-arctic/fujitsu-12ltcn-design-">Fujitsu 12 LTCN</a>
                                        </td>
                                        <td>13 900 kr</td>
                                        <td>13 200 kr</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a target="_blank" href="/installation/std-installation-efter-rot">Standard-installation inkl. ROT-avdrag</a>
                                        </td>
                                        <td>3 000 kr</td>
                                        <td>3 000 kr</td>
                                    </tr>

                                    <tr> <td>Hemleverans</td>
                                        <td>790 kr</td>
                                        <td>790 kr</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a target="_blank" href="/luft-luft-varmepump/tillbehor/monteringstillbehor/varmepumpstak">Värmepumpstak</a>
                                        </td>
                                        <td>990 kr</td>
                                        <td>0 kr</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a target="_blank" href="/fortum/picco-caffitaly">Picco Caffitaly kapselmaskin</a>
                                        </td>
                                        <td>1 295 kr</td>
                                        <td>0 kr</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <a href="#kontroll">Fuktmätning i krypgrund</a></td>
                                        <td> 790 kr</td>
                                        <td>0 kr</td>
                                    </tr>

                                    <tr> <td>
                                            <a href="#kontroll">Fuktmätning på vind</a></td>
                                        <td>790 kr</td>
                                        <td>0 kr</td>
                                    </tr>

                                    <tr> <td>
                                            <a href="#kontroll">Kontroll av ventilationssystem</a></td>
                                        <td>790 kr</td>
                                        <td>0 kr</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>TOTALT</td>
                                        <td>22 345 kr</td>
                                        <td>16 990 kr</td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="inner-container">
                                    <div class="grid12-8 no-gutter">Investeringen förväntas vara <b>återbetald inom 12-24 månader</b>, - beroende på värmebehov och elpris-marknaden.</div>
                                    <div class="grid12-4 no-gutter">
                                        <div class="save">
                                            <span>Du sparar:</span>
                                            <span>5 355kr</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="section-right grid12-6 no-right-gutter">
                            <div class="product-info">
                                <div class="image-container">
                                    <img class="not-full bast-test" src="/skin/frontend/ultimo/polarpumpen/images/fortum/bast-test.png"/>
                                    <img class="info-icon" src="/skin/frontend/ultimo/polarpumpen/images/fortum/info-icon.png" />
                                    <img src="/skin/frontend/ultimo/polarpumpen/images/fortum/sample-product-4.png" />
                                    <div class="inactive hidden">
                                        <div class="soft">
                                            <p><b>Välj detta paket om</b> du har ett mindre hus, om upp till cirka 150m², som du vill värma och se över. Fujitsu 12 LM Slim, ger värme ner till -30°C utomhus och har dessutom funktion för underhållsvärme, vilken kan komma till bra användning i, till exempel, ett garage eller ett fritidshus som står obebott under längre perioder.</p>

                                            <p>Fuktmätningar och kontroller utförs i samma fastighet som värmepumpen installeras.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner-container price-section">
                                    <div class="grid12-3 no-left-gutter">
                                        <div class="product-type-data">
                                            <div class="price-box">
                                                <p class="special-price">
                                                    <span class="price">16990:-</span>
                                                    <span class="old-price">(22145:-)</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid12-9 no-gutter">
                                        <a class="pdf" href="http://www.fgnordic.se/media/80240/asyg09-14lm_140925.pdf" target="_blank">Produktblad för värmepumpen</a>
                                        <p>Klicka på länkarna till vänster under "Allt detta ingår" för att läsa mer om de olika delarna som inkluderas i paketet!</p>
                                    </div>
                                </div>
                                <div class="inner-container action-section">
                                    <div class="left grid12-4 no-left-gutter">
                                        <?php echo $this->getChildHtml('product_tab3'); ?>
                                    </div>
                                    <div class="right grid12-8 no-gutter">
                                        <div style="height:60px"
                                             class="klarna-widget klarna-part-payment"
                                             data-eid="5315"
                                             data-locale="sv_se"
                                             data-price="16990"
                                             data-layout="pale-v2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--TAB 5-->
                <span class="tab-title acctab" id="acctab-tab5">Paket Villan</span>
                <div id="panel-tab5" class="panel tab5">
                    <div class="inner-container">
                        <div class="section-left grid12-6 no-left-gutter">
                            <div class="top">
                                <span class="large-orange-text">Allt detta ingår</span> <span class="small-grey-text">- Paket Villan</span>
                            </div>
                            <span class="tagline">
                                    5 års totalgaranti för värmepump och installation
                                </span>
                            <table class="data-table">
                                <tbody>
                                <tr>
                                    <td>
                                        <a target="_blank" href="/luft-luft-varmepump/varumarken/fujitsu-arctic/fujitsu-18-lf">Fujitsu 18 LF</a></td>
                                    <td>19 900 kr</td>
                                    <td>19 200 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/installation/std-installation-efter-rot">Standard-installation inkl. ROT-avdrag</a>
                                    </td>
                                    <td>3 000 kr</td>
                                    <td>3 000 kr</td>
                                </tr>

                                <tr> <td>Hemleverans</td>
                                    <td>790 kr</td>
                                    <td>790 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/luft-luft-varmepump/tillbehor/monteringstillbehor/varmepumpstak">Värmepumpstak</a>
                                    </td>
                                    <td>990 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a target="_blank" href="/fortum/picco-caffitaly">Picco Caffitaly kapselmaskin</a>
                                    </td>
                                    <td>1 295kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr> <td>
                                        <a href="#kontroll">Fuktmätning i krypgrund</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr> <td>
                                        <a href="#kontroll">Fuktmätning på vind</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="#kontroll">Kontroll av ventilationssystem</a></td>
                                    <td>790 kr</td>
                                    <td>0 kr</td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>TOTALT</td>
                                    <td>28 345 kr</td>
                                    <td>22 990 kr</td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="inner-container">
                                <div class="grid12-8 no-gutter">Investeringen förväntas vara <b>återbetald inom 12-24 månader</b>, - beroende på värmebehov och elpris-marknaden.</div>
                                <div class="grid12-4 no-gutter">
                                    <div class="save">
                                        <span>Du sparar:</span>
                                        <span>5 355kr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-right grid12-6 no-right-gutter">
                            <div class="product-info">
                                <div class="image-container">
                                    <img class="info-icon" src="/skin/frontend/ultimo/polarpumpen/images/fortum/info-icon.png" />
                                    <img src="/skin/frontend/ultimo/polarpumpen/images/fortum/sample-product-3.png" />
                                    <div class="inactive hidden">
                                        <div class="soft">
                                            <p><b>Välj detta paket om</b> du har ett mindre hus, om upp till cirka 150m², som du vill värma och se över. Fujitsu 12 LM Slim, ger värme ner till -30°C utomhus och har dessutom funktion för underhållsvärme, vilken kan komma till bra användning i, till exempel, ett garage eller ett fritidshus som står obebott under längre perioder.</p>

                                            <p>Fuktmätningar och kontroller utförs i samma fastighet som värmepumpen installeras.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner-container price-section">
                                    <div class="grid12-3 no-left-gutter">
                                        <div class="product-type-data">
                                            <div class="price-box">
                                                <p class="special-price">
                                                    <span class="price">22990:-</span>
                                                    <span class="old-price">(28345:-)</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid12-9 no-gutter">
                                        <a class="pdf" href="http://www.fgnordic.se/media/80240/asyg09-14lm_140925.pdf" target="_blank">Produktblad för värmepumpen</a>
                                        <p>Klicka på länkarna till vänster under "Allt detta ingår" för att läsa mer om de olika delarna som inkluderas i paketet!</p>
                                    </div>
                                </div>
                                <div class="inner-container action-section">
                                    <div class="left grid12-4 no-left-gutter">
                                        <?php echo $this->getChildHtml('product_tab4'); ?>
                                    </div>
                                    <div class="right grid12-8 no-gutter">
                                        <div style="height:60px"
                                             class="klarna-widget klarna-part-payment"
                                             data-eid="5315"
                                             data-locale="sv_se"
                                             data-price="22990"
                                             data-layout="pale-v2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="tab-nav bottom tabs clearer">
            <li class="click-tab-item tab-item"
                id="tab-tab2">
                <a href="#" class="anchor">
                    <span class="image-container house-57"></span>
                            <span class="title-container">
                                PAKET: 5,7 kW<br>
                                Värmer 10-150m<sup>2</sup> <br>
                                <span class="price">14990:-</span>
                                <span class="old-price">20145</span>
                            </span>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="click-tab-item tab-item"
                id="tab-tab3">
                <a href="#" class="anchor">
                    <span class="image-container house-52"></span>
                            <span class="title-container">
                                PAKET: 5,2 kW<br>
                                Värmer 10-125m<sup>2</sup> <br>
                                <span class="price">16490:-</span>
                                <span class="old-price">22140</span>
                            </span>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="click-tab-item tab-item"
                id="tab-tab4">
                <a href="#" class="anchor">
                    <span class="image-container house-65"></span>
                            <span class="title-container">
                                PAKET: 6,5 kW<br>
                                Värmer 10-155m<sup>2</sup> <br>
                                <span class="price">16990:-</span>
                                <span class="old-price">22145</span>
                            </span>
                    <div class="clear"></div>
                </a>
            </li>
            <li class="click-tab-item tab-item"
                id="tab-tab5">
                <a href="#" class="anchor">
                    <span class="image-container house-91"></span>
                            <span class="title-container">
                                PAKET: 9,1 kW<br>
                                Värmer 10-230m<sup>2</sup> <br>
                                <span class="price">22990:-</span>
                                <span class="old-price">28345</span>
                            </span>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>
    </div>
</div>