<?php
    /** @var NetConsult_Polarpumpen_Block_Tabs $block */
    $block = $this;

    /** @var Infortis_Ultimo_Helper_Data $theme */
    $theme = $this->helper('ultimo');
?>
<div class="box-collateral collateral-container box-tabs">
    <div id="section-tabs" class="gen-tabs gen-tabs--style1 polarpumpen-tabs horizontal">
        <ul class="tabs clearer">
            <?php foreach ($block->getTabs() as $tabIndex => $tab): ?>
                <li class="tab-item" id="tab-<?php echo $tab['alias']; ?>">
                    <a href="#" <?php if (!$tabIndex) { echo 'class="current"'; }?>><?php echo $tab['title']; ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
        <div class="tab-parent container-shadow">
            <div class="tabs-panels">
                <?php foreach ($block->getTabs() as $tabIndex => $tab): ?>
                    <span class="tab-title acctab" id="acctab-<?php echo $tab['alias']; ?>"><?php echo $tab['title']; ?></span>
                    <div class="panel <?php echo $tab['alias']; ?>">
                        <div class="inner-container">
                            <?php echo $block->getChildHtml($tab['alias']); ?>
                            <div class="clear"></div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	//<![CDATA[
	jQuery(function($) {

		//Link to the reviews tab
		var tabOperator = {

			root : ''
			, $rootContainer : null
			, $tabsContainer : null
			, $panelsContainer : null

			//1 - tabs/accordion, 2 - accordion, 3 - tabs
			, mode : <?php echo intval($theme->getCfg('product_page/tabs_mode')); ?>
			, threshold : <?php echo intval($theme->getCfg('product_page/tabs_threshold')); ?>
			, initialAccIndex : 0
			, tabEffect : 'default'
			, accEffect : 'default'

			, init : function(root)
			{
				//If no param, set default selector
				tabOperator.root = root || '.gen-tabs';
				tabOperator.$rootContainer      = $(tabOperator.root);
				tabOperator.$tabsContainer      = tabOperator.$rootContainer.children('.tabs');
				tabOperator.$panelsContainer    = tabOperator.$rootContainer.children('.tabs-panels');

				//Activate tabs based on selected mode
				<?php if ($theme->getCfg('product_page/tabs_collapsed')): ?>
					tabOperator.initialAccIndex = null;
				<?php endif; ?>

				if (tabOperator.mode === 1)
				{
					//Initial value of the flag which indicates whether viewport was above the threshold
					var previousAboveThreshold = $(window).width() >= tabOperator.threshold;

					//Activate tabs or accordion
					if (previousAboveThreshold)
					{
						//If above threshold - activate tabs
						tabOperator.initTabs();
					}
					else
					{
						//If below threshold - activate accordion
						tabOperator.initAccordion(tabOperator.initialAccIndex);
					}

					//On window resize
					$(window).on('themeResize', function (e, resizeEvent) {

						if ($(window).width() < tabOperator.threshold)
						{
							if (previousAboveThreshold)
							{
								//Now below threshold, previously above, so switch to accordion
								var api = tabOperator.$tabsContainer.data("tabs");
								var index = api.getIndex();
								api.destroy();

								tabOperator.initAccordion(index);
							}
							previousAboveThreshold = false;
						}
						else
						{
							if (!previousAboveThreshold)
							{
								//Now above threshold, previously below, so switch to tabs
								var api = tabOperator.$panelsContainer.data("tabs");
								var index = api.getIndex();
								api.destroy();
								tabOperator.$rootContainer.removeClass("accor");

								tabOperator.initTabs(index);
							}
							previousAboveThreshold = true;
						}

					});
				}
				else if (tabOperator.mode === 2)
				{
					tabOperator.initAccordion(tabOperator.initialAccIndex);

					//On tab click
					tabOperator.hookToAccordionOnClick();
				}
				else
				{
					tabOperator.initTabs();
				}

			} //end: init

			, initTabs : function(index)
			{
				//If no param, set it to 0
				if (typeof index === "undefined")
				{ 
					index = 0;
				}
				tabOperator.$tabsContainer.tabs(".tabs-panels .panel", {effect: tabOperator.tabEffect, initialIndex: index});
			}

			, openTab : function(clickID)
			{
				if (tabOperator.$rootContainer.hasClass("accor"))
				{
					var $panels = tabOperator.$panelsContainer;
					var indexOfTab = $panels.children(".acctab").index($("#acctab-"+clickID));
					$panels.data("tabs").click(indexOfTab);
				}
				else
				{
					var $tabs = tabOperator.$tabsContainer;
					var indexOfTab = $tabs.children("#tab-"+clickID).index();
					$tabs.data("tabs").click(indexOfTab);
				}
			}

			, slideTo : function(target, offset)
			{
				//Slide to tab (minus height of sticky menu)
				var itemOffsetTop = $(target).offset().top - offset;
				$("html, body").animate({scrollTop: itemOffsetTop}, 600, 'easeOutCubic');
			}

		};

		//Initialize tabs
		tabOperator.init('#section-tabs');

		$(".column-table button").click(function() {
			
			var clickID = $(this).attr('id');
			tabOperator.openTab(clickID);
			tabOperator.slideTo('#section-tabs', 50);

		}); //end: on click
	});
	//]]>
</script>