<?php
    /* @var $this NetConsult_Polarpumpen_Block_Tabs_Vertical */
?>

<div class="box-collateral collateral-container box-tabs inner-container">
    <div class="gen-tabs polarpumpen-tabs vertical">
        <div class="tabs grid12-2 no-right-gutter">
            <?php foreach ($this->getTabs() as $tabIndex => $tab): ?>
                <div class="tab-item clearer" id="tab-<?php echo $tabIndex; ?>">
                    <a href="#" <?php if (!$tabIndex) { echo 'class="current"'; }?>><?php echo $tab['title']; ?></a>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="tab-parent container-shadow grid12-10 no-left-gutter">
            <div class="tabs-panels">
                <?php foreach ($this->getTabs() as $tabIndex => $tab): ?>
                    <span class="tab-title acctab" id="acctab-<?php echo $tabIndex; ?>"><?php echo $tab['title']; ?></span>
                    <div class="panel <?php echo $tab['alias']; ?>">
                        <div class="inner-container">
                            <div class="inner-grid">
                                <?php echo $this->getChildHtml($tab['alias']); ?>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>