<div class="owl-wrapper-parent">
    <div id="brands-bar" class="owl-wrapper-main clearer">
        <div class="item">
            <a class="logo supplier fujitsu"title="Fujitsu Luft-luft" alt="Fujitsu Luft-luft" href="/luft-luft-varmepump/varumarken/fujitsu-arctic">
                <img src="{{skin url="images/logo/logo-fujitsu.png"}}"/>
            </a>
        </div>
        <div class="item">
            <a class="logo supplier panasonic" title="Panasonic Luft-luft" alt="Panasonic Luft-luft" href="/luft-luft-varmepump/varumarken/panasonic">
                <img src="{{skin url="images/logo/logo-panasonic.png"}}"/>
            </a>
        </div>
        <div class="item">
            <a class="logo supplier mitsubishi"title="Mitsubishi Electric Luft-luft" alt="Panasonic Luft-luft" href="/luft-luft-varmepump/varumarken/mitsubishi-electric">
                <img src="{{skin url="images/logo/logo-mitsu-electric.png"}}"/>
            </a>
        </div>
        <div class="item">
            <a class="logo supplier toshiba"title="Toshiba Luft-luft" alt="Toshiba Luft-luft" href="/luft-luft-varmepump/varumarken/toshiba">
                <img src="{{skin url="images/logo/logo-toshiba.png"}}"/>
            </a>
        </div>
        <div class="item">
            <a class="logo supplier lg" title="LG Luft-luft" alt="LG Luft-luft" href="/luft-luft-varmepump/varumarken/lg">
                <img src="{{skin url="images/logo/logo-lg.png"}}"/>
            </a>
        </div>
        <div class="item">
            <a class="logo supplier daikin" title="Daikin Luft-luft" alt="Daikin Luft-luft" href="/luft-luft-varmepump/varumarken/daikin">
                <img src="{{skin url="images/logo/logo-daikin.png"}}"/>
            </a>
        </div>
    </div>
    <div class="custom-owl-controls">
        <span class="fa-wrapper fa-wrapper-left">
            <i class="previous fa fa-arrow-left clickable"></i>
        </span>
        <span class="fa-wrapper fa-wrapper-right">
            <i class="next fa fa-arrow-right clickable"></i>
        </span>
    </div>
</div>

