/* SEARCH BOX */
.ais-search-box--powered-by {
  font-size: .8em;
  text-align: right;
  margin-top: 2px;
}

input::-ms-clear {
  display: none;
}

/* PAGINATION */
#instant-search-pagination-container {
  width: 100%;
  text-align: center;
}
.ais-pagination {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 20px auto;
}
.ais-pagination li {
  display: inline-block;
}
.ais-pagination--item a {
  padding: 5px 10px;
  margin: 0 5px;
  line-height: 25px;
  background-color: #e3e3e3;
  color: #727272;
}

.ais-pagination li.ais-pagination--item__disabled {
  display: none;
}

.ais-pagination--item__active a {
  font-weight: bolder;
  color: #606060;
  text-decoration: underline;
}

.ais-pagination--item.ais-pagination--item__next a,
.ais-pagination--item.ais-pagination--item__previous a {
  font-weight: bold;
  color: #606060;
}

/* REFINEMENT LIST */

.ais-menu--link,
.ais-hierarchical-menu--link,
.ais-price-ranges--link,
.ais-refinement-list--label {
  padding: 4px 10px;
  cursor: pointer;
  color: #636363;
  text-decoration: none;
  display: block;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.ais-hierarchical-menu--item__active > div > .ais-hierearchical-link-wrapper > .ais-hierarchical-menu--link,
.ais-refinement-list--item__active > div > .ais-hierarchical-list--link,
.ais-refinement-list--item__active > div > .ais-refinement-list--label,
.ais-price-ranges--item__active > .ais-price-ranges--link{
  font-weight: bold;
  box-shadow: inset 3px 0 0 #3399cc;
}

.ais-hierearchical-link-wrapper, .ais-refinement-list--item {
  padding: 7px 0px;
}

.ais-refinement-list--label, .ais-hierarchical-menu--link {
  line-height: 1.0em;
  padding: 0px 10px;
}

.ais-refinement-list--label img {
  display: inline;
}

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper .cross-circle,
.ais-refinement-list--item__active .cross-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  /*background:  url("data:image/svg+xml;utf8,<svg width=\'34\' height=\'34\' viewBox=\'0 0 34 34\' xmlns=\'http://www.w3.org/2000/svg\'><title>testvg</title><g fill=\'%23000\' fill-rule=\'evenodd\'><path d=\'M17.163 0C7.95 0 .41 7.578.353 16.893c-.03 4.542 1.693 8.82 4.847 12.053 3.156 3.23 7.367 5.026 11.857 5.054h.11c9.21 0 16.75-7.578 16.81-16.893C34.035 7.735 26.54.06 17.163 0zm.015 30.842v1.08l-.09-1.08c-3.656-.023-7.085-1.485-9.654-4.115-2.57-2.63-3.97-6.116-3.948-9.814C3.533 9.33 9.673 3.158 17.262 3.158c7.548.048 13.65 6.297 13.605 13.93-.05 7.585-6.19 13.754-13.69 13.754z\'/><path d=\'M22.362 10.23l-5.186 5.245-5.186-5.244c-.417-.42-1.092-.42-1.51 0-.416.422-.416 1.105 0 1.526L15.668 17l-5.186 5.244c-.416.42-.416 1.104 0 1.525.21.21.483.316.755.316.273 0 .546-.106.755-.317l5.186-5.245 5.186 5.244c.208.21.482.316.754.316.273 0 .546-.106.755-.317.417-.422.417-1.105 0-1.526L18.685 17l5.187-5.244c.417-.42.417-1.104 0-1.525-.416-.42-1.09-.42-1.508 0z\'/></g></svg>")no-repeat center center / contain;*/
  opacity: 0;
}

.ais-hierarchical-menu--item__active .ais-hierearchical-link-wrapper:hover .cross-circle,
.ais-refinement-list--item__active:hover .cross-circle {
  text-decoration: underline;
  vertical-align: bottom;
  margin-left: 6px;
  opacity: 1;
}

.ais-refinement-list--item:hover {
  text-decoration: underline;
}

.ais-price-ranges--input
{
  width: 70px !important;
}

.ais-price-ranges--label
{
  margin: 5px;
}

.ais-refinement-list--checkbox
{
  margin-right: 10px;
}

.current-refinements
{
  position: relative;
}

.ais-current-refined-values--link
{
  cursor: pointer;
  color: #636363;
  border-radius: 2px;
  border: solid 1px #DDDDDD;
  background-color: #e3e3e3;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  padding: 0 8px 0 0;
  height: 28px;
  overflow: hidden;
}

.ais-current-refined-values--clear-all
{
  position: absolute;
  right: 6px;
  top: 3px;
  color: #666666;
  font-weight: 500;
}

a.ais-current-refined-values--link:hover
{
  text-decoration: none;
}

.ais-current-refined-values--item {
  margin-top: 8px;
}

.ais-current-refined-values--item:after {
  clear: both;
  content: "";
  display: block;
}

.ais-current-refined-values--item .current-refinement-label {
  font-weight: bold;
}

.ais-current-refined-values--item .cross-wrapper {
  font-weight: bold;
  background-color: #DDDDDD;
  border-radius: 1px 0 0 1px;
  float: left;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
}

.ais-current-refined-values--link:hover .cross-wrapper {
  text-decoration: none;
}

.ais-current-refined-values--link .cross-wrapper img {
  display: inline;
  margin-top: 6px;
}


.ais-current-refined-values--item .current-refinement-wrapper {
  float: left;
  width: calc(100% - 26px);
  height: 26px;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
}

.ais-current-refined-values--link:hover .current-refinement-wrapper {
  text-decoration: line-through;
}

.ais-menu--link:hover,
.ais-price-ranges--link:hover,
.ais-hierarchical-menu--link:hover {
  color: #636363;
}
.ais-menu--count, .ais-hierarchical-menu--count, .ais-refinement-list--count {
  float: right;
  color: #666;
}

/* RANGE SLIDER */

.ais-range-slider--target {
  position: relative;
  direction: ltr;
  background: #F3F4F7;
  height: 6px;
  margin-top: 3em;
  margin-bottom: 4em;
  width: 88%;
  margin-left: 6%;
}

.ais-range-slider--base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-left: 2px solid #DDD;
  border-right: 2px solid #DDD;
}

.ais-range-slider--origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.ais-range-slider--connect {
  background: #b5b6b9;
}

.ais-range-slider--background {
  background: #F3F4F7;
}

.ais-range-slider--handle {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  cursor: pointer;
}

.ais-range-slider--handle-lower {
  left: -10px;
  bottom: 7px;
}

.ais-range-slider--handle-upper {
  right: 10px;
  bottom: 7px;
}

.ais-range-slider--tooltip {
  position: absolute;
  background: #FFFFFF;
  top: -2em;
  min-width: 20px;
  text-align: center;
  font-size: .8em;
}

.ais-range-slider--pips {
  box-sizing: border-box;
  position: absolute;
  height: 3em;
  top: 100%;
  left: 0;
  width: 100%;
}

.ais-range-slider--value {
  width: 40px;
  position: absolute;
  text-align: center;
  margin-left: -20px;
  padding-top: 15px;
  font-size: .8em;
}

.ais-range-slider--value-sub {
  font-size: .8em;
  padding-top: 15px;
}

.ais-range-slider--marker {
  position: absolute;
  margin-left: -1px;
  width: 1px;
  height: 5px;
}

.ais-range-slider--marker-large {
  background: #DDD;
  width: 2px;
  margin-left: -2px;
  height: 12px;
}

.ais-range-slider--marker-large:first-child {
  margin-left: 0;
}
/******************
**
** Auto-completion menu
**
******************/

/*#algolia-autocomplete-container {*/
  /*height: 200px;*/
  /*background: #f00;*/
  /*display: block !important;*/
  /*padding: 10px;*/
/*}*/

/*#algolia-autocomplete-container .aa-dropdown-menu {*/
  /*display: block !important;*/
  /*background: #0f0;*/
/*}*/

#algolia-autocomplete-container .aa-dropdown-menu .before_special {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 12px;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .category-tag {
    color: #3284b6;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details {
  font-size: 10px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#algolia-autocomplete-container .aa-dropdown-menu .info-without-thumb .details em {
  color: #222222;
}

#algolia-autocomplete-tt.algolia-autocomplete {
  width: 100%;
  display: inline-block !important;
}

#algolia-autocomplete-container .aa-dropdown-menu {
  position: absolute;
  margin-top: -1px;
  right: 0px;
  width: 100%;
  z-index: 10001 !important;
  border: 1px solid #BBB;
  border-top: 3px solid #1b57a6;
  border-radius: 1px;
  background: white;
  -webkit-box-shadow: 0 5px 3px -2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 3px -2px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 3px -2px rgba(0, 0, 0, .2);
}

@media (min-width: 960px) {
  #algolia-autocomplete-container {
    margin-right: 240px;
  }
}

@media (max-width: 959px) {
  #algolia-autocomplete-container .aa-dropdown-menu {
    margin-right: 5px;
    width: auto !important;
  }
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 {
  position: relative;
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-left {
  width: 67%;
}

#algolia-autocomplete-container .aa-dropdown-menu .col-2 .col-right {
  width: 33%;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products {
  padding: 40px 40px;
  min-height: 250px;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 16px;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .suggestions {
  margin-bottom: 30px;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results-products .see-all a {
  color: #636363;
  font-weight: bold;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-no-results {
  padding: 10px;
  font-style: italic;
}

#algolia-autocomplete-container .aa-dropdown-menu .category {
  padding: 4px;
  color: rgb(166, 166, 166);
  text-align: left;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

#algolia-autocomplete-container .aa-dropdown-menu .category-suggestions {
  padding: 4px;
  color: #17479d;
  text-align: left;
  font-size: 0.7em;
  text-transform: uppercase;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit {
  display: block;
  position: relative;
  padding: 5px 10px;
  color: #000;
  text-align: left;
  text-decoration: none;
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-dataset-suggestions .algoliasearch-autocomplete-hit {
  padding-left: 30px;
}

#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products .col9 {
  background-color: #F9F9F9;
}

#algolia-autocomplete-container .aa-dropdown-menu.aa-without-products #autocomplete-products-footer {
  display: none;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion {
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  #algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .aa-suggestion {
    display: inline-block;
    width: 50%;
  }
}


#algolia-autocomplete-container .aa-dropdown-menu .aa-dataset-products .algoliasearch-autocomplete-hit {
  padding: 15px 10px;
}

.autocomplete-wrapper {
  width: 100%;
}

.autocomplete-wrapper:after {
  clear: both;
  content: '';
}

.col9 {
  float: right;
  width: 100%;
}

.col3 {
  float: right;
  width: 100%;
}

#algolia-autocomplete-container.reverse .col3 {
  float: left;
  width: 100%;
}

#algolia-autocomplete-container.reverse .col9 {
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .col9 {
    border-left: solid 1px #eeeeee;
    float: right;
    width: 70%;
  }

  .col3 {
    float: right;
    width: 30%;
  }

  #algolia-autocomplete-container.reverse .col3 {
    float: left;
    width: 30%;
  }

  #algolia-autocomplete-container.reverse .col9 {
    border-right: solid 1px #eeeeee;
    float: left;
    width: 70%;
  }
}

.other-sections {
  margin: 20px 10px;
  margin-bottom: 70px;
}


.aa-dataset-products .aa-suggestions {
  margin: 10px auto 10px auto;
}

.aa-dataset-suggestions {
  display: none;
}

@media (min-width: 768px) {
  .aa-dataset-suggestions {
    display: block;
  }
}


@media (min-width: 768px) {
  .aa-dataset-products .aa-suggestions {
    margin: 10px auto 50px auto;
  }
}


.aa-dataset-products .aa-suggestions:after {
  content:'';
  display:block;
  clear: both;
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .algoliasearch-autocomplete-hit {
  padding-left: 10px;
}

#algolia-autocomplete-container .aa-dropdown-menu .other-sections .aa-suggestions {
  margin-bottom: 20px;
}

#algolia-autocomplete-container .aa-dropdown-menu .aa-cursor .algoliasearch-autocomplete-hit {
    background-color: #f2f2f2;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit em {
  font-weight: bold;
  font-style: normal;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-price {
  font-size: 1.3em;
  /*color: #17479d;*/
  height: 22px;
  font-weight: bold;
  font-family: "Economica", sans-serif;
  color: #FA6632;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb {
  float: left;
  width: 33%;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .thumb img {
  width: 100%;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info {
  margin-left: 33%;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#autocomplete-products-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  background-color: #F9F9F9;
  padding: 15px;
  text-align: center;
  display: none;
}

#algolia-autocomplete-container.reverse #autocomplete-products-footer {
  right: auto;
  left: 0;
}

@media (min-width: 768px) {
  #autocomplete-products-footer {
    display: block;
  }
}

#autocomplete-products-footer span {
  color: #15769c;
  font-weight: 600;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category {
  font-size: 0.8em;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

#algolia-autocomplete-container .aa-dropdown-menu .algoliasearch-autocomplete-hit .info .algoliasearch-autocomplete-category em {
  color: #222;
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia {
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;
  bottom: 4px;
  left: 4px;
  font-size: 13px;
}

#algolia-autocomplete-container.reverse .aa-dropdown-menu .footer_algolia {
  left: auto;
  right: 4px;
}

@media (min-width: 768px) {
  #algolia-autocomplete-container .aa-dropdown-menu .footer_algolia {
    width: 30%;
  }
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia span {
  color: #B8B8B8;
  font-size: 10px;
}

#algolia-autocomplete-container .aa-dropdown-menu .footer_algolia img {
  display: inline;
  height: 1.5em;
  vertical-align: bottom;
}

/**
 * Search Box
*/
#algolia-searchbox{
  /*margin: 20px 0;*/
  position: relative;
}

.clear-cross {
  position: absolute;
  display: none;
  /*background: url("data:image/svg+xml;utf8,<svg width=\'12\' height=\'12\' viewBox=\'0 0 12 12\' xmlns=\'http://www.w3.org/2000/svg\' opacity=\'0.6\'><path d=\'M.566 1.698L0 1.13 1.132 0l.565.566L6 4.868 10.302.566 10.868 0 12 1.132l-.566.565L7.132 6l4.302 4.3.566.568L10.868 12l-.565-.566L6 7.132l-4.3 4.302L1.13 12 0 10.868l.566-.565L4.868 6 .566 1.698z\'></path></svg>") no-repeat center center / contain;*/
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.clear-cross:after {
  content: "\e20f";

  display: inline-block;
  font-family: ThemeIcons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear-query-instant:after,
.clear-query-autocomplete:after {
  content: "\e22d";
}

#algolia-searchbox .clear-query-autocomplete {
  top: 11px;
  right: 44px;
  color: #666;
}

#algolia_instant_selector .clear-query-instant {
  right: 12px;
  top: 10px;
  color: #666;
  font-size: 15px;
}

.cross-wrapper .clear-refinement {
  display: block;
  position: relative;
  top: 1px;
  left: 5px;
 }

#algolia-searchbox .magnifying-glass {
  display: none;
  /*position: absolute;*/
  /*right: 10px;*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*display: block;*/
  /*top: 10px;*/
  /*background: url("data:image/svg+xml;utf8,<svg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\'  fill=\'%23A6A6A6\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M15.553 31.107c8.59 0 15.554-6.964 15.554-15.554S24.143 0 15.553 0 0 6.964 0 15.553c0 8.59 6.964 15.554 15.553 15.554zm0-3.888c6.443 0 11.666-5.225 11.666-11.668 0-6.442-5.225-11.665-11.668-11.665-6.442 0-11.665 5.223-11.665 11.665 0 6.443 5.223 11.666 11.665 11.666zm12.21 3.84a2.005 2.005 0 0 1 .002-2.833l.463-.463a2.008 2.008 0 0 1 2.833-.003l8.17 8.168c.78.78.78 2.05-.004 2.833l-.462.463a2.008 2.008 0 0 1-2.834.004l-8.168-8.17z\' fill-rule=\'evenodd\'/></svg>") no-repeat center right / 20px;*/

}

/*#algolia-searchbox .algolia-search-input {*/
  /*width: 300px;*/
  /*float: right;*/
/*}*/

/*#algolia-searchbox .algolia-search-input:focus:not([value=""]) {*/
  /*background: transparent;*/
/*}*/


/*#algolia-searchbox .algolia-search-input:focus {*/
  /*outline: 0;*/
  /*box-shadow: none;*/
  /*border: solid 1px #17479d;*/
/*}*/

/**
 * Instant Search
 */

#algolia_instant_selector {
  margin: 10px;
}

#algolia_instant_selector a,
#algolia_instant_selector a:hover,
#algolia_instant_selector a:focus {
  outline: 0;
}

#algolia_instant_selector:after {
  content: "";
  clear: both;
  display: block;
}

#algolia_instant_selector .category {
}

#algolia_instant_selector .title {
}

#algolia_instant_selector .title img {
  width: 200px;
}

#algolia_instant_selector .text-ellipsis
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#algolia_instant_selector #instant-search-bar {
  float: left;
  width: calc(100% - 140px);
  height: 40px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  border: solid 2px #17479d;
  border-left: none;
  padding-left: 8px;
  border-radius: 0;
}

#algolia_instant_selector.with-facets #algolia-right-container {
}

#algolia_instant_selector.with-facets #algolia-left-container {
  min-height: 1px;
}

#algolia_instant_selector .hits .infos {
  margin: 0 15px;
  padding: 6px 10px;
  color: #aaa;
  text-align: center;
  background: #e3e3e3;
  font-size: 12px;
  clear: both;
}
#algolia_instant_selector .hits .infos strong {
  color: #555;
}

#algolia_instant_selector .hits .sort-by-label {
  margin-right: 8px;
}

#algolia_instant_selector .hits .no-results {
  margin: 40px 25px;
  color: #636363;
  font-size: 16px;
}

#algolia_instant_selector a:hover {
  color: #666666;
}

#algolia_instant_selector .hits .no-results strong {
  color: #555;
}

#algolia_instant_selector .hits .no-results .clear-button {
  cursor: pointer;
}

#algolia_instant_selector .hits .no-results .popular-searches {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

/**
 * Facets
 */

#algolia_instant_selector .infos .algolia-logo {
  font-size: 10px;
}

#algolia_instant_selector .facets {
  padding-top: 50px;
}

@media (max-width: 992px) {
  #algolia_instant_selector .facets {
    padding-top: 10px;
  }
}

#algolia_instant_selector .ais-current-refined-values.facet .ais-current-refined-values--body {
  padding-left: 8px;
}

#algolia_instant_selector .facet {
  margin-bottom: 15px;
  padding-bottom: 6px;
  background-color: white;
  border: solid 1px #efefef;
}

#algolia_instant_selector .facet:not(:first-child) {
  margin-top: 10px;
}

#algolia_instant_selector .ais-header {
  margin-bottom: 7px;
}

#algolia_instant_selector .ais-header.ais-current-refined-values--header {
  margin-bottom: 13px;
}

#algolia_instant_selector .facet .name {
  padding: 4px 8px;
  font-weight: 500;
  background-color: #e3e3e3;
  color: #757575;
  text-align: left;
  text-transform: uppercase;
}

.ais-current-refined-values.facet {
  position: relative;
}

#algolia_instant_selector .as-range-slider--base
{
    margin-top: 45px;
}

#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list
{
  padding-left: 10px;
}

#algolia_instant_selector .hierarchical .ais-hierarchical-menu--list.ais-hierarchical-menu--list__lvl0
{
  padding-left: 0px;
}

#algolia_instant_selector .facet .sub_facet:not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}

#algolia_instant_selector .text-center {
  text-align: center;
}

#algolia_instant_selector em {
  background-color: #CFEAFA;
  font-style: normal;
}

#algolia_instant_selector h1 {
  margin: 0;
}

#algolia_instant_selector .result {
  display: block;
  margin: 15px 0;
  padding: 16px 24px;
  border: solid 1px #EDEDED;
  background-color: white;
}

#algolia_instant_selector .price-wrapper {
  height: 25px;
}

#algolia_instant_selector .result:hover {
  border-color: #b9b9b9;
  text-decoration: none;
}

#algolia_instant_selector .result .result-thumbnail {
  text-align: center;
  margin: 0 -10px;
}

#algolia_instant_selector .result .result-thumbnail img {
  display: inline;
  height: auto;
  width: 100%;
}

#algolia_instant_selector .result .result-thumbnail .no-image {
  display: block;
  height: 148px;
  background: #FAFAFA;
}

#algolia_instant_selector .result .ratings {
  float: left;
}

#algolia_instant_selector .result .ratings .rating-box {
  /*margin: 0 auto 10px;*/
  /*float: inherit;*/
}

#algolia_instant_selector h3
{
  margin-bottom: 0;
}

#algolia_instant_selector .result .price {
  /*text-align: center;*/
  /*font-size: 1.2em;*/
  /*color: #17479d;*/
}

#algolia_instant_selector .result .result-title {
  margin: 20px 0;
  /*font-size: 14px;*/
  /*text-align: center;*/
  /*color: #636363;*/
}

#algolia_instant_selector .ui-widget-header {
  background-color: #bcbcbc;
}


/** INSTANT SEARCH BAR **/

#algolia_instant_selector #instant-search-bar-container {
  padding-top: 0px;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}

#algolia_instant_selector #instant-search-bar-container:after {
  clear: both;
  content: "";
  display: block;
}

#algolia_instant_selector .as-search-box--input {
  width: 100%;
  height: 40px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

#algolia_instant_selector #instant-search-bar:focus {
    outline: 0;
    box-shadow: none;
}

#algolia_instant_selector #instant-search-box label {
  display: none;
}

#algolia_instant_selector .instant-search-bar-label {
  background-color: #17479d;
  height: 40px;
  line-height: 24px;
  padding: 8px 12px;
  color: white;
  float: left;
  width: 140px;
  text-align: right;
  position: relative;
}

#algolia_instant_selector #instant-search-box .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 8px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  /*background: url("data:image/svg+xml;utf8,<svg width=\'40\' height=\'40\' viewBox=\'0 0 40 40\'  xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M15.553 31.107c8.59 0 15.554-6.964 15.554-15.554S24.143 0 15.553 0 0 6.964 0 15.553c0 8.59 6.964 15.554 15.553 15.554zm0-3.888c6.443 0 11.666-5.225 11.666-11.668 0-6.442-5.225-11.665-11.668-11.665-6.442 0-11.665 5.223-11.665 11.665 0 6.443 5.223 11.666 11.665 11.666zm12.21 3.84a2.005 2.005 0 0 1 .002-2.833l.463-.463a2.008 2.008 0 0 1 2.833-.003l8.17 8.168c.78.78.78 2.05-.004 2.833l-.462.463a2.008 2.008 0 0 1-2.834.004l-8.168-8.17z\' fill=\'#fff\' fill-rule=\'evenodd\'/></svg>") no-repeat center center / contain;*/
}
#algolia_instant_selector #instant-search-box .clear-query-instant {
  top: 50%;
  transform: translateY(-50%);
}

#algolia_instant_selector .before_special {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 0.75em;
}

#algolia_instant_selector button:hover {
  background: #2E8AB8 none repeat scroll 0% 0%;
  cursor: pointer;
}

.ais-price-ranges--button {
  background: #39C none repeat scroll 0% 0%;
  padding: 5px 15px;
  margin-left: 10px;
  border: 0px none;
  color: #FFF;
  font-size: 13px;
  font-weight: normal;
  font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

#algolia_instant_selector button:not(.ais-price-ranges--button) {
  float: right;
  margin-top: 5px;
}

/*#algolia_instant_selector button:not(.ais-price-ranges--button):hover {*/
  /*background: rgb(53, 153, 204) none repeat scroll 0% 0%;*/
  /*color: white;*/
/*}*/

#algolia_instant_selector .pull-left {
  float: left;
}

#algolia_instant_selector .pull-right {
  float: right;
}

#algolia_instant_selector #refine-toggle
{
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-align: center;
  height: 36px;
  line-height: 36px;
  margin: 10px 0 20px 0;
  font-weight: bold;
  cursor: pointer;
  color: #666666;
  background: #e3e3e3;
}

#algolia-static-content
{
  margin-bottom: 20px;
}

/**
** GRID
*/

#algolia_instant_selector, #algolia_instant_selector *,
#algolia-autocomplete-container, #algolia-autocomplete-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#algolia_instant_selector:before, #algolia_instant_selector:after,
#algolia_instant_selector *:before, #algolia_instant_selector *:after,
#algolia-autocomplete-container:before, #algolia-autocomplete-container:after,
#algolia-autocomplete-container *:before, #algolia-autocomplete-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.visible-xs, .visible-sm {
  display: none!important
}

.hidden-xs, .hidden-sm {
  display: block !important
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important
  }

  .hidden-xs {
    display: none!important
  }
}

@media (max-width: 992px) {
  .visible-sm {
    display: block !important
  }

  .hidden-sm {
    display: none!important
  }
}

#algolia-autocomplete-container:after, .autocomplete-wrapper:after {
  clear: both;
  content: '';
}

#algolia_instant_selector {
  padding: 30px 0 40px;
  margin: 0 auto;
}

#algolia-sorts select {
  height: 20px;
}

.ais-hits {
  display: flex;
  flex-wrap: wrap;
}

.ais-hits > div,
.result-wrapper {
  display: flex;
}

.result-wrapper {
  width: 100%;
}

.result-wrapper a {
  width: 100%;
}

