<?php
/**
 * @var NetConsult_ProductConfigurator_Block_Product_View_Configurator $this
 */

if (!$template = $this->getConfiguratorTemplate()) {
    return;
}

$helper = Mage::helper('productconfigurator')

?>
<script>
    window.pcData = <?php echo json_encode($template) ?>;
</script>
<div class="pcf ng-cloak" ng-app="productConfiguratorFrontend"
     ng-controller="productConfiguratorFrontendController as pc">

    <div class="builder">
        <?php /*
        <table>
            <thead>
            <tr>
                <th></th>
                <?php foreach ($template->columns as $column) : ?>
                    <th><?php echo $column->value ?> mm</th>
                <?php endforeach ?>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($template->rows as $r => $row) : ?>
                <tr>
                    <th><?php echo $row->value ?> mm</th>
                    <?php foreach ($template->columns as $c => $column) : ?>
                        <td><?php echo isset($template->matrix[$r][$c]) ? $template->matrix[$r][$c]->value . ' kr' : '' ?> </td>
                    <?php endforeach ?>
                </tr>
            <?php endforeach ?>
            </tbody>
        </table>
        */ ?>
        <h2><a name="configurator"></a>Gör dina val:</h2>

        <p ng-if="pc.data.notes" ng-bind-html="pc.data.notes | toTrusted"></p>

        <div class="slider-input" ng-if="pc.data.useMatrix">
            <h4 class="number-header">Bredd</h4>
            <div style="position: relative; margin-right: 110px;">
                <rzslider rz-slider-model="pc.widthSlider.value"
                              rz-slider-options="pc.widthSlider.options"></rzslider>
                <div style="position: absolute; right: -110px; top: 15px; width: 110px; text-align: right;">
                    <input class="number" type="number" min="{{pc.widthSlider.options.floor}}" max="{{pc.widthSlider.options.ceil}}" ng-model="pc.widthSlider.value" style="width: 40px">
                    <span class="unit">cm</span>
                </div>
            </div>
            <input class="product-input" type="hidden" name="width" value="{{pc.widthSlider.value}}">
        </div>

        <div class="slider-input" ng-if="pc.data.useMatrix">
            <h4 class="number-header">Utfall</h4>
            <div style="position: relative; margin-right: 110px;">
                <rzslider rz-slider-model="pc.depthSlider.value"
                          rz-slider-options="pc.depthSlider.options"></rzslider>
                <input class="product-input" type="hidden" name="depth" value="{{pc.depthSlider.value}}">
            </div>
        </div>

        <div class="supplement-groups">
            <div class="supplement-group" ng-repeat="group in pc.data.supplementGroups">
                <h4>{{group.name}}</h4>
                <ul>
                    <li ng-repeat="supplement in group.supplements" ng-click="pc.selectSupplement(group, supplement)"
                        ng-class="{active: group.selected == supplement}">
                        <div class="img-wrapper">
                            <img ng-if="supplement.image" ng-src="/media/productconfigurator/{{supplement.image}}"
                                 alt="{{supplement.name}}">
                            <img ng-if="!supplement.image" src="http://placehold.it/100x100/fafafa" alt="">
                        </div>
                        <h5>{{supplement.name}}</h5>

                        <div class="price" ng-if="p = pc.getSupplementPrice(supplement)">{{p}} kr</div>
                    </li>
                </ul>
                <div class="notes">
                    <p ng-if="group.notes && !group.selected" ng-bind-html="group.notes | toTrusted"></p>

                    <p ng-if="group.selected.notes" ng-bind-html="group.selected.notes | toTrusted"></p>
                    <p ng-if="!group.selected && group.link && group.linkUrl">
                        <a href="{{group.linkUrl}}">{{group.link}}</a>
                    </p>

                    <p ng-if="rule = pc.getAppliedRule(group.selected)" ng-bind-html="rule.notes | toTrusted"></p>
                </div>

                <input class="product-input" type="hidden" name="select[{{group.id}}]" value="{{group.selected.id}}">

            </div>
        </div>
    </div>

    <div class="summary">
        <div class="summary-sticky">
            <div class="summary-shop">
                <div class="price" ng-if="price = pc.getPrice()">
                    {{pc.getPrice() || ''}}:-
                </div>
                <div ng-if="!price" class="no-price">
                    Pris saknas för valda mått
                </div>
                <div ng-if="(validationErrors = pc.getValidationErrors()).length" class="validation-errors">
                    <p ng-repeat="error in validationErrors">
                        {{error}}
                    </p>
                </div>
                <div class="configurator-add-to-cart">
                    <?php //echo $this->getChildHtml('addtocart') ?>
                    <div class="add-to-cart">
                        <div class="qty-wrapper">
                            <label for="qty">Antal: </label>
                            <input type="text" maxlength="5" value="1" title="Antal"
                                   class="input-text qty" ng-disabled="validationErrors.length || !price" ng-model="qty" ng-init="qty = 1">
                            <input type="hidden" name="qty" id="qty" class="product-input" value="{{qty}}">
                        </div>
                        <div class="clear"></div>
                        <button type="button" title="Köp!" id="product-addtocart-button" class="button"
                                onclick="productAddToCartForm.submit(this)" ng-disabled="validationErrors.length || !price">
                            <span><span>Köp!</span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="summary-choises">
                <h3>Du har valt:</h3>
                <ul>
                    <li ng-if="pc.data.useMatrix">
                        {{pc.widthSlider.value}} cm bred, {{pc.getRowValue(pc.depthSlider.value)}} utfall
                    </li>
                    <li ng-if="!pc.data.useMatrix && (pc.data.width || pc.data.depth)">
                        <span ng-if="pc.data.width">{{pc.data.width}} cm bred</span><span ng-if="pc.data.width && pc.data.depth">, </span>
                        <span ng-if="pc.data.depth">{{pc.data.depth}} cm utfall</span>
                    </li>
                    <li ng-repeat="group in pc.data.supplementGroups">
                        {{group.name}}:
                        <span ng-if="group.selected">{{group.selected.name}}</span>
                        <span ng-if="!group.selected"><em>Ej valt</em></span>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

</div>