<?php
    $product = $this->getProduct();
?>
<div class="add-to-configurator">
    <?php echo $this->getPriceHtml($product, true); ?>
    <a href="#configurator" title="Köp!" class="button"><span><span>Köp!</span></span></a>
</div>