/* Category view
-------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
  .catalog-category-view {
    .category-title {
      h1 {
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
      }

      img + h1 {
        position: absolute;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  .catalog-category-view {
    .top-block {
      width: 23%;
      padding: 1%;
      &.full {
        width: 18%;
      }
      &.fifty {
        width: 48%;
      }
      .image {
        min-height: 90px;
      }
      .cat-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .catalog-category-view {
    .top-block {
      width: 23%;
      padding: 1%;
      &.full {
        width: 33.3%;
        padding: 0;
      }
      &.fifty {
        width: 48%;
      }
      .cat-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .catalog-category-view {
    .top-block {
      width: 48%;
      padding: 1%;
      &.full {
        width: 33.3%;
        padding: 0;
      }
      &.fifty {
        width: 98%;
      }
      .cat-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .catalog-category-view {
    .top-block {
      width: 48%;
      padding: 1%;
      &.fifty {
        width: 98%;
      }
      .cat-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 640px) {
  .catalog-category-view {
    .top-block {
      width: 48%;
      padding: 1%;
      &.fifty {
        width: 98%;
      }
      .cat-title {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .catalog-category-view {
    .header {
      h1 {
        .top-title {
          display:block;
          font-size: 22px;
        }
        .post-title {
          text-align: left;
          font-size: 13px;
        }
      }
    }
    .category-title {
      h1 {
        font-size: 220%;
      }
    }
    p {
      text-align: left;
      font-size: 14px;
    }
    .top-block {
      width: 98%;
      padding: 1%;
      float: none !important;
      border: none !important;
      margin: 0 auto !important;
      margin-bottom: 20px !important;
      &.full {
        &:nth-child(even) {
          border-top: none;
        }
        .inner-section {
          max-width: 80%;
          border: none !important;
        }
      }
      &.fifty {
        width: 98%;
      }
      .cat-title {
        margin: 0 10px;
        font-size: 24px;
        text-align: left;
      }
      .content {
        .image {
          img {
            width: 100%;
          }
        }
        .actions {
          position: relative !important;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .catalog-category-view {
    #section-tabs {
      .products-grid {
        .item {
          &:nth-of-type(4n+1) {
            .item-inner {
              padding: 10px 10px 10px 0;
            }
          }
          &:nth-of-type(4n) {
            .item-inner {
              padding: 10px 0 10px 10px;
            }
          }
        }
      }
      .panel {
        div[class^="grid12-"] {
          > p {
            height: 60px;
          }
          .products-grid {
            .item {
              padding: 0;
              .item-inner {
                .actions {
                  width: auto;
                  right: 10px;
                  p {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
        .grid12-8 {
          .products-grid {
            .item {
              width: 50%;
              &:nth-of-type(2n+1) {
                .item-inner {
                  padding: 10px 10px 10px 0;
                }
              }
              &:nth-of-type(2n) {
                .item-inner {
                  padding: 10px 0 10px 10px;
                }
              }
            }
          }
        }
        .grid12-4 {
          width: 295px;
          .products-grid {
            .item {
              width: 100%;
              .item-inner {
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .catalog-category-view {
    #section-tabs {
      .products-grid {
        .item {
          &:nth-of-type(3n+1) {
            .item-inner {
              padding: 10px 10px 10px 0;
            }
          }
          &:nth-of-type(3n) {
            .item-inner {
              padding: 10px 0 10px 10px;
            }
          }
        }
      }
      .panel {
        div[class^="grid12-"] {
          width: 100%;
          margin-left: 0;
          .products-grid {
            .item-inner {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .catalog-category-view {
    #section-tabs {
      .products-grid {
        .item {
          &:nth-of-type(2n+1) {
            .item-inner {
              padding: 10px 10px 10px 0;
            }
          }
          &:nth-of-type(2n) {
            .item-inner {
              padding: 10px 0 10px 10px;
            }
          }
        }
      }
      .panel {
        div[class^="grid12-"] {
          width: 100%;
          margin-left: 0;
          .products-grid {
            .item-inner {
              padding: 10px;
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 400px) {
  .catalog-category-view {
    #section-tabs {
      .products-grid {
        .item {
          .item-inner {
            padding: 0 !important;
            margin: 0 auto !important;
          }
        }
      }
      .panel {
        div[class^="grid12-"] {
          width: 100%;
          margin-left: 0;
          &:last-of-type {
            margin-bottom: 0;
          }
          .products-grid {
            .item-inner {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.catalog-category-view {
  #section-tabs {
    .products-grid {
      background-color: transparent;
      .item {
        background-color: transparent;
      }
    }
    .panel {
      .grey {
        background-color: $base-grey;
      }
      div[class^="grid12-"] {
        &:nth-of-type(1n+1) {
          margin-right: 0;
        }
        &:nth-of-type(2n+1) {
          margin-left: 0;
          margin-right: 1.5%;
        }
        margin-bottom: 10px;
        > h3, > p {
          padding: 10px;
        }
      }
    }
  }
}

.catalog-category-view {
  .section {
    background-color: transparent;
  }
  .col-main {
    margin-top: 6px;
  }

  li, p {
    max-width: 600px;
  }

  ul.messages {
    li {
      max-width: 100% !important;
    }
  }

  .products-grid {
    background-color: #fff;
    margin-bottom: 10px;
  }

  .category-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: none;
    box-sizing: border-box;

    h1 {
      padding: 10px;
      line-height: 1.3em;
    }

    .category-image, h1 {
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0;
      /*@include border-radius(0, 0, 4px, 4px);*/
    }
  }

  .category-title {
    &.no-image {
      background-color: rgba(255, 255, 255, 1);
    }
  }

  .category-title-after {
    padding: 0;
    margin: 0;
    background-color: transparent;
    .top-block {
      border-top: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      position: relative;
      text-align: center;
      float:left;
      margin: 0;
      padding-bottom: 70px;

      > .block.guide {
        .content {
          margin: 0;
          padding: 10px;
        }
      }

      &.full {
        padding-bottom: 0;
        min-height: 500px;
        .inner-section {
          border-bottom: 1px dotted #d1d1d1;
        }
        p {
          text-align: left;
        }
      }
      &.fifty {
        p {
          text-align: left;
        }
      }
      &:nth-child(odd) {
        background-color: $mid-grey;
      }
      &:nth-child(even) {
        background-color: $base-grey;
      }
      .image {
        display: block;
        margin: 0 0 10px 0;
      }
      .cat-title {
        margin: 20px 10px;
        font-family: $heading-font;
        font-weight: bold;
      }
      p {
        margin: 10px 0;
      }
      ul {
        text-align: left;
      }
      .actions {
        width: 100%;
        position: absolute;
        bottom: 4%;
        left: 0;
        .button-container {
          display: inline-block;
          margin: 0 auto;
        }
        .installation-link {
          margin: 10px !important;
          text-align: center;
        }
      }
    }
    .brands-bar {
      background-color: transparent;
      .fujitsu {
        margin-left: 1%;
      }
    }
  }

  .category-top {
    overflow: auto;
    background-color: #fff;
    margin-bottom: 10px;
    .category-description {
      margin: 0;
      padding: 0;
      .content {
        margin-top: 0;
      }
    }
    .category-top-right {
      .content {
        margin: 0;
      }
      .guide {
        padding: 0;
        .content {
          margin: 0;
        }
      }
    }
  }

  .category-body-pre {
    padding-top: 0;
    #section-tabs {
      background-color: transparent;
      .category-products:first-child {
        margin: 0;
      }
      .category-products {
        margin-top: 40px;
      }
    }
  }

  .cat-title {
    &.orange {
      color: $orange;
    }
  }

  .category-top,
  .category-products-after,
  .category-body {
    background-color: #fff;
    padding: 10px;

    > div.grid12-12 {
      margin: 0;
      padding: 0;
      width: 100%;

      > .content {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }

  .item {
    padding-top: 10px;
    background-color: #fff;
  }
  .item:hover {
    background-color: #fff;
  }
  .toolbar-bottom {
    background-color: transparent;
    border: none;
  }
  .box-tabs {
    margin-top: 20px;
    .item {
      min-height: 300px;
      display: block !important;
    }
  }
}

/* Category view: Varmepumpar
-------------------------------------------------------------- */
@media screen and (min-width: 1281px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 55%;
        .title {
          display: inline-block;
          font-size: 17px;
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 72%;
        .title {
          display: inline-block;
          font-size: 17px;
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 91%;
        .title {
          display: inline-block;
          font-size: 17px;
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 95%;
        .title {
          display: inline-block;
          font-size: 14px;
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
  }
}
@media screen and (min-width: 401px) and (max-width: 640px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 94%;
        .title {
          display: inline-block;
          font-size: 12px;
          padding-right: 1%;
          padding-left: 1%;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .catalog-category-view.category-varmepumpar {
    .header {
      .services {
        max-width: 96%;
        .title {
          font-size: 14px;
          background-color: #fff;
          padding: 8px;
          display: block;
          margin: 0 auto 10px;
        }
      }
    }
  }
}

.catalog-category-view.category-varmepumpar {
  .brands-bar {
    background-color: #fff;
    .fujitsu {
      margin-left: 5%;
    }
  }
  .besparing-uppvarmning-miljovanligt {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .header {
    .services {
      text-align: center;
      margin: 0 auto 20px auto;
      .title,a {
        text-align: center;
        color: #fa6732;
      }
    }
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
    }
  }
  .category-meta-information {
    background-color: #fff;
  }
}