// Customer page
.customer-account-create,
.customer-account-login,
.customer-account {
  .page > .main-container {
    @media only screen and (min-width: 769px) {
      margin-top: 20px;
    }
  }
}

.customer-account-login {
  .account-login {
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    .box {
      background: #fff;
    }
  }
}

.customer-account-create,
.customer-account {
  .col-main {
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    .box {
      background: #fff;
    }
  }

  form {
    .fields {
      .field {
        float: none;
      }
    }
  }
}

.box-account .box-head h2 {
  font-family: $heading-font;
}

// Customer block
.block-account.block {
  ul {
    list-style: none;
    padding: 0;

    li.current {
      strong {
        color: $orange;
      }
    }
  }
}