.cms-fortum {

  .top {
    margin-bottom: 20px;
  }
  .large-orange-text {
    font-family: $heading-font;
    text-transform: uppercase;
    color: #fa6632;
    font-size: 4em;
    line-height: 1;
    font-weight: normal;
  }
  .small-grey-text {
    font-family: $heading-font;
    text-transform: uppercase;
    color: #525455;
    font-size: 19px;
    font-weight: bold;
  }

  .fortum-information-section.inner-container.margin-bottom.margin-top {
    @media only screen and (min-width: 1025px) {
      margin-top: 50px;
    }

    @include primary-information-color();
  }

  .besparing-uppvarmning-miljovanligt {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  #section-tabs {

    @media only screen and (max-width: 769px) {
      h2.acctab {
        line-height: 1em;
        padding: 10px;
      }
    }

    .panel {
      .category-products-information {
        margin: 0;
      }
    }
    
    .panel.fortum_include_packages_tab,
    .panel.pp_fortum_include_packages_tab {
      .grid12-6 > div {
        @media only screen and (min-width: 1025px) {
          min-height: 300px
        }

        h3 + img {
          float: right;
          display: inline;
          margin-left: 10px;
        }
      }
    }
  }
}