
.product-view {
  .klarna-description-mobile {
    display: none;
  }

  .product-type-data, .add-to-box {
    float: left;
  }

  .product-type-data {
    width: 65% !important;
    margin: 0;
  }

  .add-to-box {
    width: 35% !important;
  }

  .product-primary-column {
    overflow: hidden;

    .price-add-to-box {
      overflow: hidden;

      .price-box.price-box-from-to {
        overflow: hidden;
        margin: 0;
        padding: 0;
        color: #999;

        > .price {
          display: none;
        }

        p {
          display: inline;

          .price {
            font-family: inherit;
            margin: inherit;
            font-size: inherit;
            color: #999;
            font-weight: normal;
          }

          &.price-to {
            .price-label {
              display: none;
            }

            &:before {
              content:" till ";
            }
          }
        }
      }
    }

    .price-box-bundle {
      margin: 0;
      padding: 0;
      border-bottom: 0;
    }

    .container1-wrapper {
      overflow: hidden;

      .product-options {
        dd {
          overflow: hidden;

          div.input-box{
            min-height: 34px;
            line-height: 34px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 80%;
            float: left;
         		 
            .price {
              font-family: inherit;
              font-size: inherit;
              color: inherit;
              font-weight: bold;
            }

            select {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
            }
          }
		@media only screen and (max-width: 767px) { 
			div.input-box{
				width: 100%;
			}
		}

          .qty-holder {
            margin: 0;
            padding: 0;
            width: 20%;
            float: right;
            text-align: right;

            label {
              display: none;
            }

            input {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              width: 100% !important;
              height: 34px;

              &[disabled=disabled],
              &.qty-disabled {
                display: none;
              }
            }
          }
        }
      }
    }

  }

  .options-wrapper.box-additional.grid12-12 {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;

    .container2-wrapper {
      margin: 0;
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: none;
      border: none;

      .product-options {
        margin: 0;
        dl, dd {
          margin: 0;
          padding: 0;
        }


        .input-box .options-list {
		  margin: 0 0 10px 1px;
		  li {
			line-height: 0.9em !important;

			input{
			  margin-top: 0.5em;
			}

			span.label {
			  margin-top: 0.4em;
			}
		  }
        }
      }
    }
  }

  .box-tabs {
    .tabs-panels .panel .std blockquote {
      padding: 0;
      font-style: normal;
    }
  }

  @media only screen and (min-width: 1023px) {
    .product-primary-column .short-description {
      &.description-min-height {
        min-height: 75px;
      }
    }

    div.box-additional.box-sidebar {
      margin-top: 40px;
    }
  }
}

.catalog-product-view {
  @media only screen and (max-width: 1025px) {
    .gen-tabs .panel table {
      width: 100%;
      clear: both;
    }
    .product-view {
      .grid12-9, .grid12-3 {
        &.box-additional {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  /** REMOVE ALL THOSE MARGINS */
  .product-view .grid12-1,
  .product-view .grid12-2,
  .product-view .grid12-3,
  .product-view .grid12-4,
  .product-view .grid12-5,
  .product-view .grid12-6,
  .product-view .grid12-7,
  .product-view .grid12-8,
  .product-view .grid12-9,
  .product-view .grid12-10,
  .product-view .grid12-11,
  .product-view .grid4-1,
  .product-view .grid4-2,
  .product-view .grid4-3,
  .product-view .grid2-1 {
    margin-bottom: 0 !important;
  }
  .no-gutter.grid-col2-main {
	width: 100%;
  }
}

/* Downloads links block
-------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  .box-additional {
    .downloads-links-block {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .product-img-column {
    .downloads-links-block {
      display: none;
    }
  }
}

.product-img-column {
  .downloads-links-block {
    margin-top: 10px;
    h4 {
      display: none;
    }
    .downloads-item {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
.box-additional {
  .downloads-links-block {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.downloads-item {
  margin-top: 10px;
  &:last-child {
    margin-right: 0;
  }
  .item-icon, .item-link {
    display: inline;
  }
  .item-icon {
    margin-right: 5px;
  }
  .item-info {
    font-size: 10px;
    display: none;
  }
}

/* -------------------------------------------------------------- */

@media only screen and (max-width: 641px) {
  .catalog-product-view {
    #acctab-description.acctab {
      .img-wrapper-100 {
        img {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 481px) {
  .hide-below-481 {
    display: none !important;
  }

  .klarna-description-mobile {
    display: inline-block !important;
  }
}



@media screen and (max-width:321px) {
  .breadcrumbs {
    width: 100%;
  }

  .product-view {
    form .product-name {
      font-size: 1.3em;
    }

    .col-main, .col-left {
      margin-bottom: 0;
    }

    .box-sidebar li.product .product-details h3 {
      font-size: 1.4em;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .product-view {
    .product-type-data, .add-to-box {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .product-view {
	  .villaagarna {
		font-size: 90%;
	  }
    .product-type-data,
    .add-to-box {
      width: 100% !important;
      float: none;

      .price-box {
        padding: 0 !important;
      }

      .add-to-cart {
        width: 100%;

        .clear {
          display: none;
        }

        .qty-wrapper {
          float: left;
          width: 60%;

          label {
            float: left;
            line-height: 33px;
            width: 30%;
            text-align: left;
          }

          input {
            width: 70% !important;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 33px;
            float: left;
          }
        }

        button {
          float: right;
          width: 35% !important;
        }
      }
    }
  }
}
