<?php
/**
 * @var NetConsult_ProductConfigurator_Block_Adminhtml_Editor $this
 */
?>
<script type="text/javascript">
    window.pcData = {
        saveUrl: '<?php echo $this->getUrl('*/*/saveTemplates') ?>?isAjax=1',
        loadUrl: '<?php echo $this->getUrl('*/*/loadTemplates') ?>?isAjax=1',
        formKey: '<?php echo Mage::getSingleton('core/session')->getFormKey() ?>'
    };
</script>
<div class="pc ng-cloak" ng-app="productConfigurator" ng-controller="productConfiguratorController as pc">
    <div ng-if="!pc.loaded">
        <span>Loading...</span>
    </div>
    <div class="columns" ng-if="pc.loaded">
        <div class="side-col">
            <div>
                <ul class="tabs">
                    <li ng-repeat="template in pc.templates track by $index">
                        <a class="" ng-class="{active: template == pc.activeTemplate}"
                           ng-click="pc.activeTemplate = template">
                            <span>{{template.name}}</span>
                        </a>
                    </li>
                </ul>
                <form ng-submit="pc.addTemplate()" class="form-add">
                    <div class="input">
                        <input type="text" ng-model="pc.newTemplateName" size="30"
                               placeholder="Add template">
                    </div>
                    <div class="submit">
                        <a class="smallbutton" type="submit" ng-click="pc.addTemplate()"></a>
                    </div>
                </form>
                <div class="save-wrapper">
                    <a ng-click="pc.save()">
                        Save all templates
                    </a>
                    <div class="save-message">{{pc.saveMessage}}</div>
                </div>
            </div>
        </div>
        <div class="main-col" ng-if="pc.activeTemplate">
            <input type="text" ng-model="pc.activeTemplate.name" class="name" style="width:90%">
            <a class="tinybutton button-remove" ng-click="pc.deleteTemplate(pc.activeTemplate)" style="float: right;"></a>

            <br><br>
            <h4>Notes to customer</h4>
            <textarea style="width: 100%; max-width: 100%;" rows="8" ng-model="pc.activeTemplate.notes"></textarea>

            <div style="margin: 20px 0; padding: 20px 0; border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;">
                <div>
                    <label>
                        <input type="checkbox" ng-model="pc.activeTemplate.useMatrix" value="1"> Use matrix
                    </label>
                </div>
                <div class="no-matrix" ng-if="!pc.activeTemplate.useMatrix">
                    <div class="fieldset">
                        <table cellspacing="0" class="form-list">
                            <tbody>
                            <tr>
                                <td class="label">
                                    <label>Price</label>
                                </td>
                                <td class="value">
                                    <input class="text" type="text" ng-model="pc.activeTemplate.basePrice" style="width: 270px">
                                </td>
                            </tr>
                                <tr>
                                    <td class="label">
                                        <label>Width</label>
                                    </td>
                                    <td class="value">
                                        <input class="text" type="text" ng-model="pc.activeTemplate.width" style="width: 270px">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">
                                        <label>Depth</label>
                                    </td>
                                    <td class="value">
                                        <input class="text" type="text" ng-model="pc.activeTemplate.depth" style="width: 270px">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="matrix entry-edit" ng-if="pc.activeTemplate.useMatrix">
                    <div class="fieldset">
                        <table>
                            <thead>
                            <th class="corner">
                                <span>depth</span>
                                <span>max- <br> width</span>
                            </th>
                            <th ng-repeat="column in pc.activeTemplate.columns">
                                <input type="text" ng-model="column.value">
                            </th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(rIndex, row) in pc.activeTemplate.rows">
                                <th><input type="text" ng-model="row.value"></th>
                                <td ng-repeat="(cIndex, column) in pc.activeTemplate.columns"
                                    ng-init="cIndex = $index">
                                    <input type="text" ng-model="pc.activeTemplate.matrix[rIndex][cIndex].value">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <a class="smallbutton add-row" ng-click="pc.addRow(pc.activeTemplate)"></a>
                    <a class="smallbutton remove-row button-remove" ng-click="pc.removeRow(pc.activeTemplate)"></a>
                    <a class="smallbutton add-column" ng-click="pc.addColumn(pc.activeTemplate)"></a>
                    <a class="smallbutton remove-column button-remove" ng-click="pc.removeColumn(pc.activeTemplate)"></a>
                </div>
            </div>

            <div ng-repeat="(key, supplementGroup) in pc.activeTemplate.supplementGroups"
                 class="entry-edit supplements">

                <div class="entry-edit-head">
                    <h4 class="icon-head head-edit-form fieldset-legend">Supplement: {{supplementGroup.name}}</h4>
                </div>
                <div class="fieldset fieldset-wide" id="group_fields17">
                    <a class="smallbutton row-delete button-remove" type="submit"
                       ng-click="pc.activeTemplate.supplementGroups.splice(key, 1)"></a>
                    <table cellspacing="0" class="form-list">
                        <tbody>

                        <tr>
                            <td class="label">
                                <label>Name</label>
                            </td>
                            <td class="value">
                                <input class="text" type="text" ng-model="supplementGroup.name" style="width: 270px">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label>Notes to customer</label>
                            </td>
                            <td class="value">
                                <input class="text" type="text" ng-model="supplementGroup.notes" style="width: 750px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label>Link Name</label>
                            </td>
                            <td class="value">
                                <input class="text" type="text" ng-model="supplementGroup.link" style="width: 750px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label>Link URL</label>
                            </td>
                            <td class="value">
                                <input class="text" type="text" ng-model="supplementGroup.linkUrl" style="width: 750px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="label">
                                <label>Choices</label>
                            </td>
                            <td class="value">

                                <div class="supplement-choice"
                                     ng-repeat="(key, supplement) in supplementGroup.supplements">

                                    <a class="tinybutton row-delete button-remove" type="submit"
                                       ng-click="supplementGroup.supplements.splice(key, 1)"></a>

                                    <div class="supplement-property first">
                                        <label>Name</label>

                                        <div>
                                            <input class="text" type="text" ng-model="supplement.name">
                                        </div>
                                    </div>
                                    <div class="supplement-property">
                                        <label>Image</label>

                                        <div>
                                            <input class="text" type="text" ng-model="supplement.image">
                                        </div>
                                    </div>
                                    <div class="supplement-property">
                                        <label>Default price</label>

                                        <div>
                                            <input class="text" type="text" ng-model="supplement.defaultPrice">
                                        </div>
                                    </div>

                                    <div class="supplement-property first">
                                        <label>Notes to customer</label>

                                        <div>
                                            <input class="text" type="text" ng-model="supplement.notes" style="width: 604px;">
                                        </div>
                                    </div>
                                    <div class="supplement-pricelist">
                                        <label>Conditional Price</label>

                                        <div>
                                            <div ng-repeat="(key, priceRule) in supplement.priceRules"
                                                 class="price-rule">
                                                <select class="select" ng-model="priceRule.propertyKey">
                                                    <option value="width">if width</option>
                                                    <option value="depth">if depth</option>
                                                </select>
                                                <select class="select" ng-model="priceRule.operator">
                                                    <option value="<">is less than</option>
                                                    <option value="=">is equal to</option>
                                                    <option value=">">is more than</option>
                                                </select>
                                                <input class="text" type="number" ng-model="priceRule.propertyValue">
                                                then the price is
                                                <input class="text" type="text" ng-model="priceRule.price">
                                                Notes to customer:
                                                <input class="text" type="text" ng-model="priceRule.notes">

                                                <a class="tinybutton button-remove" type="submit"
                                                   ng-click="supplement.priceRules.splice(key, 1)"></a>
                                            </div>
                                            <div style="padding: 2px 4px;">
                                                <a class="tinybutton" type="submit"
                                                   ng-click="pc.addPriceRule(supplement)"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="a-center supplement-choice box-placeholder">
                                    <a class="smallbutton" type="submit" value="+"
                                       ng-click="pc.addSupplement(supplementGroup)"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="box-placeholder">
                <form ng-submit="pc.addSupplementGroup()" class="form-add supplement-add">
                    <div class="input">
                        <input type="text" ng-model="pc.newSupplementGroupName" placeholder="Add supplement group">
                    </div>
                    <div class="submit">
                        <a class="smallbutton" type="submit" value="+" ng-click="pc.addSupplementGroup()"></a>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>
