
.product-options {line-height:100%;}
.product-options .input-box::after {content: none}


/* OptionExtended Picker Image*/
.ob-picker-image {border:1px solid white; margin-right:3px; display:inline;}
.ob-picker-image.ob-selected {border:1px solid black; margin-right:3px; display:inline;}

.ob-image-cell {float:left; text-align:center;}
.ob-image-cell span {font-size:10px;}


/* OptionExtended Above */
.product-options dd.ob-above {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-above img.ob-image {display:block; float:left; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.ob-above select {width: 100%; margin:0 0 10px 0;}
.product-options dd.ob-above ul.options-list {margin:0 0 10px 0;}
.product-options dd.ob-above .description {display:block; width: auto; font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }
.product-options dd.ob-above .spacer{height:1px; clear:both;}


/* OptionExtended Above Checkbox */
.product-options dd.ob-above-checkbox {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-above-checkbox img.ob-image {display:inline; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.ob-above-checkbox ul.options-list {margin:0 0 10px 0;}
.product-options dd.ob-above-checkbox .ob-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Before Select*/
.product-options dd.ob-before-select {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-before-select .ob-table {display:table; width:100%;}
.product-options dd.ob-before-select .ob-table-cell-img {display:table-cell; width:100px; vertical-align:top;}
.product-options dd.ob-before-select .ob-table-cell {display:table-cell; vertical-align:top;}
.product-options dd.ob-before-select img.ob-image {width:100px; height:100px; vertical-align:middle; margin:0 10px 10px 0;}
.product-options dd.ob-before-select select {width: 100%; margin-top:45px;}
.product-options dd.ob-before-select .ob-tooltip-icon {display:block; margin:8px 100px 0 0;}
.product-options dd.ob-before-select .spacer{height:1px; clear:both;}

/* OptionExtended Before Radio*/
.product-options dd.ob-before-radio {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-before-radio .ob-table {display:table; width:100%;}
.product-options dd.ob-before-radio .ob-table-cell-img {display:table-cell; width:100px; vertical-align:top;}
.product-options dd.ob-before-radio .ob-table-cell {display:table-cell; vertical-align:top;}
.product-options dd.ob-before-radio img.ob-image {width:100px; height:100px; vertical-align:middle; margin:0 10px 10px 0;}
.product-options dd.ob-before-radio ul.options-list {max-width:100%; max-width:450px; list-style-type:none; margin:0 0 10px 0;}
.product-options dd.ob-before-radio ul.options-list label {width:100%; max-width:60%;}
.product-options dd.ob-before-radio .ob-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Below */
.product-options dd.ob-below {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-below img.ob-image {display:block; float:left; width:100px; height:100px; margin:0 10px 4px 0;}
.product-options dd.ob-below div select {width: 100%; margin:4px 0 10px 0;}
.product-options dd.ob-below ul.options-list {margin:0 0 10px 0;}
.product-options dd.ob-below .description {display:block; width: auto; font-size:10px; margin:0 0 5px 0; font-weight:normal; font-style:normal; }
.product-options dd.ob-below .spacer{height:1px; clear:both;}

/* OptionExtended Below Checkbox */
.product-options dd.ob-below-checkbox {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-below-checkbox img.ob-image {display:inline; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.ob-below-checkbox ul.options-list {margin:0 0 10px 0;}
.product-options dd.ob-below-checkbox select {margin:0 0 10px 0;}
.product-options dd.ob-below-checkbox .ob-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}

/* OptionExtended Swap Select*/
.product-options dd.ob-swap-select {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-swap-select select {width: 100%; margin:8px 0 10px 0;}
.product-options dd.ob-swap-select .description {font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }

/* OptionExtended Swap Radio */
.product-options dd.ob-swap-radio {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-swap-radio ul.options-list {margin:0;}
.product-options dd.ob-swap-radio .ob-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Picker */
.product-options dd.ob-picker {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-picker select {display: block; width: 100%; margin:5px 0 10px 0;}
.product-options dd.ob-picker .description {font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }
.product-options dd.ob-picker .spacer{height:1px; clear:both;}


/* OptionExtended Note */
.product-options dd.ob-note {font-size:12px;}


/* OptionExtended Grid */
.product-options dd.ob-grid {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-grid ul.options-list {list-style-type:none; padding:0; margin:0;}
.product-options dd.ob-grid ul.options-list li {width:129px; height:145px; float:left; margin-right:10px; line-height:normal; padding:0}
.product-options dd.ob-grid ul.options-list input.radio { float:none; margin:45px 0 0 7px;}
.product-options dd.ob-grid ul.options-list input.checkbox { float:none; margin:45px 0 0 7px;}
.product-options dd.ob-grid ul.options-list .label {display:block; width: 100px; text-align:center; margin:0;}
.product-options dd.ob-grid ul.options-list label {min-width: 0; padding:0; background: none; font-weight:normal; }
.product-options dd.ob-grid ul.options-list label:hover {background: none;}
.product-options dd.ob-grid .ob-image {display:block; float:left; width:100px; height:100px; margin:0 0 5px 0;}
.product-options dd.ob-grid ul.validation-failed { padding:10px 0 0 0; }
.product-options dd.ob-grid .spacer{height:1px; clear:both;}
.product-options dd.ob-grid .ob-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin:10px 0 0 5px;}


/* OptionExtended List */
.product-options dd.ob-list {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.ob-list ul.options-list {list-style-type:none; padding:0; margin:0; }
.product-options dd.ob-list ul.options-list li {margin-bottom:10px; border:1px solid #e4e4e4; line-height:normal; padding:10px 10px 10px 10px; }
.product-options dd.ob-list img {display:block; float:left; width:100px; height:100px; margin:0 10px 0 0;}
.product-options dd.ob-list li.none img {display:block; width:100px; height:15px; margin:0 10px 0 0;}
.product-options dd.ob-list ul.options-list input.radio {position:static; float:right; margin:0;}
.product-options dd.ob-list ul.options-list input.checkbox {position:static; float:right; margin:0;}
.product-options dd.ob-list ul.validation-failed { padding:0; }
.product-options dd.ob-list span.content {display:block; width:auto; padding: 0 0 0 0;}
.product-options dd.ob-list span.content label {display:block; width:auto; background: none; padding:0; margin:0;}
.product-options dd.ob-list span.content label:hover {background: none;}
.product-options dd.ob-list .price-notice {padding:0;}
.product-options dd.ob-list .description {min-height:60px; font-size:10px; margin:5px 0 5px 0;}
.product-options dd.ob-list .spacer{height: 1px; clear: both;}


.entry-edit h4 {display:none;}
.entry-edit .product-options {border-bottom:none; padding:0;}






