
.optionbundle-import-options {margin-bottom:10px;margin-top:10px;}

.optionbundle-row-cell-parent-highlighted {background-color:LightSkyBlue;}
.optionbundle-row-cell-children-highlighted {background-color:LightGreen;}

.optionbundle-highlight_link_hidden {display:none;}
.optionbundle-highlight_link_visible {cursor:pointer;}
.optionbundle-highlight_link_selected {color:red;cursor:pointer;}


.optionbundle-option-title {width:180px;margin-left:5px;margin-top:2px;}

.optionbundle-container {width:934px;}
.optionbundle-select {width:100%;}
.optionbundle-value {width:745px;border-top: 1px dashed #C0C0C0;}
.optionbundle-value-container-price {width:45px;margin-left:10px;}
.optionbundle-value-container-children {width:270px;margin-left:10px;}
.optionbundle-value-container-highlight {margin-left:10px;}
.optionbundle-value-container-default {margin-right:10px;}

.optionbundle-layout-select {margin-right:2px;}

.optionbundle-textarea {width:130px;}
.optionbundle-showhide-link{ color:red; cursor:pointer;vertical-align:top;}

.optionbundle-children-showhide-link{cursor:pointer;}

.optionbundle-options-value-container-title{width:270px;}
.optionbundle-optionimages-value-container-title{width:370px;}
.optionbundle-value-container-image{width:145px;margin-left:10px;margin-top:2px;}
.optionbundle-value-container-description{width:145px;margin-top:2px;}