<?php if (count($this->getItems())): ?>
    <section class="block faq-block guide-block">
        <header>Frågor och Svar</header>
        <ul class="faq-list">
            <?php foreach ($this->getItems() as $item): ?>
                <li class="closed">
                    <h3>
                        <a name="faq-<?php echo $item->getId(); ?>"></a>
                        <?php echo $this->escapeHtml($item->getQuestion()); ?>
                    </h3>
                    <div class="answer">
                        <?php echo $item->getAnswer(); ?>
                        <div class="gradient">
                        </div>
                    </div>
                    <div class="meta">
                        <a href="javascript:;" class="readmore">Läs svaret &raquo;</a>
                        <ul class="tags">
                            <?php foreach ($item->getTags() as $tag): ?>
                                <li><?php echo $tag; ?></li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </section>
<?php endif; ?>