<?php
/**
 * BBS NetAxept, Norge
 *
 * LICENSE AND USAGE INFORMATION
 * It is NOT allowed to modify, copy or re-sell this file or any 
 * part of it. Please contact us by email at post@trollweb.no or 
 * visit us at www.trollweb.no/bbs if you have any questions about this.
 * Trollweb is not responsible for any problems caused by this file.
 *
 * Visit us at http://www.trollweb.no today!
 * 
 * @category   Trollweb
 * @package    Trollweb_BBSNetAxept
 * @copyright  Copyright (c) 2009 Trollweb (http://www.trollweb.no)
 * @license    Single-site License
 * 
 */
$logoUrl = $this->getLogo();
?>
<p>
<?php echo $this->htmlEscape($this->getMethod()->getTitle()) ?>
<?php if (!empty($logoUrl)): ?>
  <br />
  <?php foreach($logoUrl as $_url): ?>
  <img alt="logo" src="<?php echo $this->getSkinUrl($_url); ?>" />
  <?php endforeach; ?>
<?php endif;?>
</p>
