<?php
    $product = $this->getProduct();
?>
<div class="add-to-configurator">
    <?php echo $this->getPriceHtml($product, true); ?>
    <a href="#configurator" title="G&ouml;r dina val!" class="button"><span><span>G&ouml;r dina val!</span></span></a>
</div>