.owl-wrapper-parent {
  position: relative;

  .owl-wrapper-main {
    margin: 10px 0;
    background: white;

    .owl-wrapper-outer {
      background: white;
      padding: 0 0 12px;
    }

    .item {
      a {
        display: block;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        padding: 5px;
        max-height: 50px;
        height: 50px;

        img{
          width: auto;
          height: 50px;
        }
      }
    }
  }

  .custom-owl-controls {
    .fa-wrapper {
      display: block;
      position: absolute;
      background-color: transparent;
      width: 20px;
      color: rgba(194, 194, 194, 0.6);
      top: 0;
      box-sizing: border-box;
      padding: 20px 0;
      height: 62px;

      &:hover {
        cursor: pointer;
      }

      &.fa-wrapper-left {
        left: 0;
        padding-left: 10px;
      }

      &.fa-wrapper-right {
        right: 0;
        padding-right: 10px;
      }

      i {
        font-style: normal !important;
      }
    }
  }

  @media only screen and (min-width: 1025px) {
    .owl-wrapper-main {
      padding: 5px 0 20px;

      .item {
        width: 16.5%;
        float: left;
      }
    }

    .custom-owl-controls {
      display: none;
    }
  }
}