/**
 * Fortum tabs has the same base markup as section-tabs
 * This file has only fixes specifically for the fortum-tabs
 */
.fortum-tabs-wrapper.box-tabs {
  /*border: 1px solid red;*/
  .id-tabs {
    /**
     * top nav rules
     */
    .tab-nav {
      @media only screen and (max-width: 1038px) {
        display: none !important;
      }
      .fortum-tab-item {
        a {
          display: block;
          background: none !important;
          border: none;
          z-index: 0;
          padding: 0 10px 10px 40px !important;
          font-size: 3em;
          font-family: $base-font;
          line-height: 1.4;
          margin-bottom: -15px;
          &.current {
            background: none !important;
            z-index: 1;
            position: relative;
            .image-container {
              background-color: rgba(219, 219, 219, 1);
              border-top: 1px solid white;
            }
          }

          .container {
            display: inline-block;
            margin: 0;
            float: left;
            min-width: 165px;
            height: 55px;
            padding: 20px;

            &.image-container {
              background-image: url(../images/fortum/home-house.png);
              background-position: center center;
              background-repeat: no-repeat;
              border-radius: 190px 190px 0 0;
              width: 165px;
            }

            &.title-container {
              width: 70%;
              padding-left: 10px;
              transform: translateY(10%);

              @media only screen and (max-width: 1281px) {
                font-size: 0.8em;
                transform: translateY(20%);
              }

            }
          }
        }
      }
    }

    /** tab-parent */
    .tab-parent {
      .image-container.be-client {
        position: absolute;
        top: -50px;
        right: -30px;
        display: block;
        background: url(../images/fortum/bli-kund.png);
        background-repeat: no-repeat;
        background-position: center center;
        height: 87px;
        width: 87px;
        @media only screen and (max-width: 1038px) {
          display: none !important;
        }
      }

      .tabs-panels {
        .panel {
          background-color: rgba(219, 219, 219, 1);
          background: linear-gradient(rgba(219, 219, 219, 1) 0%, white 40%);
          border: 1px solid white;
          border-radius: 0;
          @media only screen and (max-width: 1025px) {
            background-color: white;
            background: linear-gradient(white, white);
            border: none !important;
          }

          ol {
            list-style: decimal;
            margin-left: 15px;
          }

          .section-left {
            > h1 {
              text-transform: uppercase;
              color: #fa6632;
              font-size: 4em;
              line-height: 1;
              font-weight: normal;
              small {
                color: #525455;
                font-size: 0.4em;
                font-weight: bold;
              }
            }

            .tagline {
              font-family: $base-font;
              font-size: 1.5em;
              font-weight: bold;
              display: block;
              line-height: 1.6;
            }

            // table fixes
            table {
              td {
                padding: 2px;
              }

              td:nth-child(2) {
                text-decoration: line-through;
                color: #525455;
              }

              td:last-of-type {
                font-weight: bold;
                color: $base-blue;
              }

              tfoot {
                td {
                  font-weight: bold;
                }
              }
            }

            table + .inner-container {
              padding: 10px 0;

              .grid12-8 {
                font-style: italic;
                @media only screen and (min-width: 769px) {
                  transform: translateY(10px);
                  max-width: 60%;
                }
              }

              .grid12-4 {
                text-align: right;
              }

              .save {
                text-align: center;
                background: #eeebe9;
                padding: 10px 20px;
                font-family: $base-font;
                font-size: 1.5em;
                line-height: 1.4em;

                @media only screen and (min-width: 641px) {
                  border-radius: 55px;
                  padding: 20px 20px;
                  display: inline-block;
                  transform: translateY(-10px);
                  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5) inset, 0 1px 0 0 white;
                }

                span {
                  display: block;
                  width: 100%;
                  color: $orange;
                  &:first-of-type {
                    color: #000;
                  }
                }
              }
            }
          }

          .section-right {
            position: relative;
            .product-info {
              > .inner-container {
                margin-top: 10px;
                &:last-of-type {
                  margin-bottom: 10px;
                }
              }

              .image-container {
                overflow: hidden;
                @media only screen and (min-width: 1025px) {
                  max-height: 250px;
                  height: 250px;
                  img {
                    max-height: 250px;
                  }
                }

                .inactive.active {
                  height: 65px;
                  transform: translateY(-210%);
                  width: 95%;
                  margin: auto;

                  @media only screen and (max-width: 1025px) {
                    transform: translateY(-210%);
                    width: 85%;
                    margin-left: 10px;
                    .soft {
                      box-shadow: none !important;
                    }
                  }

                  .soft {
                    box-sizing: border-box;
                    padding: 10px;
                    background: fade-out(white, 0.1);
                    box-shadow: 1px 2px 2px #888;
                  }
                }
              }

              .inner-container.price-section {
                > .grid12-9 {
                  @media only screen and (min-width: 1025px) {
                    max-width: 60%;
                    a {
                      text-align: right;
                    }
                  }

                  a {
                    display: block;
                  }

                  p {
                    font-style: italic;
                  }
                }
              }

              .inner-container.action-section {
                .bundle-form {
                  display: block;
                  box-sizing: border-box;
                  padding-right: 5px;

                  select, input {
                    margin-bottom: 5px;
                  }

                  select {
                    max-width: 180px;
                  }
                }

                @media only screen and (min-width: 1025px) {
                  .bundle-form {
                    text-align: right;
                    select {
                      margin-left: calc(-20%);
                    }
                  }
                }

                @media only screen and (max-width: 1025px) {
                  .left, .right {
                    width: 100%;
                    .bundle-form {
                      padding: 0;

                      select, button {
                        width: 100%;
                      }

                      select {
                        max-width: 100%;
                      }
                    }
                  }

                  .right {
                    margin-top: 10px;
                  }
                }
              }

              > .inner-container + a {
                color: #0068AE;
                font-style: italic;
                &:hover {
                  color: $orange;
                }
              }

              img.info-icon, img.bast-test {
                position: absolute;
                width: auto !important;
              }

              img.info-icon {
                right: 20px;
                top: 20px;
                @media only screen and (max-width:1025px) {
                  right: 0;
                }
              }

              img.bast-test {
                top: 45px;
                @media only screen and (max-width:1025px) {
                  width: calc(20%) !important;
                }
              }

              img {
                width: 100%;
              }

              img.not-full {
                width: auto;
              }

              .product-type-data {
                .price {
                  color: $orange !important;
                  font-size: 3.5em;
                  line-height: 1.1em;
                  @media only screen and (max-width: 1025px) {
                    font-size: 2.8em;
                  }
                }

                .old-price {
                  color: black;
                  text-decoration: line-through;
                }
              }
            }
          }
        }
      }
    }

    /** bottom nav rules */
    .tab-nav.bottom.tabs {
      padding: 0;
      width: 90%;
      margin-right: auto;
      margin-left: auto;

      li#tab-tab3 {
        a {
          background-image: url(../images/fortum/airp-badge.png);
          background-repeat: no-repeat;
          background-position: left -15px;
          &.current {
            background-color: white;
          }
        }
      }

      li {
        width: 22.6%;
        margin-right: 3%;
        margin-left: 0;

        a {
          background-color: #e1e1e1;
          box-sizing: border-box;
          width: 100%;
          color: black;

          &.current {
            position: relative;
            z-index: 1;
            padding-top: 20px;
          }

          .image-container {
            height: 75px;
            width: 30%;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: bottom center;
            float: left;
          }

          .image-container.house-52 {
            background-image: url(../images/fortum/house-52.png);
          }

          .image-container.house-57 {
            background-image: url(../images/fortum/house-57.png);
          }

          .image-container.house-65 {
            background-image: url(../images/fortum/house-65.png);
          }

          .image-container.house-91 {
            background-image: url(../images/fortum/house-91.png);
          }

          .title-container {
            display: inline-block;
            /* height: 65px; */
            float: left;
            line-height: 1.4em;
            width: 70%;
            box-sizing: border-box;
            padding: 5px;
            font-family: Arial, sans-serif;
            font-size: 12px;

            .old-price {
              font-size: 0.9em;
              color: black;
              text-decoration: line-through;
            }
          }
        }
      }

      li:last-of-type {
        margin-right: 0;
      }
    }
  }
}
