/** "blockquotes */
//.category-products-information,
.information-block {
  box-sizing: border-box;
  padding: 2%;
  border: 1px solid #e1e1e1;
  background: #f7f7f7;
  margin: 15px 0;
  ul {
    padding: 3%;
    li {
      list-style: disc;
      margin-left: 4%;
      line-height: 1.7em;
      margin-bottom: 2px;
    }
  }
}