
.catalog-category-view {
  @media only screen and (max-width:481px) {
    .tab-container.inner-container {
      margin-top: 10px;
    }
  }
}

div.tab-container {
  background: rgba(225, 225, 225, 0.6);
}

div.box-tabs.inner-container {
  margin: 0;
  padding: 0;
}

div.box-tabs {
  #section-tabs {
    ul.tabs {
      li {
        margin-right: 10px
      }
    }
  }

  #section-tabs,
  #fortum-tabs {
    .acctab {
      padding-left: 20px;
      padding-right: 20px;
      font-family: Arial, Helvetica, sans-serif;
    }
    ul.tabs {
      padding-left: 20px;
      li:first-of-type {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  // General rules for tabs
  .gen-tabs {
    .tabs {
      .tab-item {
        a {
          color: $base-blue;
          line-height: 2;
          padding: 10px;

          &.current {
            background-color: white;
            @include linear-gradient(white, white);
            color: black;
            border: 1px solid white;
            z-index: 2;
            margin-top: 0;
          }
        }
      }

      #tab-pp_installation,
      #tab-tabb_installation {
        a:before {
          content: '';
          background-image: url(../images/inst-icon.png);
          background-repeat: no-repeat;
          background-position: 0 bottom;
          margin-right: 5px;
          height: 16px;
          width: 17px;
          display: inline-block;
          position: relative;
          top: 3px;
        }
      }
    }

    .tabs-panels {
      padding: 0;

      h2.acctab {
        font-family: Arial, Helvetica, sans-serif;
        color: $base-blue;
        line-height: 2em;
        border: none !important;
        @include text-shadow(1px, 1px, 0, rgba(255, 255, 255, 0.6));
        @include linear-gradient($base-grey, #d4d4d4);
        @include border-radius(4px, 4px, 0, 0);
      }

      .panel {
        padding: 10px;
        background-color: #fff;
        .inner-grid {
          @media only screen and (max-width: 1025px) {
            padding: 10px 0;
          }
        }
      }
    }

    .grid12-10 {
      @media only screen and (max-width: 1025px) {
        width: 100% !important;
      }
    }
  }

  // Specific rules for horizontal tabs
  .gen-tabs.horizontal {
    .tabs {
      margin-bottom: -1px;
      .tab-item {
        a {
          padding: 0 7px;
          font-size: 14px;
          font-family: $base-font;
          line-height: 3;
          @include text-shadow(1px, 1px, 0, rgba(255, 255, 255, 0.6));
          @include linear-gradient($base-grey, #d4d4d4);
          @include border-radius(4px, 4px, 0, 0);

          &.current {
            background-color: #fff;
            @include linear-gradient(white, white);
            color: black;
            border-radius: 0;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }

  // Specific rules for vertical tabs
  .gen-tabs.vertical {
    .tabs {
      margin-top: -1px;
      .tab-item {
        box-sizing: border-box;

        a {
          border-left: 1px solid #eeebe9;
          border-bottom: 1px solid #eeebe9;
          font-family: Arial, sans-serif !important;
          transition: width 0.1s ease-in;
          width: 95%;
          float: right;
          font-size: 1.1em;

          &.current {
            color: $orange;
            width: 100%;
          }
        }
      }

      #tab-0 {
        a {
          border-top: 1px solid #eeebe9;
        }
      }
    }
  }
}
