<div class="top-block <?php echo ($this->getBlockType()) ? $this->getBlockType() : ''; ?> <?php echo ($this->getBlockClass()) ? $this->getBlockClass() : ''; ?>">
    <div class="content">
		<?php if (strlen($this->getImageUrl())) : ?>
			<a class="image <?php echo ($this->getImageClass()) ? $this->getImageClass() : ''; ?>" href="<?php echo $this->getTargetUrl(); ?>" title="Gå till <?php echo $this->getTitle(); ?>">
				<img src="<?php echo $this->getImageUrl(); ?>" alt="<?php echo $this->getTitle(); ?>">
			</a>
		<?php endif; ?>
		<?php if (strlen($this->getTitle())) : ?>
			<div class="cat-title">
				<a href="<?php echo $this->getTargetUrl(); ?>"><?php echo $this->getTitle(); ?></a>
			</div>
		<?php endif; ?>

		<?php if (strlen($this->getDescription())) : ?>
			<div class="inner-section <?php echo ($this->getDescriptionClass()) ? $this->getDescriptionClass() : ''; ?>">
				<?php echo $this->getDescription(); ?>
			</div>
		<?php endif; ?>

		<?php if (strlen($this->getDescription2())) : ?>
			<div class="inner-section <?php echo ($this->getDescription2Class()) ? $this->getDescription2Class() : ''; ?>">
				<?php echo $this->getDescription2(); ?>
			</div>
		<?php endif; ?>
		<?php if (strlen($this->getDescription3())) : ?>
			<div class="inner-section <?php echo ($this->getDescription3Class()) ? $this->getDescription3Class() : ''; ?>">
				<?php echo $this->getDescription3(); ?>
			</div>
		<?php endif; ?>

		<?php if (strlen($this->getButtonLabel())) : ?>	
			<div class="actions">
				<span class="button-container">
					<a href="<?php echo $this->getTargetUrl(); ?>" class="button secondary" >
						<?php echo $this->getButtonLabel(); ?>
					</a>
				</span>
				<?php if (strlen($this->getInstallationUrl())) : ?>
					<p class="installation-link"><a class="int" href="<?php echo $this->getInstallationUrl(); ?>">Installation</a></p>
				<?php endif;?>
			</div>
		<?php endif; ?>

    </div>
</div>