<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
	$_product = $this->getProduct();
	$theme = $this->helper('ultimo');
	$helperThis = $this->helper('ultimo/template_catalog_product_view');
	$helperSnippets = $this->helper('ultimo/rsnippets');
	
	$useRichSnippets = ($helperSnippets->isEnabledOnProductPage() && $productTypeId !== 'grouped');
	$priceProperties = '';
	if ($useRichSnippets)
	{
		$priceProperties = $helperSnippets->getPriceProperties($_product); //Has to be called before getOfferItemscope
	}
?>

<?php echo $this->getBlockHtml('formkey'); ?>
<div class="product-tab-options">

	<div class="container1-wrapper">
		<?php echo $this->getChildHtml('product_options_wrapper');?>
	</div>
	
	<div id="overview" class="grid12-8 no-gutter">
		<div class="grid12-8 customer-selections"></div>
		<div class="grid12-4 price-add">
			<?php echo $this->getChildHtml('prices') ?>
			<?php if($_product->isSaleable()): ?>
					<div class="cart-wrap">
						<?php echo $this->getChildHtml('addtocart') ?>
					</div>
			<?php endif; ?>
		</div>
	</div>
</div>
</form>

<script>
jQuery(function($){
	
	function displaySelection() {
		var optionValues = [];
		$('.product-options dt > label').each(function(index, label){
			var myValue;			
			
			$(this).parent('dt').next('dd').find('.input-box input').each(function(i, e){
				if($(this).is(':checked')) {
					myValue = $(e).siblings('span.label').text().split(' +', 1)[0];
				} else if($(this).prop('type') == 'text'){
					myValue = $(e).val();
				}
			});
			
			optionValues.push({
				Label : $(label).text().split('*', 1)[0],
				selectedValue : myValue
			});
		});
		var html;
		html = '<ul>';
		$.each( optionValues, function( i, val ) {		
			
			if(val['Label'] != 'Bredd' && val['Label'] != 'Utfall') {
				html += '<li>';
				html += '<strong>'+val['Label']+':</strong> ';
				if(val['selectedValue'] == null)
					html += 'Valbart';
				else
					html += val['selectedValue'];
				html += '</li>';
			}
			
		});
		html += '</ul>';
		$('.customer-selections').html(html);
	}
	
	displaySelection();
	$('.product-options').on('click', displaySelection);
	
	$('.options-list').each(function() {
		var list = $(this);
		$(this).find('input:checked').prev('.ob-image').addClass('checked');
		
		var selectedDescription;
		$(this).find('.ob-image').click(function(){
			list.find('.checked').removeClass('checked');
			$(this).addClass('checked');
			
			selectedDescription = $(this).siblings('.ob-tooltip-icon').attr('title');
			list.parent().siblings('.ob-note').html(selectedDescription);
		});
	});

	var kvtArea = ["Bredd", "Utfall"];
	var kvtUnit = [' cm', ' mm'];
	var kvtDec = [0,2];
	var orgBredd;
	var orgUtfall;
	var priceBredd = [];
	var priceUtfall = [];
	var unit;
	var unitText;
	var steps;
	
	$.each(kvtArea, function(i, v) {
		$('.product-options dt').find("label:contains('" + v + "')").parent('dt').addClass(v+ '-label');
		$('.product-options dt.'+v+'-label').next('dd').addClass(v + '-field');
		$('.product-options dd.'+v+'-field:has("select")').addClass('selector-hidden');
		$('.product-options dd.'+v+'-field:has("select")').prev('dt').addClass('label-hidden');
	});	
	$.each(kvtUnit , function(i, val) { 
		var labelText = $('.product-options dt label').text();
		if(labelText.search(val) != -1) {
			unit = kvtDec[i];
			
			if(unit == 2) {
				steps = 0.1;
				unitText = 'mm';
			}
			if(unit == 0) {
				steps = 1;
				unitText = 'cm';
			}
		}	else {
			return;
		}	
	});
	
	var selectedBredd = $('.Bredd-field.selector-hidden option');	
	var selectedBreddParent = $(selectedBredd).parent();

	selectedBredd.each(function() {
		priceBredd.push(parseInt($(this).text()));
	});
	
	var blO = priceBredd.length-1;
	var blastOption = priceBredd[blO];
	var bfirstOption = priceBredd[1];
	
	
	var selectedUtfall = $('.Utfall-field.selector-hidden option');
		
	selectedUtfall.each(function() {
		priceUtfall.push(parseInt($(this).text()));
	});
	
	var ulO = priceUtfall.length-1;
	var ulastOption = priceUtfall[ulO];
	var ufirstOption = priceUtfall[1];
	
	
	//Bredd
	$('.product-options dd.Bredd-field input[type=text]').simpleSlider({
		highlight:true,
		range: [bfirstOption,blastOption],
		step: steps
	}).show().after('<span>'+unitText+'</span>');
	
	//Bredd -field input
	$("dd.Bredd-field input").bind("slider:ready slider:changed", function (event, data) {		
		$(this).val(data.value.toFixed(unit));
		
	});
	
	//Bredd -field input
	$('.Bredd-field input').change(function(){
		var orgVal = $(this).val();
		var thisVal = orgVal.replace(',', '.');
		
		$(this).simpleSlider("setValue", thisVal);
		
		if(parseFloat(thisVal) > blastOption)
			alert('Bredd är max '+blastOption+' cm');
		else 
			var orgBredd = parseFloat(thisVal);
		
		var finalBredd;
		$.each(priceBredd, function(i, v) {
			if(orgBredd >= v) {				
				selectedBredd.eq(i).prop('selected', true);
				finalBredd = selectedBredd.eq(i).val();
				
			}
		});
		var id = selectedBreddParent.attr('name').match(/([1-9][0-9]*)/);
		optionBundle.observeSelectOne(selectedBreddParent[0], "o", id[0], true);
	
		
		if(orgVal == thisVal) {
			$(this).val(orgVal.replace('.', ','));
		}
	});
	
	//Utfall
	$('.product-options dd.Utfall-field input[type=text]').simpleSlider({
		highlight:true,
		range: [ufirstOption,ulastOption],
		step: steps
	}).show().after('<span>'+unitText+'</span>');

	//Utfall field input
	$("dd.Utfall-field input").each(function () {
      var input = $(this);
	}).bind("slider:ready slider:changed", function (event, data) {		
		$(this).text(data.value.toFixed(unit));
	});
	
	//Utfall field input
	$('.Utfall-field input').change(function(){
		var orgVal = $(this).val();
		var thisVal = orgVal.replace(',', '.');
		
		$(this).simpleSlider("setValue", thisVal);
		if(parseFloat(thisVal) > ulastOption)
			alert('Utfall är max '+ulastOption+' cm');
		else 
			var orgUtfall = parseFloat(thisVal);
		
		$.each(priceUtfall, function(i, v) {
			if(orgUtfall >= v) {
				selectedUtfall.eq(i).prop('selected', true);
			}
		});
		
		if(orgVal == thisVal) {
			$(this).val(orgVal.replace('.', ','));
		}
	});
		
});
</script>
