<?php
/**
 * Cart cross sell items template
 *
 * @see Mage_Checkout_Block_Cart_Crosssell
 */
?>
<?php
/**
 * - Added grid classes for cross-sell items
 * - Image size changed from 75 to 65
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$idx = 0;
$enhancedEcommerceImpressions = array();
?>
<?php if($this->getItemCount()): ?>
    <div class="crosssell">
        <div class="block-title">
            <span><?php echo $this->__('Based on your selection, you may be interested in the following items:') ?></span>
        </div>
        <ul class="crosssell-products-list products-grid itemgrid itemgrid-adaptive" id="products-list">
            <?php foreach ($this->getItems() as $_item): ?>
                <?php $ribbon_class		= preg_replace("/[^a-öA-Ö\s]/", "", $_item->getAttributeText('pp_ribbon')); ?>
                <?php $ribbon_class		= str_ireplace(array ('å', 'ä', 'ö', ' ', '²'), array('a', 'a', 'o', '', ''), $ribbon_class); ?>
                <?php $hribbon_class	= preg_replace("/[^a-öA-Ö\s]/", "", $_item->getAttributeText('pp_horizontal_ribbon')); ?>
                <?php $hribbon_class	= str_ireplace(array ('å', 'ä', 'ö', ' ', '²'), array('a', 'a', 'o', '', ''), $hribbon_class); ?>
                <?php
                // Get $product_price for Google Tag Manager
                if($_item->getTypeId() === 'bundle') {
                    $pricemodel = Mage::getModel('bundle/product_price');

                    $price = $pricemodel::calculatePrice(
                        $_item->getData('price'),
                        $_item->getSpecialPrice(),
                        $_item->getSpecialPriceFrom(),
                        $_item->getSpecialPriceTo(),
                        false,
                        Mage::app()->getStore()->getWebsite()->getId(),
                        Mage::getSingleton('customer/session')->getCustomer()->getGroupId(),
                        $_item->getId()
                    );

                    $finalprice = $this->helper('core')->currencyByStore(Mage::helper('tax')->getPrice($_item, $price));
                    $productPrice = number_format(preg_replace("/[\D]/", "", $finalprice), 2, '.', '');
                } else {
                    $productPrice = number_format($_item->getPrice(), 2, '.', '');
                }

                // Get $category for Google Tag Manager
                $url = explode('/', $_item->getProductUrl());
                $count	= count($url);
                if($url[3] == 'fukt-i-hus' || $url[3] == 'partner') {
                    $productCategory = $url[$count-2];
                } else {
                    $productCategory = $url[$count-4];
                }

                $productName = $_helper->productAttribute($_item, $_item->getName() , 'name');
                $productSku = str_replace(' ', '-', $_item->getSku());
                $productBrand = $_item->getAttributeText('td_marke');

                $tagManagerProduct = "{
										'name': '{$productName}',
										'id': '{$productSku}',
										'price': '{$productPrice}',
										'brand': '{$productBrand}',
										'category': '{$productCategory}',
										'list': 'checkout',
										'position': '{$idx}'
									  }";

                $enhancedEcommerceImpressions[] = $tagManagerProduct;
                $idx++;
                ?>
                <li class="item grid12-2 mobile-grid">
                    <div class="item-inner">
                        <a class="product-image product-image-wrapper" onclick="enhancedEcommerceProductClick('<?php echo $productSku ?>');" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>">
                            <?php if($ribbon=$_item->getAttributeText('pp_ribbon')): ?>
                                <div class="ribbon <?php echo strtolower($ribbon_class); ?>"><span><?php echo $ribbon; ?></span></div>
                            <?php endif; ?>
                            <?php if($marke=$_item->getAttributeText('td_marke')): ?>
                                <div class="brand-logo <?php echo strtolower($marke); ?>"><img src="/media/bilder/design/logo/<?php echo strtolower($marke); ?>.png" alt="<?php echo $marke; ?>" width="69" /></div>
                            <?php endif; ?>
                            <img id="product-collection-image-<?php echo $this->escapeHtml($_item->getId()) ?>" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image'); ?>" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
                        <div class="product-info info add-product-sku-<?php echo $productSku ?> product-item-sku-<?php echo $productSku ?>" data-name="<?php echo $productName ?>"
                             data-sku="<?php echo $productSku ?>" data-brand="<?php echo $productBrand ?>" data-category="<?php echo $productCategory ?>"
                             data-price="<?php echo $productPrice ?>" data-productlist="checkout">
                            <span class="prod-name"><a onclick="enhancedEcommerceProductClick('<?php echo $productSku ?>');" href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->escapeHtml($_item->getName()) ?></a></span>
                            <div class="product-desc">
                                <?php echo $_item->getShortDescription() ?>
                            </div>
                            <div class="bottom">
                                <?php echo $this->getPriceHtml($_item, true) ?>
                                <div class="actions clearer">
                                    <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="
                                                enhancedEcommerceAddToCart('<?php echo $productSku ?>');
                                                (function(e){
                                                spinner   = $('firecheckout-spinner');
                                                container = $('review-buttons-container');

                                                spinner = new Element('div');
                                                spinner.writeAttribute('id', 'firecheckout-spinner');
                                                spinner.insert('Vänligen vänta...');
                                                $(document.body).insert({
                                                bottom: spinner
                                                });
                                                container.addClassName('disabled');
                                                container.setStyle({opacity:0.5});

                                                setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')
                                                })(event)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">
            decorateList('crosssell-products-list', 'none-recursive');

            jQuery(document).ready(function($) {
                dataLayer.push({
                    'event': 'ee_product_impressions',
                    'ecommerce': {
                        'currencyCode': 'SEK',
                        'impressions': [
                            <?php echo implode(',', $enhancedEcommerceImpressions); ?>
                        ],
                    },
                });
            });
        </script>
    </div>
<?php endif; ?>
