<h3>Anmäl dig till vårt nyhetsbrev</h3>
<div id="form_newsletter_subscription" class="clearer">
    <form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
        <div>
            <!--<label for="newsletter"><?php /*echo $this->__('Newsletter') */?></label>-->
            <div class="input-box">
                <input type="email" name="email" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
            </div>
            <input type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button btn-inline secondary" value="Skicka"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    //    '<?php //echo $this->helper('newsletter')->__('Enter your email address') ?>//'
    //<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    new Varien.searchForm('newsletter-validate-detail', 'newsletter', 'Din e-postadress');
    //]]>
</script>
