<?php

/** @var Algolia_Algoliasearch_Helper_Config $config */
$config = Mage::helper('algoliasearch/config');

/** @var Mage_Customer_Model_Session $session */
$session = Mage::getSingleton('customer/session');
$group_id = $session->getCustomerGroupId();

$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$price_key = $config->isCustomerGroupsEnabled(Mage::app()->getStore()->getStoreId()) ? '.'.$currency_code.'.group_'.$group_id : '.'.$currency_code.'.default';

?>

<!-- Product hit template -->
<script type="text/template" id="instant-hit-template">
    {{#hits}}
        <div class="col-md-4 col-sm-6">
            <div class="result-wrapper">
                <a href="{{url}}" class="result">
                    <div class="result-content">
                        <div class="result-thumbnail">
                            {{#image_url}}<img src="{{{ image_url }}}"/>{{/image_url}}
                            {{^image_url}}<span class="no-image"></span>{{/image_url}}
                        </div>
                        <div class="result-sub-content">
                            <h3 class="result-title">
                                {{{ _highlightResult.name.value }}}
                            </h3>
                            <div class="ratings">
                                <div class="ratings-wrapper">
                                    <div class="price">
                                        <div class="price-wrapper">
                                            <div>
                                                <span
                                                    class="after_special {{#price<?php echo $price_key; ?>_original_formated}}promotion{{/price<?php echo $price_key; ?>_original_formated}}">
                                                    {{price<?php echo $price_key; ?>_formated}}
                                                </span>

                                                {{#price<?php echo $price_key; ?>_original_formated}}
                                                    <span class="before_special">
                                                        {{price<?php echo $price_key; ?>_original_formated}}
                                                    </span>
                                                {{/price<?php echo $price_key; ?>_original_formated}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result-description text-ellipsis">{{{ _highlightResult.description.value }}}</div>

                            {{#isAddToCartEnabled}}
                                {{#in_stock}}
                                    <form action="<?php echo Mage::getBaseUrl(); ?>/checkout/cart/add/product/{{objectID}}"
                                          method="post">
                                        <input type="hidden" name="form_key"
                                               value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>"/>
                                        <input type="hidden" name="qty" value="1">
                                        <button type="submit" title="<?php echo $this->__('Add to Cart'); ?>"
                                                class="button btn-cart">
                                            <span><span><?php echo $this->__('Add to Cart'); ?></span></span>
                                        </button>
                                    </form>
                                {{/in_stock}}
                            {{/isAddToCartEnabled}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    {{/hits}}
</script>