	.firecheckout-index-index {
	
		#firecheckout-login-window {
			.form-list {
				input.input-text {
					width: 90%;
					-webkit-box-sizing: initial;
					-moz-box-sizing: initial;
					-ms-box-sizing: initial;
					-o-box-sizing: initial;
					box-sizing: initial;
				}
			}
		}
		.col-main {
			background-color: #eeebe9;
			padding: 10px;
			box-sizing: border-box;
			margin-top: 10px;


			.firecheckout-section {
				border: 0;
				background: transparent;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				margin: 0 0 5px 0;
			}

			.section {
				background-color: transparent;
				
				@media all and (max-width: 320px) {
					.firecheckout-login-wrapper {					
						max-width: 120px;
					}
				}
				
				.block-title {
					overflow: hidden;
					background: transparent;
					border: none;
					height: auto;
					padding: 0;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					font-family: $base-font;
					font-size: 22px;
					color: #000;
					text-transform: none;
					font-weight: normal;
					margin-bottom: 5px;
					line-height: 25px;

					span#payment-method-reset,
					span#shipping-method-reset {
						font-family: Arial, Helvetica, sans-serif;
						font-size: 12px;
						float: right;
						color: #999;
						cursor: pointer;
						line-height: 25px;
					}
				}

				#checkout-review-table-wrapper {
					background-color: #fff;
					
					@media all and (max-width: 440px) {
						table#checkout-review-table {
							width: 50% !important;
						}

						th {
							font-size: 0.9em;
						}
					}

					td:first-child {
						overflow: hidden;
						text-align: left;

						.product-image {
							float: left;
							width: 100px;
							height: 42px;
						}

						.product-info {
							margin-left: 105px;
							.product-name {
								font-family: $base-font;
								font-size: 2em;
							}
							
							p.garanti-villkor {
								margin-bottom: 0em;
							}

							p.sku {
								font-size: 0.9em;
							}

							.item-options {
								margin: 0;

								dt {
									font-weight: bold;
									margin-right: 10px;
								}

								dd:nth-child(even) {
									float: none;
									color: black;
									font-style: normal;
									.price {
										font-size: 22px;
										font-family: $base-font;
									}
								}
							}
						}

						@media (max-width: 780px) {
							h3 {
								margin-left: 0;
							}

							.product-image {
								display: none;
							}
							
							.product-info {
								margin-left: 0;
								.product-name {
									font-size: 1.5em;
									
								}
							}
						}
						
						@media (max-width: 320px) {
							.product-info {
								font-size: 0.9em;
								.product-name {
									font-size: 1.2em;
								}
								.sku {
									font-size: 0.8em;
								}
							}
						}
					}
					
					.cart-price {
						.price {
							font-size: 22px;
							font-family: $base-font;
						}
					}
						
					@media (max-width: 440px) {
						.cart-price {
							.price {
								font-size: 1.2em;
								font-family: $base-font;
							}
						}
						
						tfoot {
							.price {
								font-size: 15px;
							}
						}
					}
					
					@media (max-width:440px) {
						.qty-wrapper {
							width: 42px;
							
							input {
								width: 10px !important;
							}
							button {
								width: 13px;
							}
						}
					}

					td:last-child {
						text-align: right;
					}

					td.order-installation {
						background-color: #fff;
						border-top: 1px solid #f5f5f5;
						border-bottom: 1px solid #f5f5f5;
						text-align: left;
						vertical-align: middle;
						font-family: $base-font;
						font-size: 22px;
						padding-top: 15px;
						padding-bottom: 15px;

						button {
							margin-left: 20px;
						}

						@media (max-width: 780px) {
							button {
								margin-left: 0;
								margin-top: 10px;
								clear: both;
							}
						}
					}
					
					@media (max-width: 440px) {
						td.order-installation {
							font-size: 0.8em;
							font-family: inherit;
							.button {
								padding: 0 2px 0 2px;
								margin: 0;
								font-weight: normal !important;
								font-size: 0.8em;
							}

						}
					}
				}
				
				.crosssell {
					.crosssell-products-list {
						li.item {
							@media (min-width: 768px) {
								width: 31%;
							}
							@media (min-width: 960px) {
								width: 20%;
								margin: 0;
							}
							@media (min-width: 1280px) {
								width: 15%;
								margin: 0 0.8%;
							}
							.item-inner {
								.product-info {
									.prod-name {
										min-height: 45px;										
										width: 100%;
										font-size: 18px;
										line-height: 21px;
										font-family: $base-font;
										display: block;
										font-weight: bold;
										margin: 0 0 10px 0;
										/*text-transform: none;*/
									}
								}
								.bottom {
									margin-top: 0;
									.price-box {
										.old-price {
											text-align: left;
											margin: 0;
											padding-right: 0;
											display: block;
										}
										.special-price {
											position: initial;
										}
										
										span.label {
											display: block;
										}
									}
								}
							}
						}
					}
				}

				#checkout-coupon-discount-load {
					margin-top: 30px;

					.discount-form {
						background-color: #fff;
						padding: 10px;

						.input-box {
							margin-top: 4px;
							overflow: hidden;
						}

						input {
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							height: 33px;
							line-height: 33px;
							padding: 0 10px;
							border: 1px solid #ddd;
							-webkit-border-radius: 4px;
							-moz-border-radius: 4px;
							border-radius: 4px;
							background-color: #fff;
							margin: 0;

							@media only screen and (min-width: 769px) {
								width: 200px;
							}
						}
					}

				}

				#checkout-payment-method-load {
					background-color: #fff;
					font-size: 12px;

					.sp-methods {
						.svea-payment-logos {
							margin: 10px 0 0 30px;
						}
					}

					dt {
						input {
							width: 25px;
							vertical-align: middle;
						}

						label {
							font-size: 14px;
						}

						border-top: 1px solid #eeebe9;
						padding: 10px;
						margin: 0;

						&:first-child {
							border-top: 0;
						}
					}

					dd {
						padding: 0;
						margin: 0;
						-webkit-margin-start: 0;

						.form-list {
							padding: 0;
							margin: 0 0 10px;
							border: 0;
							box-shadow: none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							max-width: 100%;

							@media only screen and (min-width: 769px) {
								padding: 0px 10px 10px 0;
								margin-left: 30px; // setup of children lists
							}

							> li {
								margin: 0;
								padding: 10px;

								p {
									margin: 0;
								}
							}

							.klarna_payment_logo {
								width: 70%;
							}

							.klarna_readme {
								text-align: right;
								width: 30%;
							}

							.klarna_payment_logo,
							.klarna_readme {
								float: left;
								box-sizing: border-box;
								padding-bottom: 0;
								@media only screen and (max-width: 769px) {
									width: 50%;
								}
							}
						}

						ul#payment_form_svea_invoice {
							li {
								> div {
									border: 1px solid #ccc;
									padding: 10px;
									box-sizing: border-box;
									@media only screen and (min-width: 640px) {
										max-width: 265px;
									}
								}
							}
						}

						ul#payment_form_vaimo_klarna_invoice {
							.payment_plan_wrapper {
								display: none;
							}
						}

						ul#payment_form_vaimo_klarna_account {
							.payment_plan {
								&:after {
									display: block;
									content: ".";
									clear: both;
									font-size: 0;
									line-height: 0;
									height: 0;
									overflow: hidden;
								}

								dt, dd {
									float: left;
									width: 50%;
									box-sizing: border-box;
									padding: 10px;
									border-top: 1px solid #eeebe9;

									&:first-of-type {
										border-top: none;
									}
								}

								dd {
									text-align: right;
								}

								.clearer + dt:last-of-type {
									width: 100%;
								}
							}
						}

						ul#vaimo_klarna_invoice_input_fields {
							margin: 0;
						}
					}

					input[type="text"] {
						padding: 5px;
						line-height: 1.2em;
						height: 25px;
						font-size: 13px;
						border: 1px solid #bfb4ae;
						color: black;
					}
				}

				.block-content {
					background-color: #fff;

					#checkout-shipping-method-load {
						padding: 0;

						dt {
							display: none;
						}

						p {
							margin: 0;
						}

						dd {
							margin: 0;
						}

						dd ul li {
							display: block;
							border-top: 1px solid #eeebe9;
							padding: 10px 10px 10px 35px;
							margin: 0;
							overflow: hidden;
							position: relative;

							&:first-child {
								border-top: 0;
							}

							input {
								position: absolute;
								top: 10px;
								left: 10px;
								width: 25px;
								vertical-align: middle;
								float: left;
							}

							label {
								display: block;
								font-size: 14px;
								overflow: hidden;

								div {
									float: left;
									width: 240px;
									font-weight: bold;
								}

								span {
									float: right;
									font-family: inherit;
									font-size: inherit;
									color: inherit;
								}

								p {
									margin: 0;
									float: left;
									font-weight: normal;
								}
							}

						}
					}
				}

				&.summary {

					.block-content {
						padding: 10px;

						span {
							line-height: 25px;
						}

						.label {
							float: left;
							font-weight: bold;
							font-size: 120%;
						}

						.price {
							float: right;
						}
					}
				}

			}

			#billing-address {
				overflow: hidden;

				.form-list.form-address {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;

					> .wide {
						padding: 10px;
					}

					.form-checkoutfields {
						padding: 0 10px 0 10px;
						display: inline-block;
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						.input-box {
							float: left;
							width: 25%;
							padding: 0 10px;
							-webkit-box-sizing: content-box;
							-moz-box-sizing: content-box;
							-ms-box-sizing: content-box;
							-o-box-sizing: content-box;
							box-sizing: content-box;
							.input-text {
								width: 100%;
							}
						}
					}

					@media (max-width: 780px) {
						& {
							width: 100%;
							float: none;
						}
					}
				}

				.form-list.form-comment {
					width: 50%;
					float: right;
					padding: 10px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;

					label {
						display: block;
						float: none;
					}

					textarea {
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						width: 100%;
						border: 1px solid #ddd;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						background-color: #fff;
						height: 200px;
						resize: none;
					}

					@media (max-width: 780px) {
						& {
							width: 100%;
							float: none;
						}
					}
				}

				#billing-new-address-form {
					/*padding: 10px 0 10px;*/

					.fields {
						overflow: hidden;

						&:nth-child(4) {
							.field {
								&:nth-child(2) {
									width: 10%;
								}
								&:nth-child(3) {
									width: 15%;
								}
								@media (max-width: 1279px) {
									&:nth-child(2) {
										width: 25%;
									}
									&:nth-child(3) {
										width: 25%;
									}
								}
								
								@media (max-width: 767px) {
									&:nth-child(2) {
										width: 50%;
									}
									&:nth-child(3) {
										width: 50%;
									}
								}
								
								@media (max-width: 320px) {
									&:nth-child(2) {
										width: 50%;
									}
									&:nth-child(3) {
										width: 50%;
									}
								}
							}
						}

						.field {
							float: left;
							width: 25%;
							padding: 0 10px;
							box-sizing: border-box;
						}
						
						@media (max-width: 767px) {
							.field {
								width: 50%;
							}
						}
						
						@media (max-width: 320px) {
							.field {
								width: 100%;
							}
						}
					}

					.wide,
					.control {
						padding: 0 10px;
					}
					
					.wide {
						width: 25%;
						margin-bottom: 14px;
						box-sizing: border-box;
					}
					
					@media (max-width: 767px) {
						.wide {
							width: 50%;
						}
					}
					
					@media (max-width: 320px) {
						.wide {
							width: 100%;
						}
					}

					input[type=text],
					input[type=email] {
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						height: 34px;
						line-height: 34px;
						padding: 0 10px;
						border: 1px solid #ddd;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						background-color: #fff;
					}
				}
			}

			#checkout-review-submit {
				border-top: none;
				overflow: hidden;

				.buttons-set {
					border-top: none;
					margin-top: 0px;
					padding-top: 0;
				}

				button {
					float: right;
					height: 50px;
					line-height: 50px;
					font-size: 20px;
					padding: 0 30px;
				}
			}
		}

		#agreements-wrapper {
			background-color: #fff;
			border-bottom: 0px;
			padding: 10px;

			input {
				margin-right: 8px;
			}

			ol {
				&.checkout-agreements, &.newsletter-signup {
					li {
						background-color: transparent;
						padding: 0px;

						label {
							vertical-align: middle;
						}
					}
				}

				&.newsletter-signup {
					label {
						padding-left: 2px;
					}
				}
			}
		}

		#firecheckout-form {
		input[readonly],
			select[readonly] {
				cursor: not-allowed;
				background: #e3e3e3 !important;
			}
		}
		input.custom_discount {
			width: 40px;
		}
}


	.checkout-cart-index {
		.col-main {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: 10px;
			padding: 10px;
			background-color: #fff;
		}
	}

	.checkout-onepage-success {
		.col-main {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: 10px;
			padding: 10px;
			background-color: #fff;
		}
	}

	li.payment_plan_wrapper {
		display: block;
		width: 100%;
		min-width: 100%;

		#vaimo_klarna_account_pclasses {
			display: block;
			width: 100%;
			min-width: 100%;
			box-sizing: border-box;
			padding-right: 40px;

			li {
				width: 100%;
				min-width: 100%;
				display: block;
				float: none;
				clear: both;
				&.payment_plan_info_wrapper {
					.payment_plan_details {
						width: 100%;
					}
				}
			}

			li#infobox_pclass_297,
			li#infobox_pclass_115 {
				// All li-element following these should be hidden
				+ li {
					display: none;
					height: 0;
					margin: 0;
				}
			}
		}
	}

	#firecheckout-form .address {
		input[type="text"] {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			height: 34px;
			line-height: 34px;
			padding: 0 10px;
			border: 1px solid #ddd;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: #fff;
			margin: 0;
		}
	}
	.section.address {
		#billing-address {
			.custom-billing {
				position: relative;
				
				.checkout-fields {
					position: absolute;
					bottom: 0;
					.form-checkoutfields {
						li {
							padding-bottom: 4px;
							input.input-text {
								width: 100%;
							}
						}
					}
				}
				/*@media all and (min-width: 769px) {
					.checkout-fields {
						position: absolute;
						bottom: 0;
					}
				}*/
				@media all and (max-width: 767px) {
					li.fields,
					.form-checkoutfields > li {
						padding: 0 10px;
					}
					
					.grid12-3 {
						width: 50% !important;
					}
				}
			}
			
			#amorderattr{
				padding: 10px 0 0;
				.field-row {
					box-sizing: border-box;
					display: block;
					margin: 0 0 8px;

					label {
						float: none;
						span.required {
							color: #EE001C;
							font-weight: normal;
							font-family: Verdana, Tahoma, Arial, sans-serif;
							font-size: 12px;
							&:after {
								display: none;
							}
						}
					}

					.radios{
						li {
							display: inline-block;
							margin: 0 5% 0 0;
							padding: 7px 0;
						}
					}
					
					&:last-of-type {
						margin-bottom: -4px;
					}
				}
				
				@media (max-width: 767px) {
					.field-row {
						width: 100%;
					}
				}
				
				@media (max-width: 320px) {
					.field-row {
						width: 100%;
					}
				}

				.field-row > input {
					width: 100%;
				}
			}
		}

		#billing-new-address-form {
			.wide {
				width: 25%;
			}
			
			@media (max-width: 767px) {
				.wide {
					width: 50%;
				}
			}
			
			@media (max-width: 320px) {
				.wide {
					width: 100%;
				}
			}
		}
		#checkout-shipping-load {
			margin-top: 30px;

			.control {
				padding: 10px 10px 0;
				box-sizing: border-box;
				display: block;
				margin: 0 0 8px;
				width: 100%;
			}

			#amorderattr{
				padding: 10px 0 0;
				.field-row {
					width: 25%;
					padding: 0 10px;
					box-sizing: border-box;
					display: inline-block;
					margin: 0 0 8px;

					&.ship_sname,
					&.customer_client_phone{
						margin-right: 25%;
					}
					&.ship_zipcode {
						width: 10%;
					}
					&.shipping_city {
						width: 15%;
					}
					
					@media (max-width: 1279px) {
						&.ship_zipcode {
							width: 25%;
						}
						&.shipping_city {
							width: 25%;
						}
					}
					

					label {
						float: none;
						span.required {
							color: #EE001C;
							font-weight: normal;
							font-family: Verdana, Tahoma, Arial, sans-serif;
							font-size: 12px;
							&:after {
								display: none;
							}
						}
					}
				}
				
				@media (max-width: 767px) {
					.field-row {
						width: 49%;
						
						&.ship_sname,
						&.customer_client_phone {
							margin-right: 0;
						}
						&.ship_zipcode {
							width: 49%;
						}
						&.shipping_city {
							width: 49%;
						}
					}
				}
				
				@media (max-width: 320px) {
					.field-row {
						width: 100%;
						
						&.ship_sname,
						&.customer_client_phone {
							margin-right: 0;
						}
						&.ship_zipcode {
							width: 49%;
						}
						&.shipping_city {
							width: 49%;
						}
					}
				}

				.field-row > input {
					width: 100%;
				}
			}
		}
		#checkout-comment-load {
			margin-top: 30px;

			.form-comment {
				width: 25%;
				padding: 10px 10px 0;
				box-sizing: border-box;
				display: inline-block;
				margin: 0 0 8px;

				textarea {
					width: 95%;
					height: 4em;
				}

				label {
					float: none;
				}
			}
			@media (max-width: 767px) {
				.form-comment {
					width: 50%;
				}
			}
			
			@media (max-width: 320px) {
				.form-comment {
					width: 100%;
				}
			}
		}
	}