/**
 * Polarpumpen list of defined colors to the theme
 * and relevant mixins to the color
 */

/** Base colors */
$base-blue : #1b57a6;
$base-grey : #eeeeee;
$mid-grey : #e7e7e7;

$orange    : #fa6632;
$green     : #00a651;

@mixin alpha-background-color($color, $background) {
    $percent         : alpha($color) * 100%;
    $opaque          : opacify($color, 1);
    $solid-color     : mix($opaque, $background, $percent);
    background-color : $solid-color;
    background-color : $color;
}

@mixin alpha-attribute($attribute, $color, $background) {
    $percent      : alpha($color) * 100%;
    $opaque       : opacify($color, 1);
    $solid-color  : mix($opaque, $background, $percent);
    #{$attribute} : $solid-color;
    #{$attribute} : $color;
}

@mixin primary-information-color () {
  background-color: #EEEBE9;
}

@mixin secondary-information-color() {
  background-color: rgba(225, 225, 225, 0.6);
}