.block-layered-nav {
  position: relative;

  &.amshopby-filters-left {
    margin-bottom: -10px;
  }

  .actions {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0;
  }
  
  .price {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }

  .block-content {
    padding: 10px;

    #house-guide {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #efefef;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    #narrow-by-list {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;

      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #efefef;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    #narrow-by-list,
    #house-guide {
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      -webkit-column-rule: 1px solid #efefef; /* Chrome, Safari, Opera */
      -moz-column-rule: 1px solid #efefef; /* Firefox */
      column-rule: 1px solid #efefef;
      
      div.option {
        display: block;
        width: 100%;
        overflow: hidden;
        margin-bottom: 10px;
        break-inside: avoid-column;
        -webkit-column-break-inside: avoid; /* Chrome, Safari */
        page-break-inside: avoid;           /* Theoretically FF 20+ */

        label {
          font-weight: bold;
          margin-bottom: 2px;
          display: block;
        }

        select {
          width: 100%;
        }

        div {
          a {
            color: #000;
            text-decoration: none;
            .count {
              color: #999;
            }
          }
        }
      }
    }
  }
}