/**
 * Anything that has to do with the cart menu
 */
.header-regular .right-column .user-menu {
  .mini-cart {
    @media only screen and (min-width: 961px) {
      width: 52%;
      border: 1px solid rgba(129, 124, 124, 0.39);
      border-radius: 4px;
      text-align: center;
    }
  }

  #header-account {
    @media only screen and (min-width: 961px) {
      margin-top: 53px;
      width: 47%;
      box-sizing: border-box;
      padding-right: 10px;
    }
  }
}

.header .dropdown.open > .dropdown-heading.cover > * {
  background-color: transparent;
  border-bottom: 1px solid #eee;
}

.mini-cart.dropdown .mini-cart-content {
  padding: 10px;
}

//Hide the mini-cart block when we are in the following pages
//- firecheckout
//- regular checkout
.firecheckout-index-index,
.checkout-cart-index {
  #mini-cart-wrapper-regular {
    display: none;
  }
}


#mini-cart {
  @media only screen and (min-width: 961px) {
    .hide-above-960 {
      display: none !important;
    }
  }

  @media only screen and (max-width: 961px) {
    .hide-below-960 {
      display: none !important;
    }
  }

  .desktop-cart-header {
    background: #e5e5e5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.23) inset;
    padding: 0 5px;

    header {
      text-transform: uppercase;
      font-size: 0.7em;
      margin-bottom: 5px;
      padding: 5px 0 0;
      border-bottom: 1px solid rgba(129, 124, 124, 0.39);
    }

    div.cart-header-content {
      * {
        font-size: 20px;
      }
      font-weight: bold;
      font-family: $heading-font;
      padding-bottom: 10px;

      .cart-count {
        color: $base-blue;
      }

      .cart-amount {
        color: $orange;
      }
    }

    footer {
      text-align: right;
      padding-bottom: 5px;
      font-size: 0.7em;
      button {
        padding: 0 5px;
        line-height: 1em;
        height: 25px;
      }
    }
  }

  .mini-cart-content {
    background: #f2f2f2;
    outline-color: fade-out(#333333, 0.8);
    outline-width: 1px;
    outline-style: solid;

    li.item {
      background: transparent !important;
      .product-details {
        .btn-edit, .btn-remove {
          margin-top: 15px;
          color: fade-out($base-blue, 0.3);
        }

        .product-name {
          a {
            color: $base-blue !important;
            text-transform: uppercase;
            font-family: $heading-font;
            font-size: 1.2em;
          }
        }
      }
    }

    .subtotal, .actions {
      text-align: right;
      button {
        float: none !important;
        font-size: 0.9em;
      }
    }
  }
}