.catalog-category-view div[class*='energimarkning'],
.ma2-widgetproductlist div[class*='energimarkning']{
	display: inline;
    position: absolute;
    top: 27%;
}

@media all and (min-width: 1280px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 23%;
		right: 50%;
	}
}

@media all and (max-width: 1279px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 23%;
		right: 35%;
	}
}

@media all and (min-width: 768px) and (max-width: 959px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 23%;
		right: 10%;
	}
}

@media all and (max-width: 767px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 17%;
		right: 70%;
	}
}

@media all and (max-width: 639px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 17%;
		right: 60%;
	}
}

@media all and (max-width: 450px) {
	.catalog-product-view .product-primary-column div[class*='energimarkning']{
		position: absolute;
		top: 17%;
		right: 5%;
	}
}

div.energimarkning-appp,
div.energimarkning-app,
div.energimarkning-ap,
div.energimarkning-a,
div.energimarkning-b,
div.energimarkning-c,
div.energimarkning-d {
	a, span {
		position: relative;
		font-weight: bold;
		color: #fff;
		text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
		font-size: 110%;
		
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-width: 9px;
			margin-top: -9px;
		}
	}
}

.energimarkning-appp {
	a, span {
		@include bg-color(#00A652);
		padding: 2px 10px 2px 5px;
		&:after {
			border-left-color: #00A652 !important;
		}
	}
}

.energimarkning-app {
	a, span {
	@include bg-color(#4DB748);
	padding: 2px 15px 2px 5px;
	&:after {
		border-left-color: #4DB748 !important;
		}
	}
}

.energimarkning-ap {
	a, span {
	@include bg-color(#BFD62E);
	padding: 2px 20px 2px 5px;
	&:after {
		border-left-color: #BFD62E !important;
		}
	}
}

.energimarkning-a {
	a, span {
	@include bg-color(#FEF200);
	padding: 2px 25px 2px 5px;
	&:after {
		border-left-color: #FEF200 !important;
		}
	}
}

.energimarkning-b {
	a, span {
	@include bg-color(#FDB813);
	padding: 2px 30px 2px 5px;
	&:after {
		border-left-color: #FDB813 !important;
		}
	}
}

.energimarkning-c {
	a, span {
	@include bg-color(#F37022);
	padding: 2px 40px 2px 5px;
	&:after {
		border-left-color: #F37022 !important;
		}
	}
}

.energimarkning-d {
	a, span {
	@include bg-color(#ED1B24);
	padding: 2px 50px 2px 5px;
	&:after {
		border-left-color: #ED1B24 !important;
		}
	}
}