.faq-question-list .col-main {
    margin-top: 29px;
}

.faq-question-list .page-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: none;
    box-sizing: border-box;
    background-color: #fff;
}

.faq-question-list .page-title h1 {
    padding: 10px;
    line-height: 1.3em;
}

.faq-list {
    background-color: #fff;
    padding: 10px;
}

.faq-list li .answer {
    position: relative;
}

.faq-list .closed .answer {
    max-height: 35px;
    overflow: hidden;
}

.faq-list .closed .answer div.gradient {
    height: 35px;
    max-height: 35px;
    z-index: 500;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.faq-list .meta {
    overflow: hidden;
    margin-top: 2px;
}

.faq-list .readmore {
    font-weight: bold;
    color: #1b57a6;
    display: none;
    float: left;
    line-height: 25px;
}

.faq-list .closed .readmore {
    display: block;
}

.faq-list .meta .tags {
    float: right;
    display: block;
    list-style: none;
    margin: 0;
    padding: 3px 0;
}

.faq-list .meta .tags li {
    line-height: 17px;
    border: 1px solid #ddd;
    background-color: rgb(248,248,248);
    padding: 0 3px;
    color: #666;
    display: inline-block;
    margin: 0 0 0 4px;
    font-size: 85%;
    border-radius: 4px;
}

.faq-list li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;
}

.faq-list li:first-child {
    margin-top: 0;
    padding-top: 0px;
    border-top: none;
}

.faq-block {
    margin-top: 15px;
}

.faq-block .faq-list {
    padding: 10px;
    background-color: #fff;
}

.faq-block .faq-list h3 {
    color: #1b57a6;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FIXED ISSUE IN REAL TEMPLATE, SHOULD BE MOVED */
.nav-block {
    overflow: hidden;
}