<?php
$_agreements = $this->getAgreements();
if (!count($_agreements)) {
    return;
}
?>

<?php $outputType = Mage::getStoreConfig('firecheckout/agreements/output'); ?>
<ol class="checkout-agreements">
<?php $_i = 0; foreach ($_agreements as $_a): ?>
    <li<?php echo ++$_i === count($_agreements) ? ' class="last"' : ''?>>
        <div id="firecheckout-agreement-<?php echo $_a->getId() ?>-window"
            class="agreement-content"
            style="<?php echo 'minimal' === $outputType ? 'display: none;' : ($_a->getContentHeight() ? 'height:' . $_a->getContentHeight() : '') ?>"
        >
            <?php if ('minimal' === $outputType) : ?>
                <div class="page-title">
                    <span><?php echo $this->htmlEscape($_a->getName()) ?></span>
                </div>
            <?php endif; ?>
            <?php if ($_a->getIsHtml()):?>
                <?php echo $_a->getContent() ?>
            <?php else:?>
                <?php echo nl2br($this->htmlEscape($_a->getContent())) ?>
            <?php endif; ?>
        </div>
        <p class="agree">
            <input type="checkbox"
                id="agreement-<?php echo $_a->getId()?>"
                name="agreement[<?php echo $_a->getId()?>]"
                value="1"
                title="<?php echo $this->htmlEscape($_a->getCheckboxText()) ?>"
                class="checkbox"
            />
            <label for="agreement-<?php echo $_a->getId()?>"
                class="firecheckout-agreement-label-<?php echo $outputType ?> firecheckout-agreement-<?php echo $_a->getId() ?>"
                data-agreement="firecheckout-agreement-<?php echo $_a->getId() ?>"
            ><?php echo $_a->getCheckboxText() ?></label>
        </p>
    </li>
<?php endforeach ?>
</ol>
		<?php
		$cartItems = Mage::getModel("checkout/cart")->getItems();
		
		$installation = 0; 
		$pump = 0;
		foreach($cartItems as $_item): 
			$url = $_item->getProduct()->getProductUrl();
			
			switch(true) {
				case stristr($url, 'installation'):
					$installation++;
					break;
				case stristr($url, 'varumarken'):
					$pump++;
			}
		endforeach; 
		?>
<?php if($pump >= 1 && $installation <1): ?>
    <ol class="fgas-control">
        <li class="fgas control">
            <input type="checkbox" class="checkbox required-entry" id="fgas-control" name="fgas" value="1" title="Jag intygar att en certifierad kylfirma installerar värmepumpen, i enlighet med den nya F-gasförordningen (EU/517/2014)" class="checkbox" /><label for="fgas">Jag intygar att en certifierad kylfirma installerar värmepumpen, i enlighet med den nya F-gasförordningen (EU/517/2014)</label>
        </li>
    </ol>
<?php endif; ?>
<?php if (Mage::helper('firecheckout')->canShowNewsletter()) : ?>
    <ol class="newsletter-signup">
        <li class="newsletter control">
            <input type="checkbox" class="checkbox" id="newsletter-signup" name="newsletter" value="1"<?php if (Mage::getStoreConfig('firecheckout/general/newsletter_checkbox_state')) : ?> checked="checked"<?php endif; ?> title="<?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?>" class="checkbox" /><label for="newsletter-signup"><?php echo Mage::helper('newsletter')->__('Sign up for our newsletter') ?></label>
        </li>
    </ol>
<?php endif; ?>

