<?php
    $salesrep = Mage::getStoreConfig('salesrep/setup/enabled') && Mage::getStoreConfig('salesrep/step_setup/step_enabled');
?>

<?php if ($salesrep) : ?>
    <div id="checkout-additional" class="firecheckout-section">
        <div class="block-title"><span><?php echo $this->__('Additional Information') ?></span></div>
        <div class="block-content">
            <?php if (Mage::getStoreConfig('salesrep/setup/enabled') && Mage::getStoreConfig('salesrep/step_setup/step_enabled')) : ?>
            <?php $admins = Mage::helper('salesrep')->getUsersList(); ?>
            <ul class="form-list">
                <li>
                    <label for="getvoice" class="required"><em>*</em><?php echo Mage::getStoreConfig('salesrep/step_setup/step_label')?></label>
                    <div class="input-box">
                        <select id="getvoice" name="getvoice" class="validate-select">
                            <option value=""></option>
                            <option value="<?php echo $this->__('No Sales Representative') ?>"><?php echo $this->__('No Sales Representative') ?></option>
                            <?php foreach($admins as $admin): ?>
                            <option value="<?php echo $admin['label'] ?>"><?php echo $admin['label'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div style="display: none;" id="advice-validate-select-getvoice" class="validation-advice">
                        <?php echo Mage::getStoreConfig('salesrep/step_setup/step_error_msg')?>
                    </div>
                </li>
            </ul>
            <?php endif; ?>

        </div>
    </div>
<?php endif; ?>

<div id="checkout-review" class="firecheckout-section">
    <div class="block-title"><span><?php echo $this->__('Checkout Review') ?></span></div>
    <div id="checkout-review-load">
        <?php echo $this->getChildHtml('info') ?>
    </div>
    <?php
    $html = $this->getChildHtml('review_after');
    if ($html || $blockId = Mage::getStoreConfig('firecheckout/additional_content/reviewtable_after')) : ?>
        <div class="firecheckout-items-after">
            <?php echo $blockId ? $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml() : ''; ?>
            <?php echo $html ?>
        </div>
    <?php endif; ?>
    <script type="text/javascript">
        //<![CDATA[
            review = new Review(); // dummy class for various payment methods
        //]]>
    </script>

</div>