<?php if ($this->getQuote()->isVirtual() || !Mage::getStoreConfig('firecheckout/general/shipping_address')) : return; endif; ?>
<div id="checkout-shipping-load">
	<div class="block-title"><span><?php echo $this->__('Shipping Address') ?></span></div>
	<div class="block-content">
		<ul class="form-list">
			<li class="control">
				<script>
					jQuery(function($){				
						$("input#billing\\:street1").change(function() {
						var value = $(this).val();
						$("label[for='shipping\\:same_as_billing']").text('Försändelsen ska levereras till ' + value);
						});
					});
				</script>
				<input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1"<?php if($this->getAddress()->getSameAsBilling()): ?> checked="checked"<?php endif; ?> title="<?php echo $this->__('Ship to the same address') ?>" onclick="shipping.setSameAsBilling(this.checked)" class="checkbox" />
				<label for="shipping:same_as_billing">Försändelsen ska levereras till fakturaadressen</label>
			</li>
		</ul>

		<?php
			$_layout = $this->getLayout();
			$_isCustomerLoggedIn = $this->isCustomerLoggedIn();
			$_address = $this->getAddress();
			$_prefix  = 'shipping';
			$loggedInSales = Mage::helper('polarpumpen_customersavecart')->checkIfSalesAreLoggedIn(Mage::getStoreConfig('polarpumpen_customersavecart/general/PolarPumpenSalesCustomerGroupId'));


		//Added by 2016-11-01 Daniel P Polarpumpen. Here we check if customer is loggeg in and if shipping adress is different than billing.
		//This is to prevent the validation to fail when loading a vustom shipping address, because in checkout billing[use_for_shipping] must be set to 1
		if($_isCustomerLoggedIn) {
			if(!$loggedInSales) {
				if(!$_address->getSameAsBilling()) {
					$checkout = Mage::getSingleton("checkout/session");

					/* Hotfix for fixing the module Amorderattribute issue issue with country ID id not matching amorderattribute address drop down */

					$countryToCountryId = array(
						"SE"=>156,
						"NO"=>157,
						"FI"=>158,
						"DK"=>159
					);
					$checkout->setData('amasty_order_attributes', array('ship_fname'=>$_address->getFirstname(),
						'ship_sname'=>$_address->getLastname(),
						'ship_address'=>$_address->getStreet(1),
						'ship_zipcode'=>$_address->getCity(),
						'shipping_city'=>$_address->getPostcode(),
						'ship_country'=>$countryToCountryId[$_address->getCountryId()])); ?>

					<input type="hidden" name="billing[use_for_shipping]" value="1" id="billing:use_for_shipping" />

					<?php

				}
			} else { ?>
				<input type="hidden" name="billing[use_for_shipping]" value="1" id="billing:use_for_shipping" />

			<?php }
		}
			$status = Mage::getStoreConfig('firecheckout/address_form_status');
			if ('hidden' !== $status['postcode']) {
				$status['postcode'] = 'required'; // used to render asterisk
			}
			if (Mage::getStoreConfig('general/region/state_required')) {
				$status['region'] = 'required'; // used to render asterisk
			}
			$fields = array(
				/*'name'  => array(),
				'company' => array(
					'class' => 'input-text',
					'label' => 'Company'
				),
				'fax' => array(
					'class' => 'input-text',
					'label' => 'Fax'
				),
				'telephone' => array(
					'class' => 'input-text',
					'label' => 'Telephone'
				),
				'city' => array(
					'class' => 'input-text',
					'label' => 'City'
				),
				'postcode' => array(
					'class' => 'input-text validate-zip-international',
					'label' => 'Zip/Postal Code'
				),
				'street1' => array(
					'class' => 'input-text',
					'label' => 'Address',
					'title' => 'Street Address',
					'name'  => $_prefix . '[street][]',
					'value' => $_address->getStreet(1)
				),
				'country_id' => array(
					'label' => 'Country',
					'required_to_render' => 1
				),
				'region' => array(
					'label' => 'State/Province',
					'required_to_render' => 1
				)*/
			);

			$addressHelper = $this->helper('customer/address');
			if (method_exists($addressHelper, 'isVatAttributeVisible')) {
				$fields['vat_id'] = array(
					'status' => $addressHelper->isVatAttributeVisible() ? 'optional' : 'hidden',
					'class'  => 'input-text ' . $addressHelper->getAttributeValidationClass('vat_id'),
					'label'  => 'VAT Number'
				);
			}
		?>

		<div id="shipping-address" class="firecheckout-section"<?php if($this->getAddress()->getSameAsBilling()): ?> style="display: none;"<?php endif; ?>>
			<ul class="form-list">
			<?php if ($this->customerHasAddresses()): ?>
				<?php /*
			   <li class="wide">
				   <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
				   <div class="input-box">
					   <?php echo $this->getAddressesHtmlSelect('shipping') ?>
				   </div>
			   </li> */ ?>
			<?php endif ?>
				<li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
					<fieldset>
						<input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
						<ul>
							<?php foreach (Mage::helper('firecheckout/address')->getSortedFields() as $row) : ?>
								<?php
									$countVisible          = 0;
									$countRequiredToRender = 0;

									foreach ($row as $key => $field) { // do not use break in this cycle to fill statuses for all fields
										if (!isset($fields[$field])) { // shipping address doesn't have all of the fields
											unset($row[$key]);
											continue;
										}

										if (empty($status[$field])) {
											if (!empty($fields[$field]['status'])) {
												$status[$field] = $fields[$field]['status'];
											} else {
												$status[$field] = 'required';
											}
										}
										if (!empty($fields[$field]['required_to_render'])) {
											$countRequiredToRender++;
										}
										if ('hidden' !== $status[$field]) {
											$countVisible++;
										}
									}

									$isMulticolumn = ($countVisible > 1 || current($row) == 'name');
								?>

								<?php if (!$countVisible && !$countRequiredToRender): continue; endif; ?>

								<li class="<?php echo $isMulticolumn ? 'fields' : 'wide' ?>"<?php echo $countVisible ? '' : ' style="display: none;"' ?>>
									<?php foreach ($row as $field) : ?>
										<?php $required = ('required' === $status[$field]); ?>

										<?php if ('name' === $field) : ?>
											<?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($_address)->setFieldIdFormat($_prefix . ':%s')->setFieldNameFormat($_prefix . '[%s]')->toHtml() ?>
										<?php else : ?>

											<?php if ('hidden' === $status[$field]) :
												if (empty($fields[$field]['required_to_render'])) :
													continue;
												endif; ?>

												<div style="display: none;">
											<?php endif; ?>

											<?php if ($isMulticolumn) : ?>
												<div class="field">
											<?php endif; ?>

											<label for="<?php echo $_prefix ?>:<?php echo $field ?>"
												class="<?php echo $required ? 'required' : '' ?>"
												><?php if ($required): ?><em>*</em><?php endif; ?><?php echo $this->__($fields[$field]['label']) ?></label>
											<div class="input-box">
												<?php if ('country_id' === $field) : ?>
													<?php echo $this->getCountryHtmlSelect($_prefix) ?>
												<?php elseif ('region' === $field): ?>
													<select id="<?php echo $_prefix ?>:region_id" name="<?php echo $_prefix ?>[region_id]"
														title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
														class="validate-select<?php echo $required ? ' required-entry' : '' ?>" style="display:none;"
													>
														<option value=""><?php echo $this->__('Please select region, state or province') ?></option>
													</select>
													<script type="text/javascript">
													//<![CDATA[
														$('<?php echo $_prefix ?>:region_id').setAttribute('defaultValue',  "<?php echo $_address->getRegionId() ?>");
													//]]>
													</script>
													<input type="text" id="<?php echo $_prefix ?>:region" name="<?php echo $_prefix ?>[region]"
														value="<?php echo $this->htmlEscape($_address->getRegion()) ?>"
														title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
														class="input-text<?php echo $required ? ' required-entry' : '' ?>" style="display:none;"
													/>
												<?php else: ?>
													<?php
														if (isset($fields[$field]['value'])):
															$value = $fields[$field]['value'];
														else:
															$method = 'get' . ucfirst($field);
															$value = $_address->{$method}();
														endif;
													?>
													<input type="text"
														name="<?php echo (empty($fields[$field]['name']) ? $_prefix . '[' . $field . ']' : $fields[$field]['name']) ?>"
														id="<?php echo $_prefix ?>:<?php echo $field ?>"
														value="<?php echo $this->htmlEscape($value) ?>"
														title="<?php echo (empty($fields[$field]['title']) ? $this->__($fields[$field]['label']) : $this->__($fields[$field]['title'])) ?>"
														class="<?php echo $fields[$field]['class'] ?><?php echo $required ? ' required-entry' : '' ?>"
													/>
												<?php endif ?>
											</div>

											<?php if ($isMulticolumn) : ?>
												</div>
											<?php endif; ?>

											<?php if ('hidden' === $status[$field]) : ?>
												</div>
											<?php endif; ?>

										<?php endif; ?>

										<?php if ('street1' === $field) : ?>
											<?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
												</li>
												<li class="wide">
													<div class="input-box">
														<input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="<?php echo $_prefix ?>[street][]" id="<?php echo $_prefix ?>:street<?php echo $_i?>" value="<?php echo $this->htmlEscape($_address->getStreet($_i)) ?>" class="input-text" />
													</div>
											<?php endfor ?>
										<?php endif; ?>

									<?php endforeach; ?>
								</li>
							<?php endforeach; ?>

						<?php $addressAttributes = $this->getChild('customer_form_' . $_prefix . '_address_user_defined_attributes');?>
						<?php if ($addressAttributes): ?>
							<?php $addressAttributes->setEntity($_address)->setEntityType('customer_address');?>
							<?php $addressAttributes->setFieldIdFormat($_prefix . ':%1$s')->setFieldNameFormat($_prefix . '[%1$s]');?>
							<?php echo $addressAttributes->setExcludeFileAttributes(true)->setShowContainer(false)->toHtml()?>
						<?php endif;?>

						<?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
							<li class="control">
								<input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
						<?php else:?>
							<li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
						<?php endif;?>

						<?php $additional = $this->getChildHtml('shipping.additional.container');
						if (!empty($additional)) : ?>
							<li class="shipping-additional">
								<?php echo $additional; ?>
							</li>
						<?php endif; ?>
						</ul>
					</fieldset>
				</li>
			</ul>
			<script type="text/javascript">
			//<![CDATA[
				var shipping = new Shipping('firecheckout-form');
				var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
			//]]>
			</script>
			<?php if(Mage::helper('amorderattr')->fields('shipping')): ?>
				<?php echo Mage::helper('amorderattr')->fields('shipping'); ?>
			<?php endif; ?>
		</div>
	</div>
</div>