<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
?>
<?php
$products = $this->getNewItems();
if (!intval($thumbnail_width)) $thumbnail_width = 230;
if (!intval($thumbnail_height)) $thumbnail_height = 230;
?>
<?php if (sizeof($products) > 0): ?>
	<div id="ampromo-items-add"></div>
    <script type="text/javascript">
        Event.observe(window,'load', ampromo_init);
        if (window.location.hash == '#choose-gift' || <?php echo $autoOpen ? 'true' : 'false' ?>) {
            Event.observe(window, 'load', function() {
                button.click();
            });
        }
    </script>
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('gift_wrap_checkout')->toHtml(); ?>
	<div id="ampromo-items" class="section">
		<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('catalog/product/view/options/js.phtml')->toHtml() ?>
		<?php echo $this->getLayout()->createBlock('core/html_calendar')->setTemplate('page/js/calendar.phtml')->toHtml() ?>
		
		<div id="ampromo-carousel-wrapper">
			<div id="ampromo-carousel-content">
				<?php foreach ($products as $product): ?>
				
					<?php
					$thumbnail_width = $this->helper('catalog/image')->init($product, 'image')->getOriginalWidth();
                    $thumbnail_height = $this->helper('catalog/image')->init($product, 'image')->getOriginalHeight();

                    $imageRatio = $thumbnail_width / $thumbnail_height;

                    if ($thumbnail_width > 295) {
                        $thumbnail_width = 295;
                    }

                    $thumbnail_height = $thumbnail_width / $imageRatio;
                    // @FIXME: Temporary fix before launch. Re-calculate the height of the product image.
                    $thumbnail_height = intval($thumbnail_height + 1);
                    $productImage = $this->helper('catalog/image')->init($product, 'image')->resize(intval($thumbnail_width), $thumbnail_height);
					?>
				
					<div class="ampromo-slide">
						<div class="ampromo-item" data-product-id="<?php echo $product->getId()?>" data-product-sku="<?php echo $product->getSku()?>"<?php if($product->getTypeId() == 'amgiftcard'):?>style="width: 400px;"<?php endif;?>>
							<form method="POST" action="<?php echo $this->getFormActionUrl()?>" class="ampromo_items_form" id="ampromo_items_form-<?php echo $product->getId()?>">
								<input type='hidden' name='referer' value='<?php echo $this->_getReferer()?>' />
								<img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize($thumbnail_width, $thumbnail_height) ?>" class="ampromo-item-image"/>                            
								<h4><?php echo $product->getName()?></h4>
								<div class="ampromo-item-options"  <?php if($product->getTypeId() == 'amgiftcard'):?>style="overflow-y: scroll; max-height: 300px"<?php endif;?>>
									<?php

									switch($product->getTypeId()){
										case 'downloadable':
											$_blockOpt = 'downloadable/catalog_product_links';
											$_templateOpt = 'amasty/ampromo/items/downloadable.phtml';
											break;
										case 'configurable':
											$_blockOpt = 'catalog/product_view_type_configurable';
											$_templateOpt = 'amasty/ampromo/items/configurable.phtml';
											break;
										case 'bundle':
											$_blockOpt = 'ampromo/items_bundle';
											$_templateOpt = 'bundle/catalog/product/view/type/bundle/options.phtml';
											break;
										case 'amgiftcard':
											$_blockOpt = 'amgiftcard/catalog_product_view_type_giftCard';
											$_templateOpt = 'amasty/amgiftcard/catalog/product/view/type/giftcard.phtml';
											break;
										case 'virtual':
											$_blockOpt = 'catalog/product_view_type_virtual';
											break;
									}
									if(!empty($_blockOpt) && !empty($_templateOpt)) {

										echo $this->getLayout()
											->createBlock(
												$_blockOpt,
												'ampromo_item_' . $product->getId(),
												array('product' => $product)
											)
											->setProduct($product)
											->setTemplate($_templateOpt)
											->toHtml()
										;
									}
									?>

									<?php echo $this->getLayout()
										->createBlock('ampromo/items_options', '', array('product' => $product))
										->toHtml()
									;?>
								</div>

								<input type="hidden" value="<?php echo $product->getId() ?>" name="product_id" />
								<?php echo $this->getPriceHtml($product, false) ?>
								<div class="ampromo-item-buttons">
									<button type="button" title="<?php echo $this->__('Select')?>" class="button btn-cart add amcart-ignore"><span><span><?php echo $this->__('Select')?></span></span></button>
								</div>
							</form>
						</div>
					</div>
				<?php endforeach ?>
			</div>
		</div>
	</div>
<?php endif ?>